<mat-card class="container width-100">
  <mat-grid-list cols="24" [rowHeight]="90">
    <mat-grid-tile [colspan]="5" [rowspan]="1">
      <mat-select value="NEAR MISS" class="tool-bar-label" [formControl]="dashboardSelector">
        <mat-option value="NEAR MISS">NEAR MISS</mat-option>
        <mat-option value="MACHINERY STATS">MACHINERY STATS</mat-option>
        <mat-option value="INJURIES">INJURIES</mat-option>
        <mat-option value="INCIDENT">INCIDENT</mat-option>
      </mat-select>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="15" [rowspan]="1">
      <mat-label class="year-label">2019</mat-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <span class="header-icons">
        <button mat-flat-button class="icon-btn">
          <mat-icon class="colr-blue">trending_up</mat-icon>
        </button>
        <button mat-flat-button class="filter-btn"><mat-icon class="colr-blue">filter_list</mat-icon>Filters</button>
      </span>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-container [ngSwitch]="dashboardSelector.value">
    <ng-container *ngSwitchCase="'NEAR MISS'">
      <app-near-miss-stats></app-near-miss-stats>
    </ng-container>

    <ng-container *ngSwitchCase="'MACHINERY STATS'">
      <app-machinery-failure-stats></app-machinery-failure-stats>
    </ng-container>

    <ng-container *ngSwitchCase="'INJURIES'">
      <app-injuries-stats></app-injuries-stats>
    </ng-container>

    <ng-container *ngSwitchCase="'INCIDENT'">
      <app-incident-stats></app-incident-stats>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <app-near-miss-stats></app-near-miss-stats>
    </ng-container>
  </ng-container>
</mat-card>
<!-- </ng-template> -->
