.toolbar-style {
  padding: 0;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.header-icons {
  width: 100%;
  text-align: end;
}

.tool-bar-label {
  // width: 209px;
  background-color: #8798ad;
  color: white;
  padding: 12px 16px;
  // height: 35px;
  border-radius: 4px;
  // font-size: 12px;
}
.colr-blue {
  color: #17569e;
}
.common-div {
  width: 100%;
  height: 100%;
}
.filter-btn {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #17569e;
  margin-left: 20px;
  border-radius: 5px;
}
.icon-btn {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #17569e;
  border-radius: 5px;
  // margin-left: 776px;
}
.year-label {
  // background-color: #dde2e9;
  margin-left: 15px;
  border-radius: 5px;
  // font-size: 14px;
  width: 75px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
::ng-deep .tool-bar-label .mat-select-arrow {
  color: #f5f7f7;
}
:host ::ng-deep .tool-bar-label .mat-select-value {
  color: #f5f7f7;
}
.impact-header {
  font-size: 3rem;
}
.icon-up {
  color: #8798ad;
  font-size: 22px;
}
.select-label {
  color: #8798ad;
}
.number-style {
  font-weight: bolder;
  font-size: 30px;
}
:host ::ng-deep .mat-grid-tile.tile-figure .mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0;
  margin: 0;
}

.left-column {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #f7fafc;
}
// ::ng-deep .basic-column-2 .
.left-column::-webkit-scrollbar {
  display: none;
}

.label-thiner {
  font-weight: lighter;
}
.significant {
  background-color: #d63649;
  width: 100%;
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.major {
  background-color: #f9932c;
  width: 100%;
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.moderate {
  background-color: #f9c92b;
  width: 100%;
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.minior {
  background-color: #27a921;
  width: 100%;
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.trivial {
  background-color: #7fde04;
  width: 100%;
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.right-column {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #f7fafc;
  overflow: scroll;
  margin-left: 10px;
}
.right-column::-webkit-scrollbar {
  display: none;
}
.chart-label {
  color: #16569e;
  margin: 0;
  padding: 1.5rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.chart-label-w-border {
  padding: 1.5rem 0 0.3rem;
  border-bottom: 3px solid #17569e;
  margin-bottom: 1.2rem;
}

.chart-label-w-n-border {
  padding: 1.5rem 0 0.3rem;
  border-bottom: 3px solid transparent;
  margin-bottom: 1.2rem;
}

.disc-btn {
  background-color: #326aaa;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 306px;
  border-radius: 20px;
  height: 36px;
  width: 70px;
}
.show-btn {
  background-color: #e1e6ed;
  color: #17569e;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
  height: 36px;
  width: 78px;
}
.arraow-icon {
  font-size: 18px;
}

.full-width {
  width: 100%;
}
/* stylelint-disable */
:host ::ng-deep .pie-chart-height-reduced .highcharts-container {
  position: relative;
  overflow: hidden;
  width: 291px;
  height: 300px !important;
  line-height: normal;
  z-index: 0;
  user-select: none;
}

:host ::ng-deep .pie-chart-height-reduced2 .highcharts-container {
  position: relative;
  overflow: hidden;
  width: 291px;
  height: 362px !important;
  line-height: normal;
  z-index: 0;
  user-select: none;
}
/* stylelint-enable */

:host ::ng-deep .pie-chart-height-reduced .highcharts-root {
  height: 300px;
}

:host ::ng-deep .pie-chart-height-reduced2 .highcharts-root {
  height: 362px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pie-chart-header {
  margin-bottom: -30px;
  z-index: 9;
}

.pie-chart-header-font {
  color: #8798ad;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}

.header-font-style-2 {
  color: #38aae7;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.pie-chart-header-icon {
  color: #8798ad;
  font-size: 2rem;
  cursor: pointer;
}

.padding-bottom-1-3rem {
  padding-bottom: 1.3rem;
}

.padding-bottom-2rem {
  padding-bottom: 2rem;
}

.padding-top-1-3rem {
  padding-top: 1.3rem;
}

:host ::ng-deep .mat-radio-label {
  margin: 0 1px;
}

:host ::ng-deep .mat-slide-toggle-content {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #75808b;
}

.padding-top-3rem {
  padding-top: 3rem;
}

.padding-bottom-3-8rem {
  padding-bottom: 3.8rem;
}

.kpi-indicator {
  width: 2rem;
  height: 2rem;
  background: red;
  border-radius: 50%;
  display: inline-block;
}

.kpi-lable {
  font-weight: 500;
}

.wide-label-text {
  width: 100%;
  display: inline-block;
}

.thin-label-text {
  display: inline-block;
  width: 70%;
}

.thin-label-number {
  width: 30%;
}

.padding-top-10px {
  padding-top: 10px;
}

.card-header {
  height: 3.5rem;
}
