<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Incident"
      subtitle="ALL INCIDENTS"
      navigateButtonTitle="New Incident"
      (ngNavigateClick)="onAddForm()"
    >
    </app-toolbar>
    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [editType]="editType"
      [sideBar]="sideBar"
      [icons]="icons"
      [defaultColDef]="defaultColDef"
      [frameworkComponents]="frameworkComponents"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>
