<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Vessels"
      subtitle="ALL VESSELS"
      navigateButtonTitle="New Vessel"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>

    <!-- <div class="container"> -->
    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      [domLayout]="domLayout"
      (cellValueChanged)="onCellValueChanged($event)"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
    <!-- </div> -->
  </mat-card-content>
</mat-card>
