<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px" class="padding-top">
  <ng-container *ngFor="let vessel of vesselsData">
    <div fxFlex="100%" fxLayout="row" class="vessel-data-row">
      <span fxFlex="50%" class="vessel-label vessel-font"> {{ vessel.vesselName }} </span>
      <span fxFlex="25%" class="text-right vessel-value vessel-font"> {{ vessel.vesselValue }} </span>
      <span fxFlex="25%" class="text-right">
        <mat-icon [ngClass]="[vessel.sign, 'arrow-font']"> {{ vessel.indication }} </mat-icon>
      </span>
    </div>
  </ng-container>
</div>
