.padding-top {
  padding-top: 1rem;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.vessel-data-row {
  padding: 1rem 1rem;
  background: #e1e6ed;
  border-radius: 6px;
}

.vessel-font {
  font-size: 1.1rem;
}

.vessel-value {
  color: black;
  font-weight: 800;
}

.vessel-label {
  color: black;
  font-weight: 400;
}

.arrow-font {
  font-size: 1.8rem;
  font-weight: 600;
}

.red {
  color: #e54e60;
}

.green {
  color: #20c43f;
}

.yellow {
  color: #f1cd1d;
}
