:host ::ng-deep .flex-1.margin-right {
  margin-right: 10px;
}

.table-header-reminder {
  background-color: #8798ad;
  text-align: center;
  padding: 20px 8px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

:host ::ng-deep .mat-slide-toggle-bar {
  background-color: #6f96c3;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container + .mat-slide-toggle-thumb {
  background-color: white;
}

.vessel-inspection-slide-text {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 300;
}
