<!-- Header Content -->
<div
  [formGroup]="reminderForm"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  class="dialog-header dialog-header-width"
>
  <div fxFlex>
    <span class="dialog-header-label">Vessel</span>
    <div class="padd-top-bottom">
      <mat-select
        [value]="'Vessel 10'"
        class="common-styles vessel-select"
        (selectionChange)="selectionChangedVessel($event)"
        disableOptionCentering
        panelClass="myPanelClass"
        formControlName="vesselId"
      >
        <mat-option value="">Select</mat-option>

        <mat-option *ngFor="let vessel of vesselsList" [value]="vessel.vesselId">
          {{ vessel.vessel }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div fxFlex="30%">
    <span class="dialog-header-label">Inspection Type</span>
    <div class="padd-top-bottom">
      <span class="vessel-inspection-slide-text">SIRE</span>
      <mat-slide-toggle formControlName="inspectionType">
        <span class="vessel-inspection-slide-text">NON SIRE</span>
      </mat-slide-toggle>
    </div>
  </div>
</div>
<!-- Header Content -->

<!-- Table Content -->
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-around stretch">
  <span fxFlex="50%" class="table-header-reminder">last date inspected</span>
  <span fxFlex="50%" class="table-header-reminder">{{ previousInspectionDate | localTimezone }}</span>
</div>
<br />

<app-form [config]="formlyConfig" class="dialog-card"> </app-form>
