.organization-form1 .mat-form-field {
  width: 48%;
  margin: 2px 10px;
}

.organization-form2 .mat-form-field {
  width: 98%;
  margin: 10px;
}
.organization-form3 .mat-form-field {
  width: 31.33%;
  margin: 10px;
}

.save-btn-org {
  margin: 10px 10px 0 10px;
  background-color: #16569e;
}
.delete-btn-org {
  margin: 10px 10px 0 10px;
  color: #16569e;
}

.mat-org-title {
  margin: 10px 20px;
  color: #16569e;
  font-weight: bold;
  font-size: 26px;
}

.from-title {
  font-family: sans-serif;
  margin: 20px;
  color: #8798ad;
}

.card-container {
  background-color: white;
  box-shadow: 2px 2px 5px #e8e8e8;
  border: 2px solid #e8e8e8;
  padding: 10px;
  margin: 10px 15px 10px 34px;
  border-radius: 10px;
  height: calc(80% - 10px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.mat-card {
  box-shadow: 2px 2px 2px transparent;
}

.button-section {
  display: flex;
  justify-content: flex-end;
}

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-title2 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}

.form-page-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.mat-card .mat-divider-custom2.mat-divider-horizontal {
  border-top-width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 95%;
  margin-left: 22px;
  border-top-style: dashed;
}

.back-shift-btn {
  float: right;
}
.mat-raised-button[disabled][disabled] {
  background-color: #cadef5;
  color: #fff;
}
.mat-toolbar.table-heading[_ngcontent-icq-c352] {
  padding: 0 32px 0 12px;
}
