<!--<h2 class="from-title">Organization Form</h2>-->
<div class="container">
  <mat-toolbar fxLayoutAlign="none start">
    <span>
      <mat-card-title class="mat-org-title">New Organization</mat-card-title>
    </span>
    <span fxFlex></span>
    <span>
      <a class="btn-success" mat-stroked-button routerLink="/organization">
        <mat-icon>arrow_back_ios</mat-icon> Organization
      </a>
    </span>
  </mat-toolbar>

  <!--<div class="mat-title mat-org-title" >Organization Form
      <div class="back-shift-btn">
          <a class="btn-success" mat-stroked-button routerLink="/organization">
            <mat-icon>arrow_back_ios</mat-icon> Organization
          </a>
        </div>
  </div>-->

  <form [formGroup]="organizationFormGroup">
    <app-form [config]="formlyConfig"> </app-form>
  </form>
</div>
