.resultant-risk {
  width: 250px;
  height: 125px;
  border-radius: 10px;
  text-align: center;
  color: #fff;

  &.extreme {
    border: 1px solid #d63649;
    background-color: #d63649;
  }

  &.medium {
    border: 1px solid #f1cd1d;
    background-color: #f1cd1d;
  }

  &.normal {
    border: 1px solid #fff;
    background-color: #07b907;
  }
}

.impact-label {
  padding-top: 20px;
}
