<div fxLayout="row" fxLayoutAlign="space-between center" class="probability-recc">
  <div fxFlex="40%" fxLayout="column" fxLayoutAlign="space-between start">
    <h4 class="heading-with-underline">{{ to.label }}</h4>
    <mat-radio-group
      (change)="onChangeprobability($event)"
      [formlyAttributes]="field"
      class="radio-group tp-radio-group btn-field-bt-mg"
      [formControl]="formControl"
      fxLayout="column"
      [required]="to.required"
      [tabindex]="to.tabindex"
      name="probablityOfRecurrence"
    >
      <mat-radio-button
        *ngFor="let probability of to.probability; let probabilityIndex = index"
        [id]="'probability' + (probabilityIndex + 1)"
        class="tp-radio-button"
        color="primary"
        value="{{ probability.name }}"
        matTooltip="{{ probability.description }}"
      >
        {{ probabilityIndex + 1 + ' - ' + probability.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxFlex="70%" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="resultant-risk analysis-right-space" [ngClass]="getImpactActiveClass()">
      <h1 class="center impact-label">{{ impactLabel }}</h1>
    </div>
  </div>
</div>
