<ng-template #dialog>
  <div [class]="'dialog-header ' + headerClass" *ngIf="header">
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </div>
  <mat-dialog-content class="dialog-content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="footer" align="end" class="dialog-footer">
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </mat-dialog-actions>
</ng-template>
