.mat-dialog-actions {
  padding: 8px 0 20px 0;
}

::ng-deep .mat-raised-button[disabled]:not([class*="mat-elevation-z"]) {
  color: #b5b5b5;
}

.dialog-header {
  padding: 24px;
  background: #16569e;
  margin: -24px -24px 0 -24px;
}
:host ::ng-deep .mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 65vh;
  overflow: auto;
  width: 80vw;
  -webkit-overflow-scrolling: touch;
}

.red-header {
  background-color: #e54f60;
}

.yellow-header {
  background-color: #f1cd1c;
}

.orange-header {
  background-color: #f5a52e;
}

.green-header {
  background-color: #27a921;
}

.grey-header {
  background-color: #75818b;
}

.purple-header {
  background-color: #ce7bb6;
}
