<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Reminders"
      subtitle="My Vessel"
      navigateButtonTitle="SET REMINDER"
      (ngNavigateClick)="openCreateForm()"
      [selectValue]="headerSelection"
      [selectOptions]="headerSelectOptions"
      (headerSelectionChanged)="headerSelectValue($event)"
    ></app-toolbar>

    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [getRowHeight]="getRowHeight"
      [editType]="editType"
      [frameworkComponents]="frameworkComponents"
      [pagination]="false"
      [headerHeight]="headerHeight"
      [suppressRowClickSelection]="true"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>

<app-dialog
  [dialog]="displayDialog"
  (afterOpened)="onDialogOpen($event)"
  [header]="header"
  [content]="content"
  (afterClosed)="onDialogClose()"
>
</app-dialog>

<ng-template #header> </ng-template>

<ng-template #content>
  <app-add-reminder
    [reminder]="reminderEdit"
    [isEdit]="_editReminder"
    (closeDialog)="discard($event)"
  ></app-add-reminder>
</ng-template>
