:host ::ng-deep .ag-header-cell-resize {
  width: 1px;
  background-color: white;
  right: -4px;
}

:host ::ng-deep .ag-theme-material .bold-text {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

:host ::ng-deep .ag-theme-material .bold-text i {
  color: #24569e;
  display: inherit;
  vertical-align: middle;
  margin-left: 11px;
}
