:host ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 10px;
  padding: 10px;
}

:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline {
  min-height: 56px !important;
}

:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline .ng-value {
  padding-top: 0.25rem;
}

:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline .ng-placeholder {
  padding: 0.25em 0.25em;
}

:host ::ng-deep .ng-select.ng-invalid.ng-touched .ng-select-container.ng-appearance-outline:after {
  border-color: #f44336;
  border-width: 2px;
}

:host
  ::ng-deep
  .ng-select.ng-invalid.ng-touched
  .ng-select-container.ng-appearance-outline
  > .ng-value-container
  > .ng-placeholder {
  color: #f44336;
}

:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline {
  border-color: #f44336;
  border-width: 2px;
}

:host ::ng-deep .ng-select {
  padding-bottom: 0.25em;
}

.mat-error {
  font-size: 75%;
  padding-left: 10px;
}
