::ng-deep .date-completion {
  width: 150px;
}

.mat-card-title {
  font-weight: bold;
  font-size: 25px;
  margin-left: 65px;
}
.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}
.fleet-vertical-stepper {
  margin: 0 20px 10px 20px;
  width: 100%;
}
.fleet-stepper {
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
}
::ng-deep .status-view {
  width: 70px;
  text-align: center;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

.message-box {
  display: inline-block;
  box-sizing: border-box;
}

.radio-box {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;
}

.radio-box .mat-radio-button {
  margin-left: 20px;
}

.acknowledge-radio-section {
  margin-bottom: 20px;
}

.fleet-form-field {
  width: 50%;
  padding: 0 18px 0 0;
}

.fleet-vessel-email .mat-form-field {
  margin: 25px 0;
  width: 50%;
}

::ng-deep .mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

::ng-deep .mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

::ng-deep .mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

::ng-deep .mat-line-custom::before {
  content: "";
  position: absolute;
  top: -38px;
  bottom: 41px;
  border-left-width: 1px;
  border-left-style: dashed;
  left: 19px;
  color: #16569e;
}

.btn-bwt-space {
  margin: 20px;
  // display: none;
}

.form-title {
  font-family: sans-serif;
  margin-bottom: 50px;
  margin-left: 100px;
  color: #8798ad;
}

::ng-deep .mat-step > .mat-vertical-stepper-header {
  display: none;
}

::ng-deep .mat-step .mat-vertical-content-container {
  margin-left: 0;
  position: unset;
}

::ng-deep .mat-vertical-stepper-header-container {
  display: none;
}

.stepper-content {
  margin-left: 36px;
}

::ng-deep div .mat-divider-nearmiss.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 97%;
  margin-left: 5px;
  border-top-style: solid;
}

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
  margin-top: 24px;
}
.form-page-subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}

//********** mat buttons*********///
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #16569e;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: transparent;
  color: #16569e;
  box-shadow: none;
}

.warn {
  background: #fb0606;
  color: #fff;
}

.btn-delete {
  margin-bottom: 22px;
}

.fleet-action-table {
  width: 100%;
}

::ng-deep .remove-btn {
  margin-bottom: 22px;
  background: #fb0606;
  color: #fff;
  height: 40px;
}

.mat-card-form-content {
  height: calc(91vh - 113px);
  overflow-x: auto;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: transparent;
}
