<mat-card class="mat-card-style">
  <mat-card-content>
    <mat-toolbar class="table-heading" fxLayoutAlign="none start">
      <span>
        <mat-card-title>Update Acknowledgement Form</mat-card-title>
      </span>
      <span fxFlex></span>
      <span>
        <a class="btn-success" mat-stroked-button routerLink="/fleetNotification">
          <mat-icon>arrow_back_ios</mat-icon> Fleet Notification
        </a>
      </span>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
<div class="stepper-content" fxLayout="row" fxLayoutAlign="start start">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="40px">
    <button
      (click)="move(0)"
      [ngClass]="activeIndex === 1 ? 'active' : getStepDone(1)"
      class="mat-raised-button-custom"
      mat-raised-button
    >
      1
    </button>
    <button
      (click)="move(1)"
      [ngClass]="activeIndex === 2 ? 'active' : getStepDone(2)"
      class="mat-line-custom mat-raised-button-custom"
      mat-raised-button
    >
      2
    </button>
  </div>
  <div fxFlex fxLayout="column" class="stapper-content-section stapper-content-section-custom">
    <mat-vertical-stepper #stepper [linear]="isLinear">
      <mat-card>
        <mat-card-content>
          <mat-step [stepControl]="acknowledgementFormGroup">
            <form (ngSubmit)="onSubmit()" [formGroup]="acknowledgementFormGroup" novalidate>
              <mat-card class="mat-card-form-content">
                <!-- <ng-template matStepLabel>Acknowledgement</ng-template> -->
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Acknowledgement</label>
                    <label class="form-page-subtitle">ENTER ACKNOWLEDGEMENT DATA</label>
                  </div>
                  <div>
                    <button (click)="move(1)" class="btn-bwt-space" color="primary" mat-raised-button>
                      Next
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"></mat-divider>
                </div>
                <br />
                <!-- <br /> -->
                <div class="acknowledge-radio-section" fxLayout="row">
                  <mat-radio-group
                    (change)="onAlertOnBoard($event)"
                    [(ngModel)]="alertValue"
                    appearance="outline"
                    class="radio-group"
                    formControlName="alertDiscussedOnBoard"
                    name="alert"
                  >
                    <!-- <h4>Stop Card Issued </h4> -->
                    <div class="message-box">
                      <p>
                        <mat-label>The Alert has been discussed on board</mat-label>
                      </p>
                    </div>
                    <div class="radio-box">
                      <mat-radio-button color="primary" value="yes">
                        Yes
                      </mat-radio-button>
                      <mat-radio-button color="primary" value="no">
                        No
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>

                <div fxLayout="row">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg fleet-form-field">
                    <mat-label>Master's Name</mat-label>
                    <mat-select formControlName="masterNameId" required>
                      <!-- <mat-option>Select master name</mat-option> -->
                      <mat-option *ngFor="let user of userData" [value]="user.userId">{{ user.firstname }}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        acknowledgementFormGroup.controls.masterNameId.invalid &&
                        acknowledgementFormGroup.controls.masterNameId.touched
                      "
                    >
                      <span translate>Master Name is required</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field (click)="picker.open()" appearance="outline" class="btn-field-bt-mg fleet-form-field">
                    <mat-label>Date</mat-label>
                    <input [matDatepicker]="picker" formControlName="date" matInput required />
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="
                        acknowledgementFormGroup.controls.date.invalid && acknowledgementFormGroup.controls.date.touched
                      "
                    >
                      <span translate>Date is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxLayout="row">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg fleet-form-field">
                    <mat-label>Participant's</mat-label>
                    <mat-select formControlName="participants" multiple required>
                      <mat-option *ngFor="let designation of designationData" [value]="designation.duid">
                        {{ designation.designation }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        acknowledgementFormGroup.controls.participants.invalid &&
                        acknowledgementFormGroup.controls.participants.touched
                      "
                    >
                      <span translate>Participants is required</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="btn-field-bt-mg fleet-form-field">
                    <mat-label>Email ID's</mat-label>
                    <input formControlName="emails" matInput multiple placeholder="email Id's" />
                  </mat-form-field>
                </div>

                <!-- <div class="fleet-vessel-email" fxLayout="row">

                </div> -->

                <div fxLayout="column" fxLayoutAlign=" none">
                  <mat-form-field appearance="outline">
                    <mat-label>Comments</mat-label>
                    <textarea formControlName="comments" matInput placeholder="comments" rows="4"> </textarea>
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="acknowledgementReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                    <span translate>Discard </span>
                  </button> -->
                    <button (click)="move(1)" color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes </span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>
          <mat-step [stepControl]="actionForm">
            <form (ngSubmit)="onSubmitActionForm()" [formGroup]="actionForm">
              <!-- <ng-template matStepLabel>Actions</ng-template> -->
              <mat-card class="mat-card-form-content">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Actions</label>
                    <label class="form-page-subtitle">ENTER ACTION DATA</label>
                  </div>
                  <div fxLayout="row">
                    <button
                      (click)="move(0)"
                      class="btn-bwt-space"
                      color="primary"
                      mat-raised-button
                      matStepperPrevious
                    >
                      Back
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"></mat-divider>
                </div>
                <br />
                <div>
                  <table class="table table-hover fleet-action-table">
                    <tbody formArrayName="action">
                      <tr *ngFor="let actions of getActionControls().controls; let i = index" [formGroupName]="i">
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg action-field">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="type">
                              <mat-option>Select type</mat-option>
                              <mat-option *ngFor="let types of type" [value]="types">{{ types }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg">
                            <mat-label>Nature of Action</mat-label>
                            <input formControlName="natureOfAction" matInput placeholder="natureOfAction" required />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field
                            (click)="pickerDueDate.open()"
                            appearance="outline"
                            class="btn-field-bt-mg date-completion"
                          >
                            <mat-label>Due Date</mat-label>
                            <input [matDatepicker]="pickerDueDate" formControlName="dueDate" matInput />
                            <mat-datepicker-toggle [for]="pickerDueDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerDueDate></mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg date-completion">
                            <mat-label>Responsibility</mat-label>
                            <mat-select formControlName="designationId" required>
                              <mat-option>Select designation</mat-option>
                              <mat-option *ngFor="let designation of designationData" [value]="designation.duid">
                                {{ designation.designation }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg status-view">
                            <mat-label>Status</mat-label>
                            <input hidden="true" matInput />
                            <section appearance="outline" class="example-section action-status">
                              <input formControlName="status" matCheckbox type="checkbox" />
                            </section>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field
                            (click)="pickerCompleted.open()"
                            appearance="outline"
                            class="btn-field-bt-mg date-completion"
                          >
                            <mat-label>Date Completed</mat-label>
                            <input [matDatepicker]="pickerCompleted" formControlName="dateCompleted" matInput />
                            <mat-datepicker-toggle [for]="pickerCompleted" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerCompleted></mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td>
                          <button (click)="onDeleteAction(i)" class="btn-delete remove-btn warn" mat-raised-button>
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div fxLayoutAlign="center">
                    <button (click)="onAddActionField()" color="primary" mat-raised-button>ADD ROW +</button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="actionReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                    <span translate>Discard</span>
                  </button> -->
                    <button color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes</span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>
        </mat-card-content>
      </mat-card>
    </mat-vertical-stepper>
  </div>
</div>
