<div class="vessel-list">
  <mat-toolbar class="mat-elevation-z6" fxLayout="column" fxLayoutAlign="start start" color="primary">
    <!--<mat-icon svgIcon="sea-ship-with-containers"></mat-icon>-->
    <mat-checkbox
      aria-label="Select All"
      color="primary"
      [indeterminate]="isIndeterminate()"
      (change)="$event ? toggleAll($event) : null"
    >
      <mat-form-field floatLabel="never" class="form-control">
        <input matInput calss="matInput" type="text" name="search" [(ngModel)]="searchText" placeholder="Search..." />
        <!---  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search...">  -->
      </mat-form-field>
    </mat-checkbox>
  </mat-toolbar>

  <mat-divider [inset]="true"></mat-divider>

  <mat-list class="my-vessel-scroll-bar">
    <mat-list-item *ngFor="let vessel of vessels | filter: searchText" class="my-vessel-card">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? toggle(vessel, $event) : null"
        color="primary"
        [checked]="exists(vessel)"
      >
        {{ vessel.vessel }}
      </mat-checkbox>
      <!--<p matLine>{{ vessel.vessel | uppercase }}</p>-->
      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
