:host {
  flex: 1;
}
.vessel-list mat-toolbar {
  background-color: #51baf3;
  padding: 11px 16px;
  box-shadow: none;
}
.vessel-list mat-icon {
  height: 44.65px;
  width: 63.23px;
}
.vessel-list h5 {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
mat-list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  height: 25px;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-inner-container {
  display: inline-block;
  height: 18px;
  line-height: 0;
  margin: auto;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 18px;
  flex-shrink: 0;
  margin-right: 15px;
}
.mat-list-base {
  padding-top: 1px;
  background-color: transparent;
}
.mat-toolbar-single-row {
  height: 56px;
}
::ng-deep .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 150px;
}
:ng-deep .mat-toolbar-single-row {
  text-align: left;
}
::ng-deep .mat-checkbox-layout {
  margin-top: -10px;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #005691;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-size: 14px;
}

.vessel-list .my-vessel-scroll-bar {
  overflow-y: auto;
  height: 300px;
}
.form-control {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  color: var(--ag-foreground-color, rgba(0, 0, 0, 0.87));
  font-family: inherit;
  font-size: inherit;
}
.matInput {
  border-bottom: 2px solid;
  border-bottom-color: #e2e2e2;
  border-bottom-color: var(--ag-border-color, #e2e2e2);
}
