.gaudge-container {
  margin: 25px;
  box-shadow: 0 0 16px -13px black;
  background: white;

  .gauge {
    max-height: 330px;
  }
}

.container,
.content .mat-card {
  background: #f8f7fc;
}

:host ::ng-deep .mat-toolbar-single-row {
  height: auto;
}

:host ::ng-deep .container {
  height: 100%;
}

:host ::ng-deep .gauge-chart {
  width: 100%;
  height: 200px;
}
