<div class="container content">
  <mat-card class="preparation-card">
    <mat-card-content>
      <app-toolbar title="Dashboard"></app-toolbar>

      <div class="container">
        <div fxLayout="row" fxLayoutAlign="column">
          <div fxFlex="20%">
            <div class="gaudge-container">
              <div class="gauge" *ngFor="let id of ids" fxLayout="row" fxLayoutAlign="column">
                <div fxFlex="100%">
                  <app-gauge [hidePositionLabel]="true" [id]="id" [className]="'gauge-chart'"></app-gauge>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
