<div *ngIf="id == 'cal2'">
  <button (click)="getNextMonth()" class="hide-btn" id="next">click</button>
  <div class="month-heading">{{ nextMonth }}</div>
  <full-calendar [id]="id" #calender2 class="calender-style" [options]="calendarOptions"></full-calendar>
</div>
<div *ngIf="id == 'cal1'">
  <button (click)="getPreviousMonth()" class="hide-btn" id="previous">click</button>
  <div class="month-heading">{{ prevMonth }}</div>
  <full-calendar [id]="id" #calender3 class="calender-style" [options]="calendarOptions"></full-calendar>
</div>
