<span class="main-cell" *ngIf="inspectionDate">
  <span
    [class.success-alert]="status === 'green'"
    [class.orange-alert]="status === 'orange'"
    [class.danger-alert]="status === 'red'"
    [class.default-alert]="status == undefined"
  >
    {{ inspectionDate | localTimezone }}
  </span>
  <span class="display-flex">
    <mat-form-field appearance="fill" class="cell-width">
      <mat-select [value]="interval">
        <mat-option value="3"> +3 </mat-option>
        <mat-option value="6"> +6 </mat-option>
        <mat-option value="9"> +9 </mat-option>
        <mat-option value="12"> +12 </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</span>
