.main-cell {
  display: flex;
  align-items: center;
  text-align: center;
}

.success-alert {
  color: white;
  padding: 10px 10px;
  background: #33b84c;
  border-radius: 7px;
  margin: 10px 20px;
  flex: 2;
}

.orange-alert {
  color: white;
  padding: 10px 10px;
  background: #f5a52d;
  border-radius: 7px;
  margin: 10px 20px;
  flex: 2;
}

.danger-alert {
  color: white;
  padding: 10px 10px;
  background: #ea7180;
  border-radius: 7px;
  margin: 10px 20px;
  flex: 2;
}

.default-alert {
  color: #878484;
  padding: 10px 10px;
  background: #e4e6e4;
  border-radius: 7px;
  margin: 10px 20px;
  flex: 2;
}

/* Class to Modify Select field in Scale column */
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
  background: #9dabbc;
  border-radius: 7px;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding-top: 0;
}

:host ::ng-deep .mat-select-arrow {
  margin: 12px 9px 0 0;
  color: white;
}

:host ::ng-deep .mat-select-value {
  text-align: center;
  color: white;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

/* Class to Modify Select field in Scale column */

.flex-1 {
  flex: 1;
}

.cell-width {
  width: 3.2rem;
}
