<div class="container">
  <mat-card>
    <p>
      <img alt="angular logo" class="logo" src="../../../assets/sail-logo.png" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Dashboard Coming Soon!</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
