<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Inspector"
      navigateButtonTitle="Add New"
      (ngNavigateClick)="onAddForm()"
      (ClickGrid)="ngGridClick($event)"
      (ClickColumn)="ngColumnClick($event)"
      [gridColumnShowHide]="gridColumnShowHide"
    ></app-toolbar>
    <!-- grid card -->
    <div *ngIf="showGrid == true">
      <div class="heading-label-mg-bt">
        <mat-label class="label-style1"
          >Inspector
          <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-label>
        <mat-label class="label-style2"
          >Roles
          <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-label>
        <mat-label class="label-style3"
          >Oil Majors
          <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-label>
      </div>
      <div class="search-bar">
        <mat-icon class="srh-icon">search</mat-icon>
        <input class="srh-input" type="text" placeholder="Search inspection" aria-label="Search" />
      </div>
      <div class="column-scroll">
        <mat-card class="card-style">
          <mat-card-header>
            <div mat-card-avatar class="example-header-img"></div>
            <div class="first-text-div">
              <p class="first-text" (click)="profileClick()">Winnifred Wintheiser</p>
            </div>
            <div class="third-text-div">
              <p>Inspector</p>
            </div>
            <div class="second-text-div">
              <p class="second-text">BP, ENI, NESTLE OIL, PETRON</p>
            </div>

            <div class="icon-div">
              <mat-icon class="edit-icon-style">create</mat-icon>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card class="card-style">
          <mat-card-header>
            <div mat-card-avatar class="example-header-img"></div>
            <div class="first-text-div">
              <p class="first-text" (click)="profileClick()">Sheila Bashirian</p>
            </div>
            <div class="third-text-div">
              <p>Inspector</p>
            </div>
            <div class="second-text-div">
              <p class="second-text">BP, LUCKOIL, PETRONS/MISC, STATOIL</p>
            </div>
            <div class="icon-div">
              <mat-icon class="edit-icon-style">create</mat-icon>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card class="card-style">
          <mat-card-header>
            <div mat-card-avatar class="example-header-img"></div>
            <div class="first-text-div">
              <p class="first-text" (click)="profileClick()">Dangelo Beer</p>
            </div>
            <div class="third-text-div">
              <p>Inspector</p>
            </div>
            <div class="second-text-div">
              <p class="second-text">Black sea, CHEVERON, STATOIL</p>
            </div>
            <div class="icon-div">
              <mat-icon class="edit-icon-style">create</mat-icon>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card class="card-style">
          <mat-card-header>
            <div mat-card-avatar class="example-header-img"></div>
            <div class="first-text-div">
              <p class="first-text" (click)="profileClick()">Ryleigh Lueilwitz</p>
            </div>
            <div class="third-text-div">
              <p>Inspector</p>
            </div>
            <div class="second-text-div">
              <p class="second-text">May 02, 2020</p>
            </div>
            <div class="icon-div">
              <mat-icon class="edit-icon-style">create</mat-icon>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card class="card-style">
          <mat-card-header>
            <div mat-card-avatar class="example-header-img"></div>
            <div class="first-text-div">
              <p class="first-text" (click)="profileClick()">Queintin Schneider</p>
            </div>
            <div class="third-text-div">
              <p>Inspector</p>
            </div>
            <div class="second-text-div">
              <p class="second-text">June 06, 2020</p>
            </div>
            <div class="icon-div">
              <mat-icon class="edit-icon-style">create</mat-icon>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card class="card-style" *ngFor="let i of count">
          <mat-card-header>
            <div mat-card-avatar class="example-header-img"></div>
            <div class="first-text-div">
              <p class="first-text" (click)="profileClick()">Queintin Schneider</p>
            </div>
            <div class="third-text-div">
              <p>Inspector</p>
            </div>
            <div class="second-text-div">
              <p class="second-text">June 06, 2020</p>
            </div>
            <div class="icon-div">
              <mat-icon class="edit-icon-style">create</mat-icon>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <!--column card-->
    <div *ngIf="showColumn == true">
      <div class="search-bar">
        <mat-icon class="srh-icon">search</mat-icon>
        <input class="srh-input" type="text" placeholder="Search inspection" aria-label="Search" />
      </div>
      <div class="column-scroll">
        <mat-grid-list cols="7">
          <mat-grid-tile class="column-tile" *ngFor="let i of count">
            <mat-card class="mg-20 box-card-mn-hgt" (click)="profileClick()">
              <div class="avatar-style">
                <div class="card-layout"></div>
              </div>
              <div class="column-card-create-icon">
                <mat-icon class="edit-icon-style-2">create</mat-icon>
              </div>
              <div class="column-card-create-icon">
                <mat-label class="label-style">Dr. Ulises Stoltenberg</mat-label>
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- add inspector dialog -->
<app-dialog [header]="header" [dialog]="displayDialog" [content]="content" [footer]="footer"></app-dialog>
<ng-template #header>
  <div mat-dialog-title>
    <div mat-card-avatar class="example-header-profile"></div>
    <p class="header-title">Add New</p>
  </div>
</ng-template>

<ng-template #content>
  <app-add-inspector (closeDialog)="discard($event)"></app-add-inspector>
</ng-template>

<ng-template #footer>
  <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
  <button mat-button mat-dialog-close class="save-btn">Save</button>
</ng-template>

<!--profile dialog-->
<app-dialog [header]="header1" [dialog]="displayProfileDialog" [content]="content1"></app-dialog>
<ng-template #header1>
  <div class="header-subtitle">
    <p class="header-inspector">INSPECTOR</p>
    <div mat-dialog-title>
      <div mat-card-avatar class="example-header-img"></div>
      <p class="header-title">Winnifred Wintheiser</p>
      <div class="second-part-div">
        <button mat-button class="view-obs-btn">View Observations</button>
        <button mat-button class="view-obs-btn">Request Generic Data</button>
        <button mat-button class="white-btn">
          <mat-icon>mail</mat-icon>
          Send Mail
        </button>
        <button mat-button class="white-btn">
          <mat-icon>redo</mat-icon>
          Export
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content1>
  <div class="dialog-content">
    <mat-grid-list cols="3" rowHeight="4:6">
      <mat-grid-tile colspan="1">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [colors]="chartColors"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          class="chart-style"
          id="chart"
        >
        </canvas>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-scrollable striped">
          <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="ship">
            <th mat-header-cell *matHeaderCellDef class="table-header">SHIP</th>
            <td mat-cell *matCellDef="let element">{{ element.ship }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="oil_majors">
            <th mat-header-cell *matHeaderCellDef class="table-header">OILMAJOR</th>
            <td mat-cell *matCellDef="let element">{{ element.oil_majors }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef class="table-header">PORT</th>
            <td mat-cell *matCellDef="let element">{{ element.port }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>DATE</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="obs">
            <th mat-header-cell *matHeaderCellDef>OBS</th>
            <td mat-cell *matCellDef="let element">{{ element.obs }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>
