.fleet-table .fleet-last-action {
  text-align: center;
}
.table-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 34px;
}

.text-center {
  text-align: center;
}

/* Details page design */
.mat-label {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.mat-card > .mat-card-content > .mat-divider-fleet-notification {
  border-top-width: 2px;
  border-top-color: #16569e;
  margin-left: 40px;
  width: 94%;
}

.mat-header-row {
  height: 40px;
}
::ng-deep .mat-paginator-page-size-select {
  width: 35px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
.mat-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  color: #16569e;
  background-color: white;
}

ag-cell-auto-height ag-cell-value ag-cell-focus {
  background-color: red;
}

/* :host/deep/.ag-theme-material .ag-cell-inline-editing {
  height: 48px;
}
:host/deep/.ag-theme-material .ag-cell-inline-editing {
  border-color: #16569e;
  border-color: var(--ag-input-focus-border-color, var(--ag-material-accent-color, #16569e));
}
 */

/* .btn{
  background-color: #6c757d !important;
} */

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

// ::-webkit-scrollbar {
//   width: 0;
//   background: transparent;
// }
// ::-webkit-scrollbar-thumb {
//   background: transparent;
// }
.modal-footer > :not(:last-child) {
  margin-right: 2.25rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
}
.modal-dialog {
  max-width: 543px;
  margin: 1.75rem auto;
}
.mdl-div-bg {
  background: #0b0a0a9c;
}
.mdl-body-pd {
  padding: 19px;
}
.task-icon-styl {
  font-size: 18px;
  position: absolute;
  top: 3px;
}

.mg-lft {
  margin-left: -10px;
}
/// ag-grid css
.ag-theme-material .ag-header {
  background-color: #51baf3;
}
.ag-pivot-off .ag-header {
  background-color: #51baf3;
}

.search-bar {
  background-color: #eef1f3;
  border-radius: 7px;
  margin-bottom: 15px;
}
.srh-icon {
  margin: 10px 0 0 10px;
  color: #8c9cb1;
}
.srh-input {
  margin-bottom: 10px;
  //color: #8c9cb1;
  width: 95%;
  font-size: 17px;
  border: none;
  box-sizing: border-box;
  opacity: 0.1;
  position: relative;
  transition: none;
}
.inspector-card {
  background-color: #f4f1f7;
}
.example-header-img {
  background: url("src/assets/user.png") left top no-repeat;
  background-size: cover;
  background-position: top center;
}
.example-header-profile {
  background: #b2c0ce;
}
.card-layout {
  background: url("src/assets/user.png") left top no-repeat;
  height: 55px;
  width: 55px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  flex-shrink: 0;
  // -o-object-fit: cover;
  object-fit: cover;
}

.mat-card-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  margin-left: 30px;
}
.card-style {
  padding: 5px;
  margin-bottom: 10px;
}
.second-text {
  margin: 10px 10px 0 0;
}
.second-text-div {
  width: 500px;
}
.first-text {
  margin: 10px 0 0 0;
  color: black;
  cursor: pointer;
}
.first-text-div {
  width: 300px;
}
.third-text-div {
  width: 300px;
}
.icon-div {
  width: 100px;
}
.mat-card-header-text {
  margin: 0 5px;
}
.edit-icon-style {
  margin-top: 5px;
  color: #16569e;
}
.edit-icon-style-2 {
  margin-top: 5px;
  color: #16569e;
  font-size: 18px;
}

.cn-wid {
  width: 1112px;
}
.column-card-create-icon {
  text-align: center;
  margin-top: 5px;
}
.avatar-style {
  text-align: -webkit-center;
}
.mg-20 {
  margin-bottom: 22px;
  margin-right: 8px;
}
.box-card-mn-hgt {
  min-height: 160px;
  width: 146px;
  cursor: pointer;
}
// ::-webkit-scrollbar {
//   width: 0px;
//   background: transparent;
// }
// ::-webkit-scrollbar-thumb {
//   background: transparent;
// }
.label-style {
  font-size: 12px;
}

.column-scroll {
  height: calc(100vh - 285px);
  overflow-y: auto;
}
.column-tile {
  min-height: 160px;
}
//modal add inspector css
.header-title {
  margin: 5px 0 0 10px;
  font-size: 22px;
  color: white;
}

.cancel-btn {
  color: #16569e;
}

//inspector profile dialog css
.dialog-box-style {
  padding: 0;
  width: 1000px;
}

::ng-deep .mat-card-avatar[_ngcontent-hej-c465] {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  // -o-object-fit: cover;
  object-fit: cover;
  margin-left: 0;
}

::ng-deep .mat-dialog-container {
  padding: 0;
}
.header-subtitle {
  font-size: 12px;
  background-color: #16569e;
  color: #5b90d2;
}
.mat-dialog-title {
  display: flex;
  background-color: #16569e;
  color: white;
  padding: 0 0 15px 0;
}
.header-inspector {
  padding-left: 10px;
  font-size: 15px;
}

.dialog-content {
  padding: 0 20px 0 30px;
  display: block;
}

.dialog-footer {
  float: right;
  padding: 9px 32px 15px 0;
}
.save-btn {
  width: 70px;
  background-color: #16569e;
  color: white;
}
.view-obs-btn {
  color: white;
  border: 1px solid white;
  border-radius: 6px;
}
.white-btn {
  color: #16569e;
  background-color: white;
  border: 1px solid #16569e;
  border-radius: 6px;
}
.second-part-div {
  margin-left: 100px;
}

::ng-deep .chart-style {
  display: block;
  height: 400px;
  width: 240px;
}

// ::ng-deep .table-header{
//     color:#b2c0ce ;
// }
::ng-deep .table-scrollable {
  height: 200px;
  overflow-y: auto;
  width: 100%;
  margin-top: 72px;
}
::ng-deep .mat-header-cell {
  color: #b2c0ce;
}
.mat-row:nth-child(even) {
  background-color: #f2f2f2;
}

.mat-row:nth-child(odd) {
  background-color: white;
}
.label-style1 {
  font-size: 12px;
  text-transform: uppercase;
  color: #8698ad;
  margin-left: 120px;
}
.label-style2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #8698ad;
  margin-left: 174px;
}
.label-style3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #8698ad;
  margin-left: 206px;
}
.heading-label-mg-bt {
  margin-bottom: 12px;
}
