<mat-card class="mat-card-style">
  <mat-card-content>
    <mat-toolbar class="table-heading" fxLayoutAlign="none start">
      <span>
        <mat-card-title>Update Fleet Notification</mat-card-title>
      </span>
      <span fxFlex></span>
      <span>
        <a class="btn-success" mat-stroked-button routerLink="/fleetNotification">
          <mat-icon>arrow_back_ios</mat-icon> Fleet Notification
        </a>
      </span>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
<div class="stepper-content" fxLayout="row" fxLayoutAlign="start start">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="40px">
    <button
      (click)="move(0)"
      [ngClass]="activeIndex === 1 ? 'active' : getStepDone(1)"
      class="mat-raised-button-custom"
      mat-raised-button
    >
      1
    </button>
    <button
      (click)="move(1)"
      [ngClass]="activeIndex === 2 ? 'active' : getStepDone(2)"
      class="mat-line-custom mat-raised-button-custom"
      mat-raised-button
    >
      2
    </button>
    <button
      (click)="move(2)"
      [ngClass]="activeIndex === 3 ? 'active' : getStepDone(3)"
      class="mat-line-custom mat-raised-button-custom"
      mat-raised-button
    >
      3
    </button>
    <button
      (click)="move(3)"
      [ngClass]="activeIndex === 4 ? 'active' : getStepDone(4)"
      class="mat-line-custom mat-raised-button-custom"
      mat-raised-button
    >
      4
    </button>
    <button
      (click)="move(4)"
      [ngClass]="activeIndex === 5 ? 'active' : getStepDone(5)"
      class="mat-line-custom mat-raised-button-custom"
      mat-raised-button
    >
      5
    </button>
  </div>
  <div fxFlex fxLayout="column" class="stapper-content-section stapper-content-section-custom">
    <mat-vertical-stepper #stepper [linear]="isLinear">
      <mat-card>
        <mat-card-content>
          <mat-step [stepControl]="fleetOverviewFormGroup">
            <form (ngSubmit)="onSubmit()" [formGroup]="fleetOverviewFormGroup" novalidate>
              <!-- <ng-template matStepLabel>Overview</ng-template> -->
              <mat-card class="mat-card-form-content">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Overview</label>
                    <label class="form-page-subtitle">ENTER OVERVIEW DATA</label>
                  </div>
                  <div>
                    <button (click)="move(1)" class="btn-bwt-space" color="primary" mat-raised-button>
                      Next
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"> </mat-divider>
                </div>
                <br />
                <br />
                <div class="fleet-overview-form1" fxLayout="row">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Notification ID</mat-label>
                    <input formControlName="notificationId" matInput placeholder="Notification Id" required />
                    <mat-error
                      *ngIf="
                        fleetOverviewFormGroup.controls.notificationId.invalid &&
                        fleetOverviewFormGroup.controls.notificationId.touched
                      "
                    >
                      <span translate>Notification Id is required</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field (click)="picker.open()" appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Date</mat-label>
                    <input [matDatepicker]="picker" formControlName="date" matInput required />
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Applicable to Vessel Type</mat-label>
                    <mat-select formControlName="vesselTypeId" multiple required>
                      <mat-option *ngFor="let vesselTypeData of fleetVesselTypeData" [value]="vesselTypeData.vtuid">
                        {{ vesselTypeData.vesselType }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        fleetOverviewFormGroup.controls.vesselTypeId.invalid &&
                        fleetOverviewFormGroup.controls.vesselTypeId.touched
                      "
                    >
                      <span translate>Vessel type is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="fleet-overview-form2" fxLayout="row">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Notification Title</mat-label>
                    <input formControlName="notificationTitle" matInput placeholder="Notification title" required />
                    <mat-error
                      *ngIf="
                        fleetOverviewFormGroup.controls.notificationTitle.invalid &&
                        fleetOverviewFormGroup.controls.notificationTitle.touched
                      "
                    >
                      <span translate>Notification Title is required</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Report Id</mat-label>
                    <mat-select formControlName="incidentId" required>
                      <mat-option *ngFor="let incident of incidentData" [value]="incident.incidentId">
                        {{ incident.reportId }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        fleetOverviewFormGroup.controls.incidentId.invalid &&
                        fleetOverviewFormGroup.controls.incidentId.touched
                      "
                    >
                      <span translate>Report Id is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="fleet-overview-form3" fxLayout="row">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Issued By Name</mat-label>
                    <mat-select formControlName="issuedByNameId">
                      <mat-option *ngFor="let user of userData" [value]="user.userId">{{ user.firstname }} </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        fleetOverviewFormGroup.controls.issuedByNameId.invalid &&
                        fleetOverviewFormGroup.controls.issuedByNameId.touched
                      "
                    >
                      <span translate>Issued By Name is required</span>
                    </mat-error>
                  </mat-form-field>
                  <!-- <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Issued By-Position</mat-label>
            <input matInput placeholder="issued by-position" />
          </mat-form-field> -->
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="overviewReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                    <span translate>Discard </span>
                  </button> -->
                    <button (click)="move(1)" color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes </span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>
          <mat-step [stepControl]="descriptionFormGroup">
            <form (ngSubmit)="onSubmitDescription()" [formGroup]="descriptionFormGroup">
              <!-- <ng-template matStepLabel>Description</ng-template> -->
              <mat-card class="mat-card-form-content">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Description</label>
                    <label class="form-page-subtitle">ENTER DESCRIPTION DATA</label>
                  </div>
                  <div fxLayout="row">
                    <button
                      (click)="move(0)"
                      class="btn-bwt-space"
                      color="primary"
                      mat-raised-button
                      matStepperPrevious
                    >
                      Back
                    </button>
                    <button (click)="move(2)" class="btn-bwt-space" color="primary" mat-raised-button>
                      Next
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"> </mat-divider>
                </div>
                <br />
                <div fxLayout="column" fxLayoutAlign=" none">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput placeholder="Brief Description" rows="4">
                    </textarea>
                  </mat-form-field>
                </div>
                <!-- <div class="btn-top-space" fxLayout="row" fxLayoutAlign="space-between start"> -->
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="descriptionReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                      <span translate>Discard </span>
                    </button> -->
                    <button (click)="move(2)" color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes</span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>
          <mat-step [stepControl]="attachmentFormGroup">
            <form (ngSubmit)="onSubmitAttachment()" [formGroup]="attachmentFormGroup">
              <!-- <ng-template matStepLabel>Attachment</ng-template> -->
              <mat-card class="mat-card-form-content">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Attachment</label>
                    <label class="form-page-subtitle">UPLOAD FILES</label>
                  </div>
                  <div fxLayout="row">
                    <button
                      (click)="move(1)"
                      class="btn-bwt-space"
                      color="primary"
                      mat-raised-button
                      matStepperPrevious
                    >
                      Back
                    </button>
                    <button (click)="move(3)" class="btn-bwt-space" color="primary" mat-raised-button>
                      Next
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"> </mat-divider>
                </div>
                <br />

                <div class="attachment-section">
                  <!--<mat-form-field>-->
                  <div *ngFor="let image of images" class="image-box">
                    <img
                      [src]="image.url"
                      class="upload-images"
                      *ngIf="image.type == 'image/png' || image.type == 'image/jpg' || image.type == 'image/jpeg'"
                    />
                    <img
                      src="assets/zip.png "
                      class="pdfimages"
                      *ngIf="image.type == 'application/x-zip-compressed' || image.type == ' '"
                    />
                    <img
                      src="assets/file.png "
                      class="pdfimages"
                      *ngIf="
                        image.type !== 'application/pdf' &&
                        image.type !== 'image/png' &&
                        image.type !== 'image/jpg' &&
                        image.type !== 'image/jpeg' &&
                        image.type !== 'application/x-zip-compressed'
                      "
                    />
                    <img
                      src="assets/pdf.png "
                      class="pdfimages"
                      *ngIf="image.type == 'application/pdf'"
                      alt="assets/pdf.png"
                    />

                    <a (click)="deleteImage(image)" href="#"><mat-icon class="clear-icon">clear</mat-icon></a>
                    <p class="image-name">{{ image.name }}</p>
                  </div>

                  <!--<input matInput hidden="true" />-->

                  <div class="attachment-button">
                    <input
                      class="ng-hide upload-btn"
                      id="input-file-id"
                      multiple
                      type="file"
                      (change)="onFileChange($event)"
                      hidden="hidden"
                    />
                    <label for="input-file-id" class="md-button md-raised md-primary file-button"
                      ><mat-icon>attach_file</mat-icon> <span class="icon-text">ATTACHMENT</span></label
                    >
                  </div>

                  <!--</mat-form-field>-->
                </div>
                <div *ngIf="fleetNotificationData" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                  <span *ngFor="let files of fleetNotificationImage" class="image-box">
                    <label class="custom-file">
                      <img src="{{ API_URL + '/' + files.path }}" class="upload-images" />
                    </label>
                    <a (click)="deleteFleetNotificationImage(files.fnauid)">
                      <mat-icon class="clear-icon">clear</mat-icon>
                    </a>
                  </span>
                </div>
                <!-- <mat-form-field>
                <mat-label>File Browser</mat-label>
                <input hidden="true" matInput />
                <input
                  (change)="onFileChange($event)"
                  class="ng-hide upload-btn"
                  id="input-file-id"
                  multiple
                  type="file"
                />
                <label class="md-button md-raised md-primary" for="input-file-id"></label>
              </mat-form-field> -->
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="descriptionReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                    <span translate>Discard </span>
                  </button> -->
                    <button (click)="move(3)" color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes</span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>

          <mat-step [stepControl]="vesselFormGroup">
            <form (ngSubmit)="onSubmitVessel()" [formGroup]="vesselFormGroup">
              <!-- <ng-template matStepLabel>Vessels</ng-template> -->
              <mat-card class="mat-card-form-content">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Vessels</label>
                    <label class="form-page-subtitle">ENTER VESSEL DATA</label>
                  </div>
                  <div fxLayout="row">
                    <button
                      (click)="move(2)"
                      class="btn-bwt-space"
                      color="primary"
                      mat-raised-button
                      matStepperPrevious
                    >
                      Back
                    </button>
                    <button (click)="move(4)" class="btn-bwt-space" color="primary" mat-raised-button>
                      Next
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"> </mat-divider>
                </div>
                <br />
                <div class="fleet-vessel" fxLayout="row">
                  <mat-radio-group class="radio-group" name="matchOn">
                    <h4>Vessel Type</h4>
                    <div class="radio-div">
                      <mat-radio-button
                        (change)="onChangeVessel(vesselTypeData.vesselType)"
                        *ngFor="let vesselTypeData of fleetVesselTypeData"
                        value="vesselTypeData"
                        color="primary"
                      >
                        {{ vesselTypeData.vesselType }}
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>

                <div *ngFor="let vesselData of fleetVesselData" class="form-check" fxLayout="row">
                  <span *ngIf="vesselTypeList == vesselData.vesselType">
                    <input
                      (change)="onChange(vesselData.vesselId, $event.target.checked)"
                      [id]="vesselData.vesselId"
                      class="form-check-input"
                      formControlName="vesselId"
                      name="{{ vesselData.vessel }}"
                      type="checkbox"
                    />
                    <label for="{{ vesselData.vesselId }}">
                      {{ vesselData.vessel }}
                    </label>
                  </span>
                </div>

                <div class="fleet-vessel-email" fxLayout="row">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg">
                    <mat-label>Additional Email ID's</mat-label>
                    <input formControlName="email" matInput multiple placeholder="email Id's" />
                    <!-- <mat-error *ngIf="vesselFormGroup.controls.email.invalid && vesselFormGroup.controls.email.touched">
                    <span translate>Email is required</span>
                  </mat-error> -->
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="descriptionReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                    <span translate>Discard </span>
                  </button> -->
                    <button (click)="move(4)" color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes</span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>
          <mat-step [stepControl]="actionForm">
            <form (ngSubmit)="onSubmitActionForm()" [formGroup]="actionForm">
              <!-- <ng-template matStepLabel>Actions</ng-template> -->
              <mat-card class="mat-card-form-content">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div fxLayout="column">
                    <label class="form-page-title">Actions</label>
                    <label class="form-page-subtitle">ENTER ACTION DATA</label>
                  </div>
                  <div fxLayout="row">
                    <button
                      (click)="move(4)"
                      class="btn-bwt-space"
                      color="primary"
                      mat-raised-button
                      matStepperPrevious
                    >
                      Back
                    </button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-divider class="mat-divider-nearmiss"> </mat-divider>
                </div>
                <br />
                <div>
                  <table class="table table-hover fleet-action-table">
                    <tbody formArrayName="action">
                      <tr *ngFor="let actions of getActionControls().controls; let i = index" [formGroupName]="i">
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg action-field">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="type">
                              <mat-option value="immediate action">Immediate Action</mat-option>
                              <mat-option value="corrective action">Corrective Action</mat-option>
                              <mat-option value="preventive action">Preventive Action</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg">
                            <mat-label>Nature of Action</mat-label>
                            <input formControlName="natureOfAction" matInput placeholder="Nature of Action" required />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field
                            (click)="pickerDueDate.open()"
                            appearance="outline"
                            class="btn-field-bt-mg date-completion"
                          >
                            <mat-label>Due Date</mat-label>
                            <input [matDatepicker]="pickerDueDate" formControlName="dueDate" matInput />
                            <mat-datepicker-toggle [for]="pickerDueDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerDueDate></mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg date-completion">
                            <mat-label>Responsibility</mat-label>
                            <mat-select formControlName="designationId">
                              <mat-option>Select designation</mat-option>
                              <mat-option *ngFor="let designation of designationData" [value]="designation.duid">
                                {{ designation.designation }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="outline" class="btn-field-bt-mg status-view">
                            <mat-label>Status</mat-label>
                            <input hidden="true" matInput />
                            <section appearance="outline" class="example-section action-status">
                              <input formControlName="status" matCheckbox type="checkbox" />
                            </section>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field
                            (click)="pickerCompleted.open()"
                            appearance="outline"
                            class="btn-field-bt-mg date-completion"
                          >
                            <mat-label>Date Completed</mat-label>
                            <input [matDatepicker]="pickerCompleted" formControlName="dateCompleted" matInput />
                            <mat-datepicker-toggle [for]="pickerCompleted" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerCompleted></mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td>
                          <button (click)="onDeleteAction(i)" class="btn-delete remove-btn warn" mat-raised-button>
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div fxLayoutAlign="center">
                    <button (click)="onAddActionField()" color="primary" mat-raised-button>ADD ROW +</button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-form-field appearance="outline" class="btn-field-bt-mg status-view">
                    <mat-label>Send</mat-label>
                    <input hidden="true" matInput />
                    <section appearance="outline" class="example-section action-status">
                      <input formControlName="send" matCheckbox type="checkbox" />
                    </section>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <div></div>
                  <div>
                    <!-- <button (click)="actionReset()" class="btn-bwt-space" mat-button color="primary" type="reset">
                    <span translate>Discard</span>
                  </button> -->
                    <button color="primary" mat-raised-button type="submit">
                      <span translate>Save Changes</span>
                    </button>
                  </div>
                </div>
              </mat-card>
            </form>
          </mat-step>
        </mat-card-content>
      </mat-card>
    </mat-vertical-stepper>
  </div>
</div>
