.form-title {
  font-family: sans-serif;
  margin-bottom: 50px;
  margin-left: 100px;
  color: #8798ad;
}

.mat-card-title {
  font-weight: bold;
  font-size: 25px;
  margin-left: 65px;
}

.fleet-vertical-stepper {
  margin: 10px 20px;
  width: 100%;
}
.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0;
  width: 180px;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .date-completion {
  width: 150px;
}
.status-view {
  width: 100px;
  // text-align: center;
}
.status-view mat-label {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 15px;
  // padding: 10px;
}
.action-status {
  margin-top: -8px;
}
.filter-field {
  padding-top: 20px;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 2px;
}

.fleet-overview-form1 .mat-form-field {
  width: 33.33%;
  padding: 0 10px 0 0;
}

.fleet-overview-form2 .mat-form-field {
  width: 50%;
  padding: 0 10px 0 0;
}

.fleet-overview-form3 .mat-form-field {
  width: 40%;
}

.fleet-vessel-email .mat-form-field {
  margin: 25px 0;
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.vessel-location-radio-group {
  //display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.button-vessel div button {
  margin: 10px;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}

::ng-deep .tp-radio-button {
  margin: 10px 0 5px 5px;
}

::ng-deep .tp-radio-button[_ngcontent-uim-c289] {
  margin-left: 5px;
}

.tp-selected-value {
  margin: 15px 0;
}

.fleet-vessel {
  margin-bottom: 10px;
}

.fleet-vessel .radio-div {
  border: 2px solid black;
  border-width: 2px 0 2px 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.mat-checkbox-inner-container1 {
  margin-left: 10px;
  margin-right: 5px;
}

.analysis-side-space {
  margin-right: 10px;
}

// .mat-radio-group .mat-radio-group.radio-group {
//   width: 100%;
//  }
.fleet-vessel .mat-radio-group {
  width: 100%;
}

.near-miss-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.near-miss-table td,
.near-miss-table th {
  // border: 1px solid #ddd;
  padding: 8px;
}

// .near-miss-table tr:nth-child(even) {
//   background-color: #f2f2f2;
// }

// .near-miss-table tr:hover {
//   background-color: #ddd;
// }
.near-miss-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.contact-table-active {
  background-color: #4caf50;
}

.contact-table-current {
  background-color: #00bfff;
}

.basic-cause {
  margin-top: 10px;
  border-color: #ddd;
}

::ng-deep .basic-cause td,
.basic-cause th {
  //border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.action-type-table {
  width: 50%;
}

::ng-deep .mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

::ng-deep .mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

::ng-deep .mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

::ng-deep .mat-line-custom::before {
  content: "";
  position: absolute;
  top: -38px;
  bottom: 41px;
  border-left-width: 1px;
  border-left-style: dashed;
  left: 19px;
  color: #16569e;
}

.btn-bwt-space {
  margin: 5px;
  //  display: none;
}

::ng-deep .mat-step > .mat-vertical-stepper-header {
  display: none;
}

::ng-deep .mat-step .mat-vertical-content-container {
  margin-left: 0;
  position: unset;
}

::ng-deep .mat-vertical-stepper-header-container {
  display: none;
}

.stepper-content {
  margin-left: 36px;
}

::ng-deep div .mat-divider-nearmiss.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 97%;
  margin-left: 19px;
  border-top-style: solid;
}

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
}
/////***********Attachments****************///////
.upload-btn {
  margin: 20px;
}

.attachment-button {
  // background-color: #a8aeb5;
  padding: 10px 8px;
  border-radius: 14px;
  text-decoration: none;
  color: #001c66;
  // filter: drop-shadow(2px 2px 3px black);
}

.icon-text {
  margin-top: -10px;
  font-size: 12px;
}

.attachment-button mat-icon {
  vertical-align: middle;
}

.attachment-section .image-box {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
}

.attachment-button mat-label {
  margin: 10px 10px 10px 0;
}

.file-button {
  background-color: #e4e8f0;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #2c66a7;
  //filter: drop-shadow(2px 2px 2px black);
  border: none;
  position: relative;
  z-index: 2;
}

.file-button mat-icon {
  vertical-align: middle;
  font-size: 23px;
}

.file-button:hover {
  background-color: #e4e8f0;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #2c66a7;
  filter: drop-shadow(1px 1px 3px black);
  border: none;
}

.upload-images {
  margin: 10px;
  border: 1px solid #16569e;
  padding: 3px;
  height: 66px;
  width: 100px;
}

.pdfimages {
  padding: 10px;
  height: 85px;
  width: 100px;
}

.clear-icon {
  vertical-align: top;
  font-size: 11px;
  background-color: red;
  border-radius: 20px;
  padding-left: 0;
  padding-top: 2px;
  color: #fff;
  height: 15px;
  width: 15px;
  margin-left: -13px;
}

.image-name {
  text-align: center;
  font-size: 11px;
  color: gray;
  margin-top: -2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 106px;
  overflow: hidden;
}
//********** mat buttons***********///

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #16569e;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: transparent;
  color: #16569e;
  box-shadow: none;
}

.warn {
  background: #fb0606;
  color: #fff;
}

.btn-delete {
  margin-bottom: 22px;
}

::ng-deep .remove-btn {
  margin-bottom: 22px;
  background: #fb0606;
  color: #fff;
  height: 40px;
}

.fleet-action-table {
  width: 100%;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: transparent;
}
.mat-card-form-content {
  height: calc(91vh - 113px);
  overflow-x: auto;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}
