.form-title {
  font-family: sans-serif;
  margin: 20px;
}

// ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
//   padding: 0.5em 0;
//   width: 250px;
// }

::ng-deep .mat-form-field {
  font-size: 14px;
}

::ng-deep .mat-form-field.mat-field-49 {
  width: 49%;
}

::ng-deep .mat-form-field.mat-field-99 {
  width: 99%;
}

// ::ng-deep .mat-form-field-label-wrapper {
//   top: -1.5em;
// }

::ng-deep .date-completion {
  width: 160px;
}

::ng-deep .date-incident {
  width: 49%;
}

::ng-deep .status-view {
  width: 70px;
  text-align: center;
}

.trigger-checkbox {
  margin: 10px 10px 30px 10px;
}

.background-checkbox {
  // margin-top: 20px;
  // margin-bottom: 20px;
  margin: 2% 2% 4% 6%;
}

::ng-deep .mat-selection-box {
  width: 250px;
}

.notify-textbox {
  width: 200px;
}

.action-field {
  width: 200px;
}

.btn-bwt-space {
  margin: 5px;
}

.btn-space {
  margin: 5px;
}

.underline {
  text-decoration: underline;
}

.mat-divider.divider {
  border-top-color: #000;
  border-top-width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 97%;
  margin-left: 18px;
  border-top-style: dashed;
}

.mat-divider.sub-title-divider {
  border-top-color: rgb(4, 27, 160);
  border-top-width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 97%;
  margin-left: 18px;
}

::ng-deep .mat-card .mat-divider-custom.mat-divider-horizontal {
  border-top-color: #000;
  border-top-width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 97%;
  margin-left: 19px;
  border-top-style: dashed;
}

.top-margin {
  margin: 20px 0;
}

::ng-deep .mat-radio-button {
  margin-bottom: 10px;
}

::ng-deep .mat-radio-label {
  margin: 0 10px;
}

.severity-label {
  padding: 20px;
}

.mat-radio-button-severity {
  padding: 20px;
  margin-bottom: 10px;
}

.max-label {
  padding: 24px;
  margin-bottom: 10px;
  width: 200px;
}

.severity-color-0 {
  background-color: #d63649;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.severity-color-1 {
  background-color: #f5a52d;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.severity-color-2 {
  background-color: #f1cd1d;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.severity-color-3 {
  background-color: #02a921;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.severity-color-4 {
  background-color: #55d20d;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.overflow-table {
  overflow: auto;
}

.stage-field {
  width: 100px;
}

.btn-delete {
  margin-top: 8px;
  margin-bottom: 22px;
  padding: 3px 0;
}

.btn-delete-contact {
  margin-top: 5px;
  padding: 3px 0;
}

//  Type of Contact style
.resultant-risk {
  width: 250px;
  height: 125px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgb(7, 185, 7);
  text-align: center;
  color: #fff;
}

.resultant-risk.medium {
  width: 250px;
  height: 125px;
  border: 1px solid #f1cd1d;
  border-radius: 10px;
  background-color: #f1cd1d;
  text-align: center;
  color: #fff;
}

.resultant-risk.extreme {
  width: 250px;
  height: 125px;
  border: 1px solid #d63649;
  border-radius: 10px;
  background-color: #d63649;
  text-align: center;
  color: #fff;
}

.near-miss-table {
  border-collapse: collapse;
  width: 100%;
}

.near-miss-table td,
.near-miss-table th {
  // border: 1px solid #ddd;
  padding: 8px;
}

.near-miss-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.contact-table-active {
  background-color: #4caf50;
  color: #fff;
}

.contact-table-incomplete {
  background-color: red;
  color: #fff;
}

.contact-table-current {
  background-color: #00bfff;
}

.basic-cause {
  margin-top: 10px;
  border-color: #ddd;
}

::ng-deep .basic-cause-table td,
.basic-cause-table th {
  //border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.red {
  background: red;
}

.mapped {
  background: yellow;
}

.mapped-and-selected {
  background: purple;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 0;
}

::ng-deep .mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

::ng-deep .mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

::ng-deep .mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

::ng-deep .mat-raised-button-custom.warning {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid red;
  color: #fff;
  background-color: red;
}

::ng-deep .mat-line-custom::before {
  content: "";
  position: absolute;
  top: -38px;
  bottom: 41px;
  // border-left-width: 1px;
  // border-left-style: dashed;
  left: 19px;
  color: #16569e;
  // display: none;
}

::ng-deep .mat-step > .mat-vertical-stepper-header {
  display: none;
}

::ng-deep .mat-step .mat-vertical-content-container {
  margin-left: 0;
  position: unset;
}

::ng-deep .mat-vertical-stepper-header-container {
  display: none;
}

::ng-deep .mat-stepper-vertical {
  background: transparent;
}

.stepper-content {
  margin-left: 3%;
  // margin-right: 3%;
}

.stepper-nav {
  height: calc(91vh - 113px);
  overflow: auto;
  width: 62px;
}

.stepper-nav::-webkit-scrollbar {
  /* WebKit */
  width: 0;
}

.mat-raised-button.mat-primary {
  background-color: #16569e;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary {
  color: #16569e;
}

::ng-deep div .mat-divider-nearmiss.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 97%;
  margin-left: 19px;
  border-top-style: solid;
}

.content-space {
  margin-bottom: 30px;
}

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.mat-card-form-content {
  height: calc(91vh - 113px);
  overflow-x: auto;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}

mat-vertical-content {
  padding: 0 24px 2px 24px;
}

.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
  padding-top: unset;
}

.field-width-100 {
  width: 100%;
}

.mat-card-title {
  font-weight: bold;
  font-size: 25px;
}

.mat-card-content {
  background-color: transparent;
}

.mat-form-field-100 {
  width: 100%;
}

/////////*******Stepper styling*********/////////
.vertical-label-orientation {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #16569e;
  width: 32px;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

////////*******Background stepper styling*****/////////

.contributing-factor h4 {
  width: 12%;
  margin-bottom: -20px;
  text-align: center;
}

/////////******Image Upload styling *******////////////

.upload-btn {
  margin: 20px;
}

.attachment-button {
  // background-color: #a8aeb5;
  padding: 10px 8px;
  border-radius: 14px;
  text-decoration: none;
  color: #001c66;
  // filter: drop-shadow(2px 2px 3px black);
}

.icon-text {
  margin-top: -10px;
  font-size: 12px;
}

.attachment-button mat-icon {
  vertical-align: middle;
}

.attachment-section .image-box {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
}

.attachment-button mat-label {
  margin: 10px 10px 10px 0;
}

.file-button {
  background-color: #e4e8f0;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #2c66a7;
  //filter: drop-shadow(2px 2px 2px black);
  border: none;
  position: relative;
  z-index: 2;
}

.file-button mat-icon {
  vertical-align: middle;
  font-size: 23px;
}

.file-button:hover {
  background-color: #e4e8f0;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #2c66a7;
  filter: drop-shadow(1px 1px 3px black);
  border: none;
}

.upload-images {
  margin: 10px;
  border: 1px solid #16569e;
  padding: 3px;
  height: 66px;
  width: 100px;
}

.pdfimages {
  padding: 10px;
  height: 85px;
  width: 100px;
}

.clear-icon {
  vertical-align: top;
  font-size: 11px;
  background-color: red;
  border-radius: 20px;
  padding-left: 2px;
  padding-top: 2px;
  color: #fff;
  height: 15px;
  width: 15px;
  margin-left: -13px;
}

.image-name {
  text-align: center;
  font-size: 11px;
  color: gray;
  margin-top: -2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 106px;
  overflow: hidden;
}

// Toggle button styling

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-radius: 30px;
  background-color: #51baf3;
  color: #fff;
  height: 42px;
}

.mat-button-toggle.active {
  border: unset;
  border-radius: 30px;
  background-color: #fff;
  color: #fff;
  width: 40px;
}

::ng-deep .mat-button-toggle {
  width: 50px;
  border: unset;
  border-left: unset;
  background-color: #51baf3;
  color: #fff;
}

::ng-deep .mat-button-toggle-button.mat-focus-indicator .mat-button-toggle-label-content {
  line-height: 37px;
  padding: 0 7px;
  font-size: 14px;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: unset;
}

.list-item {
  cursor: pointer;
}

.sub-title {
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
}

.add-itme-btn {
  font-weight: bold;
  margin: 10px 7px;
  cursor: pointer;
}

.checkbox-margin {
  margin-right: 14px;
  margin-left: 6px;
}

::ng-deep .tp-radio-button {
  margin: 10px 0 5px 5px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 10px;
}

.impact-label {
  height: 60px;
  padding: 8px;
  width: 300px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  font-size: 13px;
  overflow: auto;
}

.new-condition-btn {
  height: 50px;
  margin: 4px;
  margin-left: 20px;
}

.severity-top-space {
  margin-top: 10px;
}

.impact-top-space {
  margin-top: -5px;
}

.row-button {
  background: #e4e8f0;
}

.team-member {
  margin-bottom: -5px;
}

.background-btn {
  position: absolute;
  bottom: 10px;
}
