<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Update User"
      navigateButtonTitle="User"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="onAddForm()"
    >
    </app-toolbar>
    <app-form [config]="formlyConfig"></app-form>
  </mat-card-content>
</mat-card>
