<mat-label mat-dialog-title class="form-page-title">Add New Role</mat-label>
<form [formGroup]="roleForm">
  <app-form [config]="formlyConfig"> </app-form>
  <mat-dialog-actions>
    <button class="mat-raised-button m-8" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary save-btn" (click)="save()">Save</button>
  </mat-dialog-actions>
</form>
