<div class="container">
  <!-- <mat-card class="mat-card-style">
    <mat-card-content>
      <mat-toolbar class="table-heading" fxLayoutAlign="none start">
        <span>
          <mat-card-title>Users</mat-card-title>
          <mat-card-subtitle>{{ pageSubTitle }}</mat-card-subtitle>
        </span>
        <span fxFlex></span>
        <span *ngIf="activePageIndex">
          <a class="btn-success btn-field-bt-mg" mat-stroked-button routerLink="/admin/user">
            <mat-icon>arrow_back_ios</mat-icon> User
          </a>
        </span>
        <span *ngIf="!activePageIndex">
          <a class="btn-success btn-field-bt-mg" mat-stroked-button routerLink="create">
            <mat-icon>add</mat-icon> Add User
          </a>
        </span>
      </mat-toolbar>
    </mat-card-content>
  </mat-card> -->
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
