.input-container {
  display: flex;
}

p {
  margin-top: -14px;
  font-size: 10px;
  color: red;
  font-weight: 400;
}

.input2 {
  width: 100%;
  border: 1px solid red;
  outline: none;
  color: red;
  border-radius: 5px;
}

.input1 {
  height: -webkit-fill-available;
  border: 1px solid;
  border-color: grey;
  border-radius: 5px;
}

.input1:focus {
  height: -webkit-fill-available;
  border: 1px solid #16569e;
  outline: none;
}
