<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Inspection"
      subtitle="VESSEL 21"
      navigateButtonTitle="ADD NEW"
      buttonIcon="arrow_back_ios"
    ></app-toolbar>

    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card>
