:host ::ng-deep .mat-stepper-vertical-line::before {
  border-left-width: 0;
}

::ng-deep .form-group-title {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #16569e;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.vertical-form-group {
  display: flex;
  flex-direction: column;
}
