.header {
  background: #eaeff5 0% 0% no-repeat padding-box;
  padding: 15px 15px 15px 65px;
  color: #919da8;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.31px;
}

.detail-content {
  padding: 15px 15px 15px 65px;
  border-bottom: 1px solid #eaeff5;
  background: white;
}

.detail-content:last-child {
  border-bottom: none;
}

.text-red {
  color: #e54e60;
}

.text-green {
  color: #02a921;
}

.status {
  padding: 5px 6px;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.9;
  border-radius: 3px;
}
.status-inprogress,
.status-todo {
  color: #8798ad;
  background: #eaeff5;
}

.status-done {
  background: #80d490;
  color: white;
}

.chapter {
  font-weight: 500;
}
