<section>
  <header class="row header">
    <div class="col-4">Chapter / Section</div>
    <div class="col-1 text-center">Completed</div>
    <div class="col-1 text-center">Open Findings</div>
    <div class="col-1 text-center">Closed Findings</div>
    <div class="col-1 text-center"></div>
  </header>
  <ng-container>
    <div class="row detail-content" *ngFor="let item of list">
      <div class="col-4 chapter">
        <label>
          {{ item.chapterName }}
        </label>
      </div>
      <div
        class="col-1 text-center fw-500"
        [class.text-red]="item.completed.preparationCheckListCount < item.completed.checkListTotQuestionCount"
        [class.text-green]="item.completed.preparationCheckListCount === item.completed.checkListTotQuestionCount"
      >
        {{ item.completed.preparationCheckListCount + '/' + item.completed.checkListTotQuestionCount }}
      </div>
      <div class="col-1 text-center fw-500">{{ item.openFindingCount }}</div>
      <div class="col-1 text-center fw-500">{{ item.closeFindingCount }}</div>
      <div class="col-1 text-center fw-500">
        <span class="status" [class]="getStatusClass(item)">
          {{ getStatus(item) }}
        </span>
      </div>
    </div>
  </ng-container>
</section>
