<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Third Party Sharing"
      subtitle="ALL REPORTS"
      navigateButtonTitle="New Third Party Sharing"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>

    <mat-toolbar *ngIf="isShow" class="filter-field">
      <div class="filter-container">
        <form [formGroup]="filterForm" [style.fontSize.px]="getFontSize()" class="example-container">
          <div class="filter-form-field" fxLayout="row" fxLayoutAlign="space-start center">
            <mat-form-field appearance="outline" class="btn-field-bt-mg">
              <mat-label>Search Keyword</mat-label>
              <input matInput placeholder="Search Keyword" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="btn-field-bt-mg">
              <mat-label>Group</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="btn-field-bt-mg">
              <mat-label>Security Levels</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="btn-field-bt-mg">
              <mat-label>Incedent Type</mat-label>
              <mat-select>
                <!-- <mat-option>None</mat-option> -->
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <button
                class="md-raised btn-field-bt-mg mat-button-custom table-filter-btn"
                layout-margin=""
                mat-button
                type="submit"
              >
                APPLY
              </button>
              <button
                (click)="resetFilter()"
                class="btn-field-bt-mg mat-button-custom"
                color="primary"
                layout-margin=""
                mat-button
                type="reset"
              >
                CLEAR
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-toolbar>

    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>

<app-dialog
  [dialog]="displayDialog"
  [header]="header"
  [content]="content"
  [footer]="footer"
  (afterClosed)="afterDeleteDialogClosed($event)"
  #dialog
>
</app-dialog>
<ng-template #header>
  <h3 class="confirmation-header">Confirmation Popup</h3>
</ng-template>

<ng-template #content>
  <div class="confirmation-content">
    <p>Do you want to delete '{{ selectedThirdPartyName }}' ?</p>
  </div>
</ng-template>

<ng-template #footer>
  <button mat-raised-button color="warn" (click)="onDialogOkClick()">Ok</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</ng-template>
