table {
  width: 100%;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
}

.mat-header-row {
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.action-buttons {
  border: unset;
  background: unset;
  color: #00a65a;
}

.add-export-span {
  float: right;
  padding: 0 10px 10px 0;
}

.mat-main-content {
  padding: 0 20px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.filter-field {
  margin-top: 1em;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}

.mat-card-title:not(:first-child),
.mat-card-subtitle:not(:first-child) {
  margin-top: -16px;
}

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
}

.mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0;
  //width: 150px;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
}

.mat-button-custom {
  bottom: 6px;
  padding: 3px 15px;
}

.mat-btn-border-primary {
  border-color: #16569e;
  color: #16569e;
}

.table-filter-btn {
  background-color: #16569e;
  color: #fff;
}

.no-data {
  text-align: center;
  color: red;
  padding-bottom: 2%;
}

.table-heading {
  background: transparent;
  padding-left: 5px;
  padding-right: 0;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: unset;
}

mat-form-field {
  width: 150px;
}

.mat-main-content .mat-divider-nearmiss {
  border-top-width: 2px;
  border-top-color: #16569e;
  margin-left: 40px;
  width: 90%;
}
