<router-outlet>
  <div class="container">
    <mat-card>
      <p>
        <img alt="angular logo" class="logo" src="../../../../assets/sail-logo.png" />
      </p>
      <mat-card-content>
        <mat-card-title translate>Investigation Stats Coming Soon!</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</router-outlet>
