<form *ngIf="!legacyForm" (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
  <div [class]="containerClass" [ngClass]="{ 'auto-height': autoHeight }">
    <ng-container *ngTemplateOutlet="legacyFormInterface"></ng-container>
    <div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
      <div>
        <button *ngIf="discard" (click)="onReset()" class="btn-space" mat-button color="primary" type="reset">
          <span translate>Discard </span>
        </button>
        <button *ngIf="onSave" class="btn-space" color="primary" mat-raised-button type="submit">
          <span translate>Save Changes </span>
        </button>
        <button
          class="btn-space"
          *ngIf="onPartialSubmit"
          (click)="isPartial = true"
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="!form.valid"
        >
          <span translate>Quick Submit </span>
        </button>
      </div>
    </div>
  </div>
</form>

<ng-container *ngIf="legacyForm">
  <ng-container *ngTemplateOutlet="legacyFormInterface"></ng-container>
</ng-container>

<ng-template #legacyFormInterface>
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form
      (modelChange)="modelChange($event)"
      [form]="form"
      [fields]="fields"
      [model]="model"
      [options]="options"
    >
    </formly-form>
  </form>
</ng-template>
