.mat-raised-button.mat-primary {
  background-color: #16569e;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary {
  color: #16569e;
}

form {
  width: 100%;
}

.btn-space {
  margin: 5px;
}

.auto-height {
  height: auto;
}
