<!-- Header Content -->
<div fxLayout="row" fxLayoutAlign="space-around center" class="dialog-header dialog-header-width">
  <div fxFlex>
    <span class="dialog-header-label">Vessel</span>
    <div class="padd-top-bottom">
      <span class="heading-values">Vessel 10</span>
    </div>
  </div>

  <div fxFlex>
    <span class="dialog-header-label">Inspection Type</span>
    <div class="padd-top-bottom">
      <span class="heading-values">Sire</span>
    </div>
  </div>

  <div fxFlex>
    <span class="dialog-header-label">Port</span>
    <div class="padd-top-bottom">
      <span class="heading-values">Mumbai</span>
    </div>
  </div>

  <div fxFlex>
    <span class="dialog-header-label">Date</span>
    <div class="padd-top-bottom">
      <span class="heading-values">12 June 2020</span>
    </div>
  </div>
</div>
<!-- Header Content -->

<!-- Table Content -->
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-around stretch">
  <span fxFlex="25%" class="table-header">Date Inspected</span>
  <span fxFlex="25%" class="table-header">Oil Major</span>
  <span fxFlex="25%" class="table-header">Port</span>
  <span fxFlex="25%" class="table-header">Obs</span>
</div>
<span *ngFor="let cell of tableData; let i = index">
  <div
    mat-dialog-content
    fxLayout="row"
    fxLayoutAlign="space-around stretch"
    [class.even-table-cell]="i === 1"
    [class.odd-table-cell]="i !== 1"
  >
    <span fxFlex="25%" class="table-cell"> {{ cell.date }} </span>
    <span fxFlex="25%" class="table-cell"> {{ cell.oilMajor }} </span>
    <span fxFlex="25%" class="table-cell"> {{ cell.port }} </span>
    <span fxFlex="25%" class="table-cell"> {{ cell.obs }} </span>
  </div>
</span>
<!-- Table Content -->
<br />

<div fxLayout="row" fxLayoutAlign="space-around center" class="dialog-footer dialog-header-width">
  <div fxFlex>
    <span class="footer-heading">Remarks</span>
    <div class="footer-content">
      Configuration for the ripple animation. Allows modifying the enter and exit animation duration of the ripples. The
      animation durations will be overwritten if the NoopAnimationsModule is being used.
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-stroked-button>Cancel</button>
  <button mat-raised-button color="primary" class="btn-remarks">Apply</button>
</div>
