.heading-values {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

.dialog-footer {
  margin: -24px -24px 0 -24px;
  padding: 24px 29px;
  letter-spacing: 2px;
}

.footer-heading {
  color: #8798ad;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.footer-content {
  color: #181818;
  font-family: Roboto, sans-serif;
  text-align: justify;
  padding: 1rem;
}

:host ::ng-deep .btn-remarks.mat-raised-button.mat-primary {
  background: #16569e;
}
