<div class="vessel-list">
  <mat-toolbar class="mat-elevation-z6" fxLayout="column" fxLayoutAlign="start start" color="primary">
    <!--<mat-icon svgIcon="sea-ship-with-containers"></mat-icon>-->
    <mat-checkbox
      aria-label="Select All"
      color="primary"
      [indeterminate]="isIndeterminate()"
      (change)="$event ? toggleAll($event) : null"
    >
      <h5 matLine translate>My Vessels</h5>
    </mat-checkbox>
  </mat-toolbar>
  <mat-divider [inset]="true"></mat-divider>

  <mat-list class="my-vessel-scroll-bar">
    <mat-list-item *ngFor="let vessel of vessels" class="my-vessel-card">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? toggle(vessel, $event) : null"
        color="primary"
        [checked]="exists(vessel)"
      >
        {{ vessel.vessel }}
      </mat-checkbox>
      <!--<p matLine>{{ vessel.vessel | uppercase }}</p>-->
      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
