:host {
  flex: 1;
}
.vessel-list mat-toolbar {
  height: 100%;
  background-color: #51baf3;
  padding: 11px 16px;
  box-shadow: none;
}
.vessel-list mat-icon {
  height: 44.65px;
  width: 63.23px;
}
.vessel-list h5 {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
mat-list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
.mat-list-base {
  padding-top: 1px;
  background-color: transparent;
}

:ng-deep .mat-toolbar-single-row {
  text-align: left;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #005691;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-size: 14px;
}

.vessel-list .my-vessel-scroll-bar {
  overflow-y: auto;
  height: 300px;
}
