// .form-title {
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   margin-left: 100px;
//   color: #8798ad;
//   text-align: left;
// }

.container {
  height: calc(100vh - 196px);
  border-radius: 10px;
}
strong {
  color: #16569e;
}

// ::ng-deep .mat-form-field {
//   font-size: 14px;
//   // padding: 0.6em 0 0.8em 0;
//   // border-top: 0.54375em solid transparent;
//   // width: 180px;
// }

// // ::ng-deep .mat-form-field-label-wrapper {
// //   top: -1em;
// // }

// ::ng-deep .mat-form-field-label {
//   color: rgba(0, 0, 0, 0.47);
// }

// ::ng-deep .date-completion {
//   width: 150px;
// }

// ::ng-deep .status-view {
//   width: 50px;
//   text-align: center;
// }

// ::ng-deep .status-radio {
//   margin-bottom: 15px;
// }

// .filter-field {
//   padding-top: 20px;
// }

// // .mat-form-field {
// //   display: inline-block;
// //   position: relative;
// //   text-align: left;
// // }

// .mat-toolbar {
//   background: transparent;
// }

// .btn-success {
//   background-color: #02a921;
//   color: #fff;
//   border: none;
//   right: 1.5%;
//   position: absolute;
// }

// .mat-radio-button ~ .mat-radio-button {
//   margin-left: 5px;
//   font-size: 12px;
// }

// .vessel-location-radio-group {
//   //display: flex;
//   flex-direction: column;
//   margin: 15px 0;
// }

// .vessel-location-radio-button {
//   margin: 5px;
// }

// .tp-radio-group {
//   display: inline-flex;
//   flex-direction: column;
// }

// ::ng-deep .tp-radio-button {
//   margin: 10px 0 5px 5px;
//   border: 1px solid #c1c1c1;
//   border-radius: 10px;
//   padding: 10px;
// }

// ::ng-deep .tp-radio-button.mat-radio-checked {
//   margin: 10px 0 5px 5px;
//   border: 2px solid #16569e;
//   border-radius: 10px;
//   padding: 10px;
// }

// ::ng-deep .tp-radio-button[_ngcontent-uim-c289] {
//   margin-left: 5px;
// }

// .tp-selected-value {
//   margin: 15px 0;
// }

// .resultant-risk {
//   width: 250px;
//   height: 125px;
//   border: 1px solid #fff;
//   border-radius: 10px;
//   background-color: rgb(7, 185, 7);
//   text-align: center;
//   color: #fff;
// }

// .resultant-risk.medium {
//   width: 250px;
//   height: 125px;
//   border: 1px solid #f1cd1d;
//   border-radius: 10px;
//   background-color: #f1cd1d;
//   text-align: center;
//   color: #fff;
// }

// .resultant-risk.extreme {
//   width: 250px;
//   height: 125px;
//   border: 1px solid #d63649;
//   border-radius: 10px;
//   background-color: #d63649;
//   text-align: center;
//   color: #fff;
// }

// ::ng-deep .mat-card .mat-divider-custom.mat-divider-horizontal {
//   border-top-color: #000;
//   border-top-width: 1px;
//   margin-top: 2px;
//   margin-bottom: 2px;
//   width: 96.5%;
//   margin-left: 22px;
//   border-top-style: dashed;
// }

// .mat-card-style {
//   box-shadow: 2px 2px 2px transparent;
//   background-color: transparent;
//   padding-top: unset;
// }

// .mat-card-title {
//   font-weight: bold;
//   font-size: 25px;
// }

// .mat-card-content {
//   background-color: transparent;
// }

// .analysis-side-space {
//   margin-right: 10px;
// }

// .btn-delete {
//   margin-bottom: 22px;
// }

// .action-btn-delete {
//   margin-top: 5px;
// }

// .near-miss-table {
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   border-collapse: collapse;
//   width: 100%;
// }

// .near-miss-table td,
// .near-miss-table th {
//   // border: 1px solid #ddd;
//   padding: 8px;
//   font-size: 14px;
// }

// .near-miss-table th {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   text-align: left;
//   background-color: #4caf50;
//   color: white;
//   padding-left: 15px;
//   padding-right: 15px;
//   font-size: 12px;
//   font-weight: 500;
// }

// .contact-table-active {
//   background-color: #4caf50;
//   color: #fff;
// }

// .contact-table-incomplete {
//   background-color: red;
//   color: #fff;
// }

// .contact-table-current {
//   background-color: #00bfff;
// }

// .basic-cause {
//   margin-top: 10px;
//   border-color: #ddd;
// }

// ::ng-deep .basic-cause-table td,
// .basic-cause-table th {
//   //border-collapse: collapse;
//   border-bottom: 1px solid #ddd;
//   padding: 8px;
// }

// .red {
//   background: red;
// }

// .mapped {
//   background: yellow;
// }

// .mapped-and-selected {
//   background: purple;
// }

// ul {
//   display: inline-block;
//   width: 50px;
//   margin-right: 100px;
// }

.btn-top-space {
  margin-top: 30px;
}

// .btn-bwt-space {
//   margin: 5px;
// }

.mat-stepper-vertical {
  background: transparent;
}

// // .mat-vertical-content {
// //   padding: unset;
// //   margin-left: 3%;
// // }

::ng-deep .mat-step > .mat-vertical-stepper-header {
  display: none;
}

::ng-deep .mat-step .mat-vertical-content-container {
  margin-left: 0;
  position: unset;
}

::ng-deep .mat-vertical-stepper-header-container {
  display: none;
}

.stepper-content {
  margin-left: 3%;
  // margin-right: 3%;
}

// .stepper-nav {
//   height: calc(91vh - 113px);
//   overflow: auto;
//   width: 42px;
// }

.stepper-nav::-webkit-scrollbar {
  /* WebKit */
  width: 0;
}

::ng-deep .mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  // margin-top: 20px;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

::ng-deep .mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

::ng-deep .mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

::ng-deep .mat-raised-button-custom.warning {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid red;
  color: #fff;
  background-color: red;
}

::ng-deep .mat-line-custom::before {
  content: "";
  position: absolute;
  top: -38px;
  bottom: 41px;
  // border-left-width: 1px;
  // border-left-style: dashed;
  left: 19px;
  color: #16569e;
}

::ng-deep .mat-raised-button-custom.top-space {
  margin-top: 32px;
}

::ng-deep .mat-raised-button-custom.action-top-space {
  margin-top: 15px;
}

// // ::ng-deep div .mat-divider-nearmiss.mat-divider-horizontal {
// //   border-top-width: 2px;
// //   border-top-color: #51baf3;
// //   width: 97%;
// //   margin-left: 19px;
// //   border-top-style: solid;
// // }

// // .content-space {
// //   margin-bottom: 30px;
// // }

::ng-deep.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

::ng-deep.form-page-subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}

// // .mat-card-form-content {
// //   height: calc(91vh - 113px);
// //   overflow-x: auto;
//   box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px 2px rgba(0, 0, 0, 0.12);
// // }

// // .mat-button.mat-primary {
// //   color: #16569e;
// // }

// // .report-type-section {
// //   padding: 10px;
// // }

// // .mat-radio-group {
// //   padding: 1% 0 2% 0;
// // }

// // .mat-flat-button.mat-primary,
// // .mat-raised-button.mat-primary,
// // .mat-fab.mat-primary,
// // .mat-mini-fab.mat-primary {
// //   background-color: #16569e;
// // }

// // .mat-flat-button.mat-warn,
// // .mat-raised-button.mat-warn,
// // .mat-fab.mat-warn,
// // .mat-mini-fab.mat-warn {
// //   background-color: transparent;
// //   color: #16569e;
// //   box-shadow: none;
// // }

// // .form-title-custom {
// //   font-weight: 500;
// // }

// // // .mat-form-field-wrapper {
// // //   margin-bottom: 0;
// // // }

// // .warn {
// //   background: #fb0606;
// //   color: #fff;
// // }

// // ::ng-deep .remove-btn {
// //   margin-bottom: 22px;
// //   background: #fb0606;
// //   color: #fff;
// //   height: 40px;
// // }

// // ::ng-deep .mat-form-field.action-field {
// //   margin: unset;
// // }

// // .mat-form-field-100 {
// //   width: 100%;
// // }

// // .upload-btn {
// //   margin: 20px;
// // }

// // .attachment-button {
// //   // background-color: #a8aeb5;
// //   padding: 10px 8px;
// //   border-radius: 14px;
// //   text-decoration: none;
// //   color: #001c66;
// //   // filter: drop-shadow(2px 2px 3px black);
// // }

// // .icon-text {
// //   margin-top: -10px;
// //   font-size: 12px;
// // }

// // .attachment-button mat-icon {
// //   vertical-align: middle;
// // }

// // .attachment-section .image-box {
// //   display: inline-block;
// //   box-sizing: border-box;
// //   margin: 0 10px;
// //   text-align: center;
// // }

// // .attachment-button mat-label {
// //   margin: 10px 10px 10px 0;
// // }

// // .file-button {
// //   background-color: #e4e8f0;
// //   padding: 10px 18px;
// //   border-radius: 10px;
// //   text-decoration: none;
// //   color: #2c66a7;
// //   //filter: drop-shadow(2px 2px 2px black);
// //   border: none;
// //   position: relative;
// //   z-index: 2;
// // }

// // .file-button mat-icon {
// //   vertical-align: middle;
// //   font-size: 23px;
// // }

// // .file-button:hover {
// //   background-color: #e4e8f0;
// //   padding: 10px 18px;
// //   border-radius: 10px;
// //   text-decoration: none;
// //   color: #2c66a7;
// //   filter: drop-shadow(1px 1px 3px black);
// //   border: none;
// // }

// // .upload-images {
// //   margin: 10px;
// //   border: 1px solid #16569e;
// //   padding: 3px;
// //   height: 66px;
// //   width: 100px;
// // }

// // .pdfimages {
// //   padding: 10px;
// //   height: 85px;
// //   width: 100px;
// // }

// // .clear-icon {
// //   vertical-align: top;
// //   font-size: 11px;
// //   background-color: red;
// //   border-radius: 20px;
// //   padding-left: 0;
// //   padding-top: 2px;
// //   color: #fff;
// //   height: 15px;
// //   width: 15px;
// //   margin-left: -13px;
// //   cursor: pointer;
// // }

// // .image-name {
// //   text-align: center;
// //   font-size: 11px;
// //   color: gray;
// //   margin-top: -2px;
// //   white-space: nowrap;
// //   text-overflow: ellipsis;
// //   width: 106px;
// //   overflow: hidden;
// // }

.table-heading {
  height: 5%;
}

// // .mat-form-field-appearance-outline .mat-form-field-wrapper {
// //   margin: -0.6em 0;
// // }

// // .margin-unset {
// //   margin: unset;
// // }

// // .m-b-2 {
// //   padding-bottom: 1%;
// // }

// // mat-vertical-content {
// //   padding: 0 24px 2px 24px;
// // }

// // .stop-card {
// //   margin: 0 0 5px 0;
// // }

// // .md-body-2 {
// //   font-size: 13px;
// //   font-weight: 500;
// // }

::ng-deep.heading-with-underline {
  margin: 11px 10px 9px 7px;
}

// // .mat-radio-label {
// //   margin: 0 17px 0 0;
// // }

// // .radio-heading {
// //   color: #16569e;
// //   font-size: 17px;
// //   font-weight: 500;
// // }

// // .near-miss-table-row .near-miss-table-data {
// //   width: 40%;
// // }

// // .severity-radio-label {
// //   padding-left: 15px;
// // }

// // // Toggle button styling

// // .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
// // .mat-button-toggle-group-appearance-standard {
// //   border-radius: 30px;
// //   background-color: #51baf3;
// //   color: #fff;
// //   height: 42px;
// // }

// // .mat-button-toggle.active {
// //   border: unset;
// //   border-radius: 30px;
// //   background-color: #fff;
// //   color: #fff;
// //   width: 40px;
// // }

// // ::ng-deep .mat-button-toggle {
// //   width: 50px;
// //   border: unset;
// //   border-left: unset;
// //   background-color: #51baf3;
// //   color: #fff;
// // }

// // ::ng-deep .mat-button-toggle-button.mat-focus-indicator .mat-button-toggle-label-content {
// //   line-height: 37px;
// //   padding: 0 7px;
// //   font-size: 14px;
// // }

// // .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
// //   border-left: unset;
// // }

// // .status-label {
// //   margin-bottom: 15px;
// // }

// // .action-status-label {
// //   margin-top: 15px;
// // }

// // .checkbox-margin {
// //   margin-right: 14px;
// //   margin-left: 6px;
// // }

// // .custom-field {
// //   margin: 0;
// // }

// // .sub-title {
// //   font-weight: bold;
// // }

// // .bottom-space {
// //   margin-bottom: 10px;
// // }

// // .cause-margin {
// //   margin: 5px;
// // }

// // ::ng-deep .action-card {
// //   padding: 10px;
// //   margin-bottom: 5px;
// // }

::ng-deep .vertical-text {
  transform: rotate(90deg);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  // margin-left: -20px;
  // margin-top: 2px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #16569e;
  width: 40px;
}

// // .row-button {
// //   background: #e4e8f0;
// // }

// // .error-message {
// //   color: red;
// //   font-size: 14px;
// //   font-weight: bold;
// // }

// // .list-item {
// //   cursor: pointer;
// // }
