<div *ngIf="true">
  <mat-card class="mat-card-style">
    <mat-card-content>
      <mat-toolbar class="table-heading" fxLayoutAlign="none start">
        <span>
          <mat-card-title>Update Near Miss</mat-card-title>
        </span>
        <span fxFlex></span>
        <span>
          <a class="btn-success" mat-stroked-button routerLink="/near-miss">
            <mat-icon>arrow_back_ios</mat-icon> Near Miss
          </a>
        </span>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
  <div class="container">
    {{ overViewForm.value | json }}
    <!-- {{getReportType|json}} -->
    <!-- {{designationList|json}} -->
    <app-form [config]="formlyConfig"></app-form>
  </div>
</div>
