.mat-card-title:not(:first-child),
.mat-card-subtitle:not(:first-child) {
  margin-top: -16px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: unset;
}

.table-heading {
  background: transparent;
  padding: 0;
}
