.container {
  height: calc(100vh - 196px);
  border-radius: 10px;
}
.vessel-subheading {
  color: #16569e;
}

strong {
  color: #16569e;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  display: block;
  margin-bottom: 16px;
}

.mat-card-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #16569e;
}
