<mat-card>
  <mat-card-content>
    <mat-toolbar class="filter-field">
      <div class="container">
        <form [style.fontSize.px]="getFontSize()" class="example-container">
          <mat-form-field [style.padding]="getPadding()" appearance="outline" class="btn-field-bt-mg">
            <mat-label>Search Keyword</mat-label>
            <input matInput placeholder="Search Keyword" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Group</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Security Levels</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Incedent Type</mat-label>
            <mat-select>
              <!-- <mat-option>None</mat-option> -->
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>

          <button
            class="md-raised btn-field-bt-mg mat-button-custom table-filter-btn"
            layout-margin=""
            mat-stroked-button
            type="submit"
          >
            APPLY
          </button>
          <button
            class="md-raised btn-field-bt-mg mat-button-custom"
            color="primary"
            layout-margin=""
            mat-stroked-button
            type="reset"
          >
            CLEAR
          </button>
        </form>
      </div>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
