.child-1 {
  background-color: orange;
}

.child-2 {
  background-color: yellow;
}

.child-3 {
  background-color: green;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.btn-success {
  background-color: green;
  color: #fff;
}

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0;
  //width: 150px;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

.filter-field {
  padding-top: 20px;
}

.mat-button-custom {
  bottom: 6px;
  padding: 3px 15px;
}

.mat-btn-border-primary {
  border-color: #16569e;
  color: #16569e;
}

.table-filter-btn {
  background-color: #16569e;
  color: #fff;
}

mat-form-field {
  width: 150px;
}
