<div class="container">
  <mat-card class="mat-card-style">
    <mat-card-content>
      <!-- <mat-toolbar class="table-heading" fxLayoutAlign="none start">
        <span>
          <mat-card-title>Data Fields</mat-card-title>
          <mat-card-subtitle>All {{ pageSubTitle }}</mat-card-subtitle>
        </span>
        <span fxFlex></span> -->
      <!---------------------------------- Add Button ------------------------------------------------>
      <!-- <span>
          <button class="btn-success btn-field-bt-mg" mat-stroked-button (click)="addData(pageSubTitle)">
            <mat-icon>add</mat-icon> New {{ pageSubTitle }}
          </button>
        </span>
      </mat-toolbar> -->

      <app-toolbar
        title="Data Fields"
        [subtitle]="'All ' + pageSubTitle"
        [navigateButtonTitle]="'New ' + pageSubTitle"
        (ngNavigateClick)="addData(pageSubTitle)"
      >
      </app-toolbar>
      <!------------------------------------ Data field Navigation tab buttons ------------------------>
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
          (click)="onTabClick(link)"
        >
          {{ link.label }}
        </a>
      </nav>
    </mat-card-content>
  </mat-card>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
