.mat-list {
  color: #16569e;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.mat-grid {
  color: #16569e;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
}
.main-container {
  padding: 30px 40px 30px 30px;
}
.mg-top {
  margin-top: 15px;
}
.sire {
  font-size: 0.85rem;
  font-weight: 700;
  margin-right: 10px;
}
.milion {
  font-size: 12px;
  font-weight: 100;
  color: #8798ad;
  margin-right: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}
.month-heading {
  font-size: 2rem;
  color: #16569e;
  font-weight: 500;
  text-transform: uppercase;
}
.one-m {
  background-color: #e96f80;
}
.two-m {
  background-color: #e96f80;
}
.three-m {
  background-color: #e96f80;
}
.calender-icon {
  background-color: #1981c8;
  height: 25px;
  width: 25px;
}
.cal-icon {
  font-size: 14px;
  color: #52baf3;
}
.watch-icon {
  font-size: 14px;
}
.alarm-btn {
  height: 25px;
  width: 25px;
}
::ng-deep .calender-icon.mat-mini-fab .mat-button-wrapper {
  padding: 0;
  display: inline-block;
  line-height: 24px;
}
::ng-deep .alarm-btn.mat-mini-fab .mat-button-wrapper {
  padding: 0;
  display: inline-block;
  line-height: 24px;
}
.fc-button-group-2 {
  margin-left: 10px;
}

.fc-button.button-active {
  background-color: #17569e;
  color: white;
}

.fc-day-grid-month-button {
  background-color: #d0d5df;
  color: #17569e;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.fc-button {
  border: none;
  height: 25px;
  font-size: 10px;
}

.fc-day-grid-week-button {
  color: #17569e;
  background-color: #d0d5df;
}

.fc-time-grid-day-button {
  color: #17569e;
  background-color: #d0d5df;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.fc-year-button {
  color: white;
  background-color: #17569e;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.fc-month-button {
  background-color: #d0d5df;
  color: #17569e;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.mg-10 {
  margin-right: 10px;
  font-weight: 100;
}
.mg-40 {
  margin-left: 10px;
  margin-right: 50px;
  font-weight: 100;
  font-size: 10px;
}
.mg-40-2 {
  margin-right: 36px;
  font-weight: 100;
  font-size: 10px;
}
.mg-53 {
  margin-right: 53px;
  font-weight: 100;
  font-size: 10px;
}
.mg-205 {
  margin-right: 205px;
  font-weight: 100;
}
.mg-260 {
  margin-right: 260px;
  font-weight: 100;
}
.table-header {
  height: 24px;
  font-size: 12px;
}
.orange-badge {
  background-color: #ffa023;
  font-size: 12px;
  font-weight: 100;
  color: white;
  height: 20px;
  width: 11px;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.red-badge {
  background-color: #e54e60;
  font-size: 12px;
  font-weight: 100;
  color: white;
  height: 20px;
  width: 11px;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.yellow-badge {
  background-color: #f1cd1d;
  font-size: 12px;
  font-weight: 100;
  color: white;
  height: 20px;
  width: 11px;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.grey-badge {
  background-color: #75818b;
  font-size: 12px;
  font-weight: 100;
  color: white;
  height: 20px;
  width: 11px;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.green-badge {
  background-color: #2ec43f;
  font-size: 12px;
  font-weight: 100;
  color: white;
  height: 20px;
  width: 11px;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.purple-badge {
  background-color: #ce7bb6;
  font-size: 12px;
  font-weight: 100;
  color: white;
  height: 20px;
  width: 11px;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.tile-style {
  border-right: 1px solid #dce6ef;
  border-bottom: 1px solid #dce6ef;
}
::ng-deep .timeline.mat-divider {
  display: block;
  margin: 0;
  border: 1px solid #fba124;
  background-color: #fba124;
  height: 100px;
}
::ng-deep .timeline.mat-card .mat-divider-horizontal {
  position: absolute;
  left: 25px;
  width: 100%;
}
.grid-list-style {
  font-size: 12px;
}
.first-tile-list {
  background-color: #e8edf2;
  border: 1px solid #dce6ef;
}
::ng-deep .radio-grp .mat-radio-label {
  margin: 0;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #24a1e5;
}
.info-btn {
  font-size: 10px;
  border-radius: 10px;
  height: 30px;
}
.info-icon {
  color: red;
  font-size: 18px;
}
.done-icon {
  font-size: 18px;
  color: #27a921;
  position: relative;
  top: 3px;
  font-weight: 900;
  height: 0;
}
.create-icon {
  color: #17569e;
  font-size: 18px;
  cursor: pointer;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #25a9f4;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #25a9f4;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tm-header-cell {
  padding: 8px 10px;
  color: white;
  text-align: center;
}

.tm-header {
  background-color: #52baf3;
}

.font-family {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tm-cell-with-bg {
  background-color: #e8edf2;
  text-align: center;
  z-index: 9;
}

.tm-cell-with-white-bg {
  background-color: white;
  text-align: center;
  z-index: 9;
}

.tm-cell-without-bg {
  text-align: center;
}

.cell-border {
  border-right: 1px solid #dce5ee;
  border-bottom: 1px solid #dce5ee;
}

.tm-data-row {
  height: 4.8rem;
}

.s-l-data-style {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.d-l-data-style {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row-container {
  height: 73vh;
  overflow-y: scroll;
}

.shc-tim-icon {
  margin-top: 0.5rem;
}

.time-marker {
  background-color: #ffb75a;
  height: 75%;
  display: inline-block;
  position: absolute;
  // left: 13.5rem;
  left: 16.52%;
  width: 4px;
  z-index: 99;
}

.time-marker-top-span {
  background-color: #ffb75a;
  height: 5px;
  display: inline-block;
  position: absolute;
  left: calc(16.52% - 0.12%);
  width: 8px;
  border-radius: 0 0 50% 50%;
}

.time-marker-icon {
  position: absolute;
  // left: 13rem;
  left: 16%;
  margin-top: -7px;
  transform: rotate(-33deg);
  color: #ffb75a;
  font-size: 21px;
}

.vessel-type {
  padding: 5px 10px;
}

.vessel-type-label-T {
  font-weight: 600;
  color: #bf431c;
}

.vessel-type-label-M {
  font-weight: 600;
  color: #27a2e5;
}

.position-relative-vessel-type {
  top: 48%;
}

.alert-icon {
  color: #bf431c;
}

.edit-icon {
  color: #16569e;
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.plan-check-button {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: black;
  background-color: white;
  border: none;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 600;
}

.position-relative {
  position: relative;
}

.progress-bar {
  position: absolute;
  top: -10px;
  height: 6px;
  width: 100%;
  right: 0;
}

.month-1-progress-bar {
  width: 33.33%;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 66.3%;
}

.month-1-progress-bar-color {
  background: #e96f7f;
}

.month-2-progress-bar {
  width: 33.33%;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 33.3%;
}

.month-2-progress-bar-color {
  background: #feb14e;
}

.month-3-progress-bar {
  width: 33.33%;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
}

.month-3-progress-bar-color {
  background: #f3d549;
}

.inspection-calender {
  position: absolute;
  top: 0;
}

.inspection-date {
  position: absolute;
  top: 6px;
}

.loading-screen {
  height: 100%;
  background: #e2e2e2;
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #000;
  animation: spinner 0.8s linear infinite;
}

.due-icon {
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
  border-radius: 20%;
  margin: 0 3px;
  margin-bottom: -6px;
}

.due-icon-1month {
  background: #e96f7f;
}

.due-icon-2month {
  background: #feb14e;
}

.due-icon-3month {
  background: #f3d549;
}

.dialog-heading {
  color: white;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
}

.comments-padding {
  padding: 0 3rem;
}
