<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Timeline"
      subtitle="My Vessel"
      [selectValue]="selectedUtility?.value"
      [selectOptions]="auditUtilityList"
      (headerSelectionChanged)="headerSelectValue($event)"
    ></app-toolbar>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="margin-bottom">
      <ng-container>
        <div fxFlex="30%">
          <ng-container *ngIf="!displayInspectionOrMarineSelection('SUPERINTENDENT INSPECTION')">
            <span class="sire">Inspection Due in</span>
            <span class="milion"> 1M <span class="due-icon due-icon-1month"></span> </span>
            <span class="milion"> 2M <span class="due-icon due-icon-2month"></span> </span>
            <span class="milion"> 3M <span class="due-icon due-icon-3month"></span> </span>
          </ng-container>
          <ng-container *ngIf="displayInspectionOrMarineSelection('SUPERINTENDENT INSPECTION')">
            <mat-radio-group [formControl]="superindentRadioValue" (change)="superindentValueChanged($event)">
              <mat-radio-button *ngFor="let option of superindentRadioSelection" [value]="option">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>
        </div>
      </ng-container>

      <div fxFlex="40%" class="text-center">
        <span class="month-heading">{{ getHeading() }}</span>
      </div>

      <div fxFlex="30%" class="text-right">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <span fxFlex>
            <button class="plan-check-button">PLAN CHECK<mat-icon class="done-icon">done</mat-icon></button>
          </span>
          <div class="fc-button-group-2" fxFlex="45%">
            <button
              class="fc-day-grid-month-button fc-button"
              [ngClass]="{ 'button-active': styleTimelineButton(3) }"
              (click)="setTimelineDuration(3)"
            >
              3 MON</button
            ><button
              class="fc-day-grid-week-button fc-button"
              [ngClass]="{ 'button-active': styleTimelineButton(1) }"
              (click)="setTimelineDuration(1)"
            >
              Week</button
            ><button
              class="fc-time-grid-day-button fc-button"
              [ngClass]="{ 'button-active': styleTimelineButton(12) }"
              (click)="setTimelineDuration(12)"
            >
              1 YEAR
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Header Row -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="tm-header text-center">
      <div class="tm-header-cell" fxFlex="8%">Vessel</div>
      <div class="tm-header-cell" fxFlex="8%">Last Insp</div>
      <ng-container *ngFor="let cell of getCalenderHeaderRows(); let i = index">
        <div class="tm-header-cell" [fxFlex]="getMonthHeaderDivisions(i)">{{ getMonthNameHeader(i) }}</div>
      </ng-container>
      <div class="tm-header-cell" fxFlex="2.5%" *ngIf="timelineDurationInMonths === 12"></div>
      <div class="tm-header-cell" fxFlex="2.5%" *ngIf="false"></div>
    </div>

    <!-- Content -->
    <div class="row-container">
      <!-- [style.height.rem]="timelineDurationInMonths === 12 ? 7 : 4.8" -->
      <div class="loading-screen spinner" *ngIf="displayLoading"></div>
      <ng-container *ngIf="!displayLoading">
        <div
          class="tm-data-row"
          *ngFor="let rowData of calanderArray; let y = index"
          [style.height.rem]="
            displayInspectionOrMarineSelection('SUPERINTENDENT INSPECTION') && timelineDurationInMonths === 12 ? 6 : 4.8
          "
        >
          <ng-container *ngIf="displayDateMarker(y)">
            <!-- <span class="material-icons time-marker-icon" [style.left.%]="getMarkerPosition(y)">play_arrow</span> -->
            <span class="time-marker-top-span" [style.left.%]="getMarkerPosition('arrow')"></span>
            <span class="time-marker" [style.left.%]="getMarkerPosition('line')"></span>
          </ng-container>
          <div fxLayout="row" fxFlexFill="100%" fxLayoutAlign="space-between center">
            <div class="tm-cell-with-bg cell-border s-l-data-style" fxFlex="8%" fxFill>{{ rowData.vessel }}</div>
            <div class="tm-cell-with-white-bg cell-border s-l-data-style" fxFlex="8%" fxFill>
              {{ rowData.lastInspectionDate | localTimezone | uppercase }}
            </div>

            <!-- These are the columns which are created dynamically for 3 months, Week and Year duration -->
            <ng-container *ngFor="let cell of getTimelineDataRows(); let i = index">
              <div class="tm-cell-without-bg cell-border d-l-data-style" [fxFlex]="getMonthDataDivisions(i)" fxFill>
                <!-- The below HTML Hold the data of Inspection, Alarm and Calender -->
                <ng-container *ngFor="let inspection of rowData.vesselData">
                  <!-- Progress Bar -->
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="position-relative"
                    *ngIf="timelineDurationInMonths === 3"
                    [style.right.%]="placeProgressBar(inspection.dateOfInspection)"
                  >
                    <div fxFlex *ngIf="displayInspectionLabel(i, inspection.dateOfInspection)">
                      <div class="progress-bar">
                        <span
                          class="month-1-progress-bar month-1-progress-bar-color"
                          [style.width.%]="getMonthProgressWidth(1, inspection.dateOfInspection)"
                          [style.right.%]="
                            getSumOfProgressBarwidth(
                              getMonthProgressWidth(2, inspection.dateOfInspection),
                              getMonthProgressWidth(3, inspection.dateOfInspection)
                            )
                          "
                        ></span>

                        <span
                          class="month-2-progress-bar month-2-progress-bar-color"
                          [style.width.%]="getMonthProgressWidth(2, inspection.dateOfInspection)"
                          [style.right.%]="getMonthProgressWidth(3, inspection.dateOfInspection)"
                        ></span>

                        <span
                          class="month-3-progress-bar month-3-progress-bar-color"
                          [style.width.%]="getMonthProgressWidth(3, inspection.dateOfInspection)"
                        ></span>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="displayInspectionLabel(i, inspection.badgeDate)">
                    <button
                      (click)="clickOnInspection(inspection, rowData)"
                      mat-flat-button
                      [ngClass]="{
                        'orange-badge': inspection.color === 'orange',
                        'red-badge': inspection.color === 'red',
                        'yellow-badge': inspection.color === 'yellow',
                        'grey-badge': inspection.color === 'grey',
                        'green-badge': inspection.color === 'green',
                        'purple-badge': inspection.color === 'purple'
                      }"
                      [title]="inspection.badgeDate | localTimezone | uppercase"
                    >
                      {{ inspection.badge }}
                    </button>
                  </div>

                  <!-- Inspection Date and Reminder Icon -->
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="position-relative">
                    <ng-container *ngIf="displayInspectionLabel(i, inspection.alarmDate)">
                      <button
                        mat-mini-fab
                        disabled
                        class="alarm-btn shc-tim-icon inspection-calender"
                        [style.left.%]="placeAlarmAndInspectionPosition(inspection.alarmDate)"
                        [title]="inspection.alarmDate | localTimezone | uppercase"
                      >
                        <mat-icon class="watch-icon">alarm</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="displayInspectionLabel(i, inspection.dateOfInspection)">
                      <button
                        mat-mini-fab
                        class="calender-icon shc-tim-icon inspection-date"
                        [style.left.%]="placeAlarmAndInspectionPosition(inspection.dateOfInspection)"
                        [title]="inspection.dateOfInspection | localTimezone | uppercase"
                      >
                        <mat-icon class="cal-icon">calendar_today</mat-icon>
                      </button>
                    </ng-container>
                  </div>

                  <!-- Vessel Icon and Its Info -->
                  <ng-container *ngIf="timelineDurationInMonths === 12 && inspection.vesselType">
                    <div
                      class="vessel-type position-relative position-relative"
                      fxLayout="row"
                      fxLayoutAlign="space-between center"
                      *ngIf="inspection.vesselType && displayInspectionLabel(i, inspection.dateOfInspection)"
                    >
                      <div>
                        <span class="material-icons"> local_shipping </span>
                      </div>
                      <div [ngClass]="getVesselTypeLabelClass(inspection.vesselType)">
                        {{ inspection.vesselType }}
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>

            <div
              class="tm-cell-without-bg cell-border s-l-data-style"
              *ngIf="timelineDurationInMonths === 12"
              fxFlex="2.5%"
              fxFill
            >
              <span class="material-icons alert-icon" *ngIf="rowData.displayAlert"> error_outline </span>
            </div>
            <div class="tm-cell-without-bg cell-border s-l-data-style" *ngIf="false" fxFlex="2.5%" fxFill>
              <span class="material-icons edit-icon" (click)="editTimeLine(rowData)"> create </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
  <!--second calendar for year-->
</mat-card>

<!--dialog for calander-->
<app-dialog
  [dialog]="displayDialog"
  class="calender-container"
  [header]="header1"
  [headerClass]="getDialogHeaderClass()"
  [content]="content1"
  [footer]="footer1"
  (afterClosed)="displayDialog = false"
  [width]="612"
>
</app-dialog>
<ng-template #header1>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="dialog-header-label">Vessel</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50%">
      <div>
        <h3 class="dialog-heading">{{ selectedVesselDetails?.vessel | titlecase }}</h3>
        <!-- <mat-select
          [value]="selectedVesselDetails.vessel"
          class="common-styles vessel-select"
          disableOptionCentering
          panelClass="myPanelClass"
        >
          <mat-option [value]="selectedVesselDetails.vessel"> {{ selectedVesselDetails.vessel | titlecase }} </mat-option>
        </mat-select> -->
      </div>
    </div>
    <!-- <div fxFlex="20%"></div> -->
    <!-- <span class="example-spacer"></span> -->
    <div fxFlex="50%">
      <div>
        <h3 class="dialog-heading">{{ selectedInspectionDetails?.inspectionStatus }}</h3>

        <!-- <mat-select
          [value]="selectedInspectionDetails.badge"
          class="common-styles intiated-select"
          disableOptionCentering
          panelClass="myPanelClass"
        >
          <mat-option [value]="selectedInspectionDetails.badge"> {{selectedInspectionDetails.inspectionStatus}} </mat-option>
        </mat-select> -->
      </div>
    </div>
  </div>
</ng-template>
<ng-template #content1>
  <div mat-dialog-content fxLayout="row">
    <span fxFlex="25%" class="table-header">Oil Major</span>
    <span fxFlex="25%" class="table-header">Planned Port</span>
  </div>
  <!-- <span *ngFor="let cell of tableData; let i = index">
    <div mat-dialog-content fxLayout="row" [class.even-table-cell]="i === 1" [class.odd-table-cell]="i !== 1">
      <span fxFlex="25%" class="table-cell"> {{ cell.oilMajor }} </span>
      <span fxFlex="25%" class="table-cell"> {{ cell.port }} </span>
    </div>
  </span> -->
  <div mat-dialog-content fxLayout="row">
    <span fxFlex="25%" class="table-header"> Comments </span>
  </div>
  <div mat-dialog-content fxLayout="row">
    <span fxFlex="100%" class="comment-section comments-padding">
      {{ selectedInspectionDetails.comments }}
    </span>
  </div>
</ng-template>

<ng-template #footer1>
  <button mat-button mat-dialog-close class="close-btn">Close</button>
  <!-- <button mat-button mat-dialog-close>Apply</button>  -->
</ng-template>
