.mat-paginator {
  margin-top: unset;
}

.mat-card-title:not(:first-child),
.mat-card-subtitle:not(:first-child) {
  margin-top: -16px;
}

/* .mat-card:not([class*='mat-elevation-z']) {
  box-shadow: unset;
} */

.table-heading {
  background: transparent;
  padding: 0;
}

table mat-icon {
  color: gray;
  font-size: 20px;
  vertical-align: super;
}

table .mat-icon-button {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.mat-header-cell {
  width: 100px;
  background-color: #51baf3;
  color: #ffff;
  font-size: 14px;
}

.last-cell:last-child {
  text-align: right;
}

.mid-align-cell {
  text-align-last: left;
}
