<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Users"
      subtitle="ALL USERS"
      navigateButtonTitle="Add User"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>
    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [sideBar]="sideBar"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      [domLayout]="domLayout"
      (cellValueChanged)="onCellValueChanged($event)"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>
