<div class="mat-content-details">
  <mat-card class="mat-card-details">
    <mat-card-content>
      <mat-toolbar>
        <span>
          <mat-card-title>Lessons Learnt</mat-card-title>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <a class="btn-success btn-field-bt-mg" mat-stroked-button routerLink="../../">
            <mat-icon>arrow_back_ios</mat-icon> Lessons Learnt
          </a>
        </span>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card-details">
    <mat-card-content class="mat-main-content">
      <!--Overview-->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Overview</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">REPORT</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">INCIDENT TYPE</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DATE</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].reportId }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].incidentType }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].date | date: 'dd-MMM-yyy' }}</label>
              </td>
            </tr>
            <tr>
              <td class="td-line-height">
                <mat-label class="mat-label">SEVERITY LEVEL</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">INCIDENT TITLE</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">COMMENTS</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].severityLevel }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].incidentTitle }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].comments }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--Description-->

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Description</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">DESCRIPTION</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ lessonslLearntDetailsData[0].comments }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--Lessons Learnt-->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Lessons Learnt</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">LESSON TYPE</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DESCRIPTION</mat-label>
              </td>
            </tr>
            <tr *ngFor="let lesson of lessonslLearntDetailsData[0].lessons">
              <td>
                <label class="mat-label-data">{{ lesson.lessonType }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ lesson.description }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--Vessels-->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Vessels</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">VESSEL TYPE</mat-label>
              </td>
            </tr>
            <tr>
              <td *ngFor="let vessel of lessonslLearntDetailsData[0].vesselType">
                <label class="mat-label-data">{{ vessel.vesselType }}</label>
              </td>
            </tr>
            <tr>
              <td>
                <mat-label class="mat-label">VESSEL</mat-label>
              </td>
            </tr>
            <tr>
              <td *ngFor="let vessel of lessonslLearntDetailsData[0].vessel">
                <label class="mat-label-data">{{ vessel.vessel }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--Actions-->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Actions</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">NATURE OF ACTION</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DUE DATE</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">STATUS</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">COMPLETED DATE</mat-label>
              </td>
            </tr>

            <tr *ngFor="let action of lessonslLearntDetailsData[0].action">
              <td>
                <mat-label class="mat-label-data">{{ action.natureOfAction }}</mat-label>
              </td>
              <td>
                <mat-label class="mat-label-data">{{ action.dueDate | date: 'dd-MMM-yyy' }}</mat-label>
              </td>
              <td>
                <mat-label class="mat-label-data">{{ action.status }}</mat-label>
              </td>
              <td>
                <mat-label class="mat-label-data">{{ action.dateCompleted | date: 'dd-MMM-yyy' }}</mat-label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Attachment -->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Attachment</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row">
        <div *ngFor="let image of lessonslLearntDetailsData[0]?.lessonAttachments" class="image-box">
          <a [href]="getFilterFile(image)" target="_blank">
            <img [src]="getFilterFile(image)" class="image-style" />
          </a>
        </div>
        <!-- <span *ngFor="let files of thirdPartySharingData?.files">
        <img src="{{ API_URL + '/' + files.path }}" width="150" />
      </span> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
