.mat-header-cell,
.is-heading {
  font-family: Roboto, monospace;
  background: #51baf3;
  border-radius: 4px 4px 0 0;
  border: 1px #fff;
  color: #fff;
  padding: 9px;
}

.is-subheading {
  font-family: Roboto, monospace;
  border-radius: 4px 4px 0 0;
  border: 1px #fff;
  color: #fff;
}
.is-subheading mat-icon {
  vertical-align: middle;
}
.is-content {
  font-family: Roboto, monospace;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px #fff;
}
.add-v-btn {
  float: right;
}

.vessel-col {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/********************************** mat-dialog *********************************************/

.task-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
}
.fx-spacer {
  flex: 1 1 auto;
}

.dialog-heading {
  font: 500 20px/32px Roboto, monospace;
  color: #fff;
}

.dialog-header {
  padding: 24px;
  background: #16569e;
  margin: 0;
}

.dialog-field {
  color: #fff;
}
.dialog-subheading {
  font: 500 17px/32px Roboto, monospace;
  text-align: center;
}

::ng-deep .mat-dialog-container {
  width: 550px;
  max-width: 550px;
}
.name-field {
  margin-left: 80px;
}
.select-field {
  margin-left: 50px;
}

.select-btn {
  background-color: #708baa;
  color: #fff;
  font-weight: 200;
  width: calc(400% - 100px);
}

.btn-field-bt-mg {
  float: right;
}

.mat-form-field-empty.mat-form-field-label {
  color: #fff;
}

.mat-form-field-underline {
  background-color: #fff;
}

::ng-deep .mat-select-value {
  color: #fff;
}

::ng-deep .mat-select-arrow {
  color: #fff;
  width: 1000px;
}

.additionalgroup-form {
  width: 48%;
  margin: 2px 20px;
  height: 50px;
}

.vessellist {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
}

.save-btn {
  background-color: #16569e;
}

.dialog-card {
  max-width: 150px;
}

.dialog-content {
  text-align: center;
}

/************************************* add vessel Dialog ***********************************************/

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}

.mat-select-placeholder {
  color: white;
}
