<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Additional Group"
      subtitle="ALL ADDITIONAL GROUP"
      navigateButtonTitle="Add Additional Group"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>
    <div fxLayout="row">
      <div fxFlex="40" class="m-t-2">
        <app-ag-grid
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          (gridReady)="onGridReady($event)"
          [defaultColDef]="defaultColDef"
          [rowSelection]="rowSelection"
          (rowSelected)="onRowSelected($event)"
          [icons]="icons"
          (selectionChanged)="onSelectionChanged($event)"
          [frameworkComponents]="frameworkComponents"
          [editType]="editType"
          [domLayout]="domLayout"
          (cellValueChanged)="onCellValueChanged($event)"
          [paginationPageSize]="paginationPageSize"
        >
        </app-ag-grid>
      </div>
      <div fxFlex="60" fxFlexOffset="1" class="m-t-3">
        <div fxLayout="row" class="width-100 vessel-col p-1-8 b-b-1 is-heading">
          <div fxFlex="40" fxFlexOffset="1" class="m-t-2" fxLayoutAlign="start center">
            <span>Vessels</span>
          </div>
          <div fxFlex="60" fxFlexOffset="1" class="m-t-2 p-1-8 is-subheading" fxLayoutAlign="end">
            <button mat-raised-button fxLayoutAlign="center" (click)="openVesselDialog()">
              <span><mat-icon>add</mat-icon>Vessel</span>
            </button>
          </div>
        </div>
        <div>
          <div *ngFor="let vessel of showVessels" class="width-100 mat-card p-1-8 b-b-1 is-content">
            <mat-checkbox color="primary" [checked]="checked">{{ vessel }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- #region Add Form Dialog -->

<app-dialog
  [dialog]="displayDialog"
  (afterClosed)="displayDialog = false"
  #newdialog
  [header]="addheader"
  [content]="addcontent"
  [footer]="addfooter"
>
</app-dialog>
<ng-template #addheader>
  <form [formGroup]="additionalFormGroup" id="addform" (ngSubmit)="onSubmit()">
    <div class="row">
      <div fxLayout="row" class="additionalgroup-form">
        <div fxFlex="50%" class="name-field">
          <mat-form-field class="btn-field-bt-mg dialog-field">
            <mat-label>NAME</mat-label>
            <input matInput required formControlName="name" />
          </mat-form-field>
        </div>
        <div fxFlex="50" class="select-field">
          <button mat-button class="select-btn" type="button">
            <mat-select formControlName="userId" color="primary" placeholder="Users">
              <mat-option *ngFor="let user of userWithId" [value]="user.userId">{{ user.firstname }}</mat-option>
            </mat-select>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #addcontent>
  <div class="column">
    <h3 class="dialog-subheading">Select Vessel</h3>
    <div class="dialog-content">
      <div *ngFor="let vessel of vesselArray; let i = index" class="width-100 p-1-8 b-b-1 is-content vessellist">
        <mat-card class="dialog-card" (click)="toggle(vessel, checkBox)">
          <mat-card-header>
            <mat-card-title
              ><mat-checkbox color="primary" #checkBox (click)="checkboxClick($event)" formControlName="vesselId">{{
                vessel.vessel
              }}</mat-checkbox></mat-card-title
            >
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addfooter>
  <div fxLayoutAlign="end" class="row">
    <button mat-button color="primary" (click)="overviewReset()" type="reset">
      <span translate>Discard </span>
    </button>
    <button
      type="submit"
      mat-raised-button
      form="addform"
      layout-margin=""
      class="md-raised btn-field-bt-mg mat-button-custom save-btn"
      color="primary"
    >
      Submit
    </button>
  </div>
</ng-template>
<!-- #endregion Add Form Dialog -->

<!-- #region Update Form Dialog-->

<app-dialog
  [dialog]="displayUpdateDialog"
  #updatedialog
  (afterClosed)="displayUpdateDialog = false"
  [header]="updateheader"
  [content]="updatecontent"
  [footer]="updatefooter"
>
</app-dialog>
<ng-template #updateheader>
  <form [formGroup]="additionalUpdateFormGroup" (ngSubmit)="onUpdateSubmit()" id="updateform">
    <div class="column" fxLayoutAlign="space-between start">
      <div fxLayout="row" class="additionalgroup-form">
        <div fxFlex="50" class="name-field">
          <mat-form-field class="btn-field-bt-mg dialog-field">
            <mat-label>NAME</mat-label>
            <input matInput required formControlName="name" />
          </mat-form-field>
        </div>
        <div fxFlex="50" class="select-field">
          <button mat-button class="select-btn" type="button">
            <mat-select formControlName="userId">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let user of userWithId" [value]="user.userId">{{
                user.firstname + ' ' + user.lastname
              }}</mat-option>
            </mat-select>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #updatecontent>
  <div class="column">
    <h3 class="dialog-subheading">Select Vessel</h3>
    <div class="dialog-content" [formGroup]="additionalUpdateFormGroup">
      <div
        formArrayName="vessel"
        *ngFor="let vessel of getVesselFormArray().controls; let i = index"
        class="width-100 p-1-8 b-b-1 is-content vessellist"
      >
        <mat-card class="dialog-card" [formGroupName]="i" (click)="toggle(vessel, checkBox)">
          <mat-card-header>
            <mat-card-title>
              <mat-checkbox
                #checkBox
                (click)="checkboxClick($event)"
                color="primary"
                [checked]="checked"
                formControlName="vesselStatus"
                >{{ vessel.value.vessel }}</mat-checkbox
              >
            </mat-card-title>
            <mat-card-subtitle>{{ vessel.value.imoNumber }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #updatefooter>
  <div fxLayoutAlign="end" class="row">
    <button mat-button color="primary" (click)="overviewReset()" type="reset">
      <span translate>Discard </span>
    </button>
    <button
      type="submit"
      mat-raised-button
      form="updateform"
      [disabled]="[updatingAdditionalGroup]"
      layout-margin=""
      class="md-raised btn-field-bt-mg mat-button-custom save-btn"
      color="primary"
    >
      Submit
    </button>
  </div>
</ng-template>
<!--#endregion Update Form Dialog -->

<!-- #region Add Vessel Form Dialog -->

<app-dialog
  [dialog]="displayVesselDialog"
  #addVesseldialog
  (afterClosed)="displayVesselDialog = false"
  [header]="vesselheader"
  [content]="vesselContent"
  [footer]="vesselFooter"
>
</app-dialog>
<ng-template #vesselheader>
  <form [formGroup]="additionalVesselFormGroup" (ngSubmit)="onVesselSubmit()" id="vesselform">
    <div class="row">
      <div fxLayout="row" class="additionalgroup-form">
        <div fxFlex="50" class="name-field">
          <mat-form-field class="btn-field-bt-mg">
            <mat-label>NAME</mat-label>
            <input matInput required formControlName="name" readonly />
          </mat-form-field>
        </div>
        <div fxFlex="50" class="select-field">
          <button mat-button class="select-btn readonly-wrapper" type="button">
            <mat-select class="readonly-block" formControlName="userId" placeholder="Users" readonly>
              <mat-option *ngFor="let user of user" [value]="user">{{ user }}</mat-option>
            </mat-select>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #vesselContent>
  <div class="column">
    <h3 class="dialog-subheading">Select Vessel</h3>
    <div class="dialog-content">
      <div *ngFor="let vessel of newArray; let i = index" class="width-100 p-1-8 b-b-1 is-content vessellist">
        <mat-card class="dialog-card" (click)="toggle(vessel, checkBox)">
          <mat-card-header>
            <mat-card-title
              ><mat-checkbox color="primary" #checkBox (click)="checkboxClick($event)">{{
                vessel
              }}</mat-checkbox></mat-card-title
            >
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #vesselFooter>
  <div fxLayoutAlign="end" class="row">
    <button mat-button color="primary" (click)="overviewVesselReset()" type="reset">
      <span translate>Discard </span>
    </button>
    <button
      type="submit"
      mat-raised-button
      form="vesselform"
      layout-margin=""
      class="md-raised btn-field-bt-mg mat-button-custom save-btn"
      color="primary"
    >
      Submit
    </button>
  </div>
</ng-template>
<!-- #endregion Add Vessel Form Dialog -->
