<app-angular-gauge [id]="'angular-guage'"></app-angular-gauge>
<app-gauge></app-gauge>
<app-animated-gauge></app-animated-gauge>
<app-clustered-column></app-clustered-column>
<app-highlighting-line-legend-hover></app-highlighting-line-legend-hover>
<app-multi-color-step-count></app-multi-color-step-count>
<app-single-color-step-count></app-single-color-step-count>
<app-variable-radius-pie-chart></app-variable-radius-pie-chart>
<app-pie></app-pie>
<app-stacked-bar></app-stacked-bar>
<app-zoomable-radar
  [chartData]="[
    { category: 'One', value1: 8, value2: 2, value3: 4, value4: 3 },
    { category: 'Two', value1: 11, value2: 4, value3: 2, value4: 4 },
    { category: 'Three', value1: 7, value2: 6, value3: 6, value4: 2 }
  ]"
>
</app-zoomable-radar>
<app-line-with-colors [chartData]=""></app-line-with-colors>
<app-bullet-chart
  [chartData]="{ category: 'USD', value: 72, target: 78 }"
  [isAnimate]="true"
  [colorType]="'gradient'"
  [colors]="['#19d228', '#b4dd1e', '#f4fb16', '#f6d32b', '#fb7116']"
  [numberFormat]="'$'"
></app-bullet-chart>
