:host ::ng-deep .prep-action-btn {
  border-radius: 5px;
  background: white;
  color: #16569e;
  text-transform: uppercase;
  box-shadow: 0 3px 1px -13px rgba(0, 0, 0, 0.2), 0 2px 2px -1px rgba(0, 0, 0, 0.14), 0 1px 5px -1px rgba(0, 0, 0, 0.12);

  &[disabled]:not([class*="mat-elevation-z"]) {
    background: #d5e0ec;
    color: #8798ad;
    box-shadow: none;
  }

  .mat-icon {
    margin-top: -3px;
  }
}

:host ::ng-deep .vessel-cell,
:host ::ng-deep .inspection-cell {
  padding: 10px 22px;
}

/* Select Field Modifications in Header */

::ng-deep .header-form .vessel-select .mat-select-value,
::ng-deep .header-form .incident-select .mat-select-value {
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  max-width: none;
  width: auto;
}

::ng-deep .header-form .vessel-select.common-styles .mat-select-arrow,
::ng-deep .header-form .incident-select.common-styles .mat-select-arrow {
  color: white;
}

.header-form {
  padding-left: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.dialog-header-label {
  color: #9db8d6;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.padd-left-right {
  padding: 0 1rem;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #16569e;
  opacity: 1;
}

:host ::ng-deep .dialog-card .mat-card {
  padding-top: 15px;
}

.add-btn {
  background-color: #16569e;
}

:host ::ng-deep .header-center .ag-header-cell-label {
  justify-content: center;
}
