<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Preparation"
      subtitle="Planned Vessels"
      navigateButtonTitle="New Preparation"
      (ngNavigateClick)="showPreparationForm($event)"
      [navigationButtonDisabled]="loadingUtilityData"
    ></app-toolbar>

    <app-ag-grid
      [className]="'ag-grid-custom'"
      [icons]="icons"
      [columnDefs]="columnDefs"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [animateRows]="true"
      [rowData]="rowData"
      [defaultColDef]="defaultColDef"
      [allowContextMenuWithControlKey]="true"
      [frameworkComponents]="frameworkComponents"
      [headerHeight]="45"
      [gridOptions]="gridOptions"
      [masterDetail]="true"
      [detailCellRenderer]="'detailCell'"
      [components]="components"
      [suppressPaginationPanel]="suppressPaginationControls"
      (gridReady)="onGridReady($event)"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>

<app-dialog
  #dialog
  [dialog]="newPreparationDialog"
  (afterClosed)="newPreparationDialog = false"
  [header]="header"
  [content]="content"
  [width]="700"
></app-dialog>

<ng-template #header>
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    class="dialog-header dialog-header-width"
    [formGroup]="preparationForm"
  >
    <div fxFlex class="header-form">
      <span class="dialog-header-label">Vessel</span>
      <div class="pt-10" *ngIf="vesselList.length > 0">
        <mat-select
          class="common-styles vessel-select"
          disableOptionCentering
          panelClass="select-panel"
          formControlName="vesselId"
          [disabled]="!!planningData.vesselId"
        >
          <mat-option value="">Select Vessel</mat-option>
          <mat-option *ngFor="let vessel of vesselList" [value]="vessel.vesselId">{{ vessel.vessel }}</mat-option>
        </mat-select>
      </div>
    </div>

    <div fxFlex class="header-form">
      <span class="dialog-header-label">Inspection Type</span>
      <div class="pt-10" *ngIf="auditUtilityList.length > 0">
        <mat-select
          class="common-styles incident-select"
          (selectionChange)="onInspectionTypeChanged($event)"
          disableOptionCentering
          panelClass="select-panel"
          formControlName="inspectionTypeId"
          [disabled]="!!planningData.inspectionTypeMasterId"
        >
          <mat-option value="">Select Inspection Type</mat-option>
          <mat-option *ngFor="let utility of auditUtilityList" [value]="utility.inspectionTypeId">{{
            utility.type
          }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <br />
  <app-form [config]="formlyConfig" class="dialog-card" [autoHeight]="true"> </app-form>
  <div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
    <div>
      <button class="discard-btn" (click)="discard()" mat-button color="primary" type="reset">
        <span translate>Discard </span>
      </button>
      <button
        class="add-btn"
        [loading]="savingPreparationForm"
        (click)="save()"
        color="primary"
        mat-raised-button
        type="submit"
      >
        <span translate>Save Changes </span>
      </button>
    </div>
  </div>
</ng-template>
