.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-radius: 30px;
  background-color: #51baf3;
  color: #fff;
  height: 42px;
}

.mat-button-toggle.active {
  border: unset;
  border-radius: 30px;
  background-color: #fff;
  color: #fff;
  width: 40px;
}

:host ::ng-deep .mat-button-toggle {
  width: 50px;
  border: unset;
  border-left: unset;
  background-color: #51baf3;
  color: #fff;
}

:host ::ng-deep .mat-button-toggle-button.mat-focus-indicator .mat-button-toggle-label-content {
  line-height: 37px;
  padding: 0 7px;
  font-size: 14px;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: unset;
}
