<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Third Party Sharing"
      navigateButtonTitle="Third Party Sharing"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>

    <!-- Overview  -->
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Overview</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <table>
        <tbody>
          <tr>
            <td>
              <mat-label class="mat-label">INCIDENT</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">INCIDENT TYPE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">DATE</mat-label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.reportId }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.incidentType }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.incidentDate | date: 'dd-MMM-yyyy' }}</label>
            </td>
          </tr>
          <tr>
            <td>
              <mat-label class="mat-label">SEVERITY LEVEL</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">INCIDENT TITLE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">COMMENTS</mat-label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="mat-label-data" [ngClass]="getSeverityClass(thirdPartySharingData?.severityLevel)">{{
                thirdPartySharingData.severityLevel
              }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.incidentTitle }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.comments }}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Overview  -->

    <!-- Details -->
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Details</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <table>
        <tbody>
          <tr>
            <td>
              <mat-label class="mat-label">THIRD PARTY NAME</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">THIRD PARTY TYPE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">CONTACT DETAILS</mat-label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.thirdPartyName }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.thirdPartyType }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.contactDetails }}</label>
            </td>
          </tr>
          <tr>
            <td>
              <mat-label class="mat-label">DATE SHARED</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">MEDIUM</mat-label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.dateShared | date: 'dd-MMM-yyy' }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.medium }}</label>
            </td>
          </tr>
          <tr>
            <td>
              <mat-label class="mat-label">FOLLOW UP REQUIRED</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">DUE DATE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">STATUS</mat-label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.followUp }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.dueDate | date: 'dd-MMM-yyy' }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ thirdPartySharingData.status }}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Details -->

    <!-- Attachment -->
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Attachment</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div *ngFor="let image of thirdPartySharingData?.files" class="image-box">
        <a [href]="getFilterFile(image)" target="_blank">
          <img [src]="getFilterFile(image)" [class]="getImageStyleClass(image.fileType)" />
        </a>
      </div>
      <!-- <span *ngFor="let files of thirdPartySharingData?.files">
        <img src="{{ API_URL + '/' + files.path }}" width="150" />
      </span> -->
    </div>
    <!-- Attachment -->
  </mat-card-content>
</mat-card>
