/// ag-grid
.ag-theme-material .ag-header {
  background-color: #51baf3;
}
.ag-pivot-off .ag-header {
  background-color: #51baf3;
}

// Radio Button
.mat-radio-outer-circle {
  border-color: #fff;
}

// Add New Dialog
.header-form {
  h2 {
    margin: 5px 0;
    color: #fff;
  }
}

// Data Entry Dialog
.data-entry-container {
  padding: 30px;

  .doc-type {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .data-entry-text {
    background-color: #f3f4f7;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 2rem;
  }

  .drag-drop-area {
    border: 2px dashed #b3becb;
    border-radius: 5px;
    min-height: 200px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

// Utilities
.btn-primary {
  background-color: #24569e;
  color: #fff;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
}

.btn-fw {
  width: 120px;
  padding: 8px;
}

.bg-primary {
  background-color: #24569e;
  color: #fff;
}

.spacer-full {
  flex: 1 1 auto;
}

.text-primary {
  color: #24569e;
}

.text-muted {
  opacity: 0.5;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ml-4 {
  margin-left: 2.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mw-150 {
  max-width: 150px;
}

// Show Inspections Modal

.header-summary-details {
  ::ng-deep .mat-radio-label-content {
    color: #fff;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-color: #fff;
  }

  ::ng-deep .mat-radio-inner-circle {
    background-color: #fff;
  }
}

.header-title {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 10px;
  color: #fff;
}

.header-summary {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.header-radio {
  .mat-radio-label {
    color: #fff;
  }
}

.header-secondary {
  background-color: #eef8fe;
  margin: 25px -24px 0 -24px;
  padding: 20px;

  .label {
    font-size: 12px;
    padding: 0 4px;
    text-transform: uppercase;
    color: #24569e;
    margin-bottom: 8px;
    min-width: 120px;
  }

  .value {
    font-size: 14px;
    padding: 0 4px;
    text-transform: uppercase;

    &.bold {
      font-weight: 600;
    }
  }
}

.summary-title {
  font-size: 14px;
  padding: 16px;
  font-weight: 500;
  color: #24569e;
  text-transform: uppercase;
  margin: 0 -24px;
  background-color: #fff;
}

.striped {
  .mat-header-row {
    display: none;
  }

  .mat-row {
    .mat-cell {
      &:nth-child(1),
      &:nth-child(3) {
        width: 10%;
      }

      // Summary column
      &:nth-child(2) {
        width: 80%;
        padding: 20px 10px;
      }
    }

    .vl-l {
      padding: 10px;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      font-weight: 600;
      letter-spacing: 1px;
      min-width: 40px;
      display: inline-block;
    }

    .mat-column-status {
      text-align: center;
    }

    &:nth-child(even) {
      background-color: #f8f9fa;

      .vl-l {
        background-color: #61d213;
      }
    }

    &:nth-child(odd) {
      background-color: #eef0f3;

      .vl-l {
        background-color: #4da921;
      }
    }
  }
}

.insp-table {
  margin: 0 -24px;
}
