<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Inspections"
      navigateButtonTitle="ADD NEW"
      (ngFilter)="onSubmit(0)"
      (ngNavigateClick)="newInspectionsDialog = true"
    ></app-toolbar>
    <mat-toolbar class="bg-primary">
      <span>LAST INSPECTION</span>
      <span class="text-muted ml-4">SCREENING</span>

      <span class="spacer-full"></span>

      <mat-radio-group color="primary" aria-label="Select an option">
        <mat-radio-button value="1">INTERNAL</mat-radio-button>
        <mat-radio-button value="2">EXTERNAL</mat-radio-button>
      </mat-radio-group>
    </mat-toolbar>
    <app-ag-grid
      class="ag-theme-material"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="5"
      [animateRows]="true"
      [rowData]="rowData"
      [defaultColDef]="defaultColDef"
      [allowContextMenuWithControlKey]="true"
      [domLayout]="domLayout"
      [frameworkComponents]="frameworkComponents"
      [icons]="icons"
      [headerHeight]="45"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>

<!-- Add New Dialog Starts -->
<app-dialog
  [dialog]="newInspectionsDialog"
  (afterClosed)="newInspectionsDialog = false"
  [header]="headerAddNew"
  [content]="contentAddNew"
  [width]="550"
></app-dialog>

<ng-template #headerAddNew>
  <div class="header-form">
    <h2>Add New</h2>
  </div>
</ng-template>

<ng-template #contentAddNew>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="my-2">
    <div class="spacer-full text-primary">Upload Auto File</div>

    <button
      mat-button
      (click)="dataEntryInspectionsDialog = true; newInspectionsDialog = false"
      class="btn-primary btn-lg btn-fw"
    >
      UPLOAD
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="my-2">
    <div class="spacer-full text-primary">Create New</div>

    <button
      mat-button
      (click)="newInspectionsFormDialog = true; newInspectionsDialog = false"
      class="btn-primary btn-lg btn-fw"
    >
      ADD NEW
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="my-2">
    <div class="spacer-full text-primary">Fetch from Inspection Request</div>

    <button mat-button class="btn-primary btn-lg btn-fw">FETCH</button>
  </div>
</ng-template>
<!-- Add New Dialog Ends -->

<!-- Data Entry Dialog Starts -->
<app-dialog
  [dialog]="dataEntryInspectionsDialog"
  (afterClosed)="dataEntryInspectionsDialog = false"
  [header]="headerDataEntry"
  [content]="contentDataEntry"
  [width]="500"
></app-dialog>

<ng-template #headerDataEntry>
  <div class="header-form">
    <h2>Data Entry</h2>
  </div>
</ng-template>

<ng-template #contentDataEntry>
  <div class="data-entry-container">
    <div class="doc-type text-primary">Document Type</div>

    <div class="data-entry-text">SIRE Report</div>

    <div class="drag-drop-area">
      <div class="mb-2">Drag files here or</div>
      <app-attachment [attachmentLabel]="'CHOOSE FILE'"></app-attachment>
    </div>

    <div class="text-center">
      <button mat-button class="btn-primary btn-lg btn-fw">UPLOAD</button>
    </div>
  </div>
</ng-template>
<!-- Data Entry Dialog Ends -->

<!-- Create New Form Dialog Starts -->
<app-dialog
  [dialog]="newInspectionsFormDialog"
  (afterClosed)="newInspectionsFormDialog = false"
  [header]="headerNewForm"
  [footer]="footerNewForm"
  [width]="650"
></app-dialog>

<ng-template #headerNewForm>
  <div class="header-form mb-2">
    <h2>Add New</h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="header-form">
    <mat-form-field appearance="fill">
      <mat-label>SELECT VESSEL</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>INSPECTION TYPE</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #footerNewForm>
  <div class="pt-1">
    <button mat-button>CANCEL</button>
    <button mat-raised-button class="btn-success">CREATE</button>
  </div>
</ng-template>
<!-- Create New Form Dialog Ends -->

<button (click)="viewInspectionDialog = true">Show Details</button>

<!-- View Inspection Dialog Dialog Starts -->
<app-dialog
  [dialog]="viewInspectionDialog"
  (afterClosed)="viewInspectionDialog = false"
  [header]="headerViewInspection"
  [content]="contentViewInspection"
  [width]="992"
  class="view-inspection-dialog"
></app-dialog>

<ng-template #headerViewInspection>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="header-summary-details">
    <div>
      <div class="header-title">INSPECTION</div>
      <div class="header-summary">SIRE OBSERVATIONS SUMMARY</div>
    </div>

    <div class="header-radio">
      <mat-radio-group color="primary" aria-label="Select an option">
        <mat-radio-button value="1">Summary</mat-radio-button>
        <mat-radio-button value="2">Full Report</mat-radio-button>
      </mat-radio-group>

      <button mat-raised-button class="btn-info">Export</button>
    </div>
  </div>

  <div class="header-secondary" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <span class="label">Vessel</span>
      <span class="value bold">Vessel 10</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <span class="label">Oil Major</span>
        <span class="value">BP</span>
      </div>

      <div fxLayout="column">
        <span class="label">Inspector</span>
        <span class="value">Gu Yong Gan</span>
      </div>

      <div fxLayout="column">
        <span class="label">Port</span>
        <span class="value">Mumbai</span>
      </div>

      <div fxLayout="column">
        <span class="label">Date</span>
        <span class="value">22 Mar 2019</span>
      </div>
    </div>
  </div>

  <div class="summary-title">Summary of Observations</div>
</ng-template>

<ng-template #contentViewInspection>
  <table mat-table [dataSource]="dataSource" class="insp-table table-scrollable striped">
    <!-- # Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="table-header">Number</th>
      <td mat-cell *matCellDef="let element">{{ element.number }}</td>
    </ng-container>

    <!-- Summary Column -->
    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef class="table-header">Summary</th>
      <td mat-cell *matCellDef="let element">{{ element.summary }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="table-header">Status</th>
      <td mat-cell *matCellDef="let element">
        <span class="vl-l"> {{ element.status }} </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>

<!-- View Inspection Dialog Dialog Ends -->
