<!-- <mat-card class="container">
  <mat-card-content>
    <mat-toolbar class="table-heading" fxLayoutAlign="none start">
      <span>
        <mat-card-title>New Fleet Notification</mat-card-title>
      </span>
      <span fxFlex></span>
      <span>
        <a class="btn-success" mat-stroked-button [routerLink]="['/incident/fleet-notification']">
          <mat-icon>arrow_back_ios</mat-icon> Fleet Notification
        </a>
      </span>
    </mat-toolbar>


    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card> -->

<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Fleet Notification"
      subtitle="New Fleet Notification"
      navigateButtonTitle="Fleet Notification"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>

    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card>
