.near-miss-card {
  overflow: hidden;
  padding-right: unset;
  padding-left: unset;
}
.table-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 34px;
  color: #8798ad;
}

.mat-header-row {
  height: 40px;
}

.mat-row {
  height: 45px;
}

.mat-column-actions {
  text-align: center;
  justify-content: flex-end;
}

::ng-deep .mat-form-field {
  font-size: 14px;
}

::ng-deep .filter-form-field .mat-form-field {
  width: 15%;
}

/* And other times this */
@media (min-width: 1240px) and (max-width: 1440px) {
  ::ng-deep .filter-form-field .mat-form-field {
    width: 20%;
  }
}

.mat-sort-header-sorted {
  color: black;
}

.text-center {
  text-align: center;
}

/**
* Begin:: Filter Table Design
*/
.child-1 {
  background-color: orange;
}

.child-2 {
  background-color: yellow;
}

.child-3 {
  background-color: green;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
  border: none;
}

.btn-field-bt-mg {
  margin-left: 4px;
  margin-right: 5px;
}

::ng-deep .filter-form-fields .mat-form-field {
  width: 200px;
}

::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.47);
}

::ng-deep .filter-field {
  margin-top: 1em;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}

::ng-deep .table-heading {
  background: transparent;
  padding-left: 5px;
  padding-right: 0;
}

.mat-button-custom {
  bottom: 11px;
  padding: 2px 15px;
}

.mat-btn-border-primary {
  border-color: #16569e;
  color: #16569e;
}

.table-filter-btn {
  background-color: #16569e;
  color: #fff;
}

/* End Filter table desigb  */

.mat-label {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.mat-label-data {
  font-size: 14px;
  // font-weight: bold;
  color: #16569e;
  margin: 5px;
}

.td-line-height {
  padding-top: 40px;
}

.td-line-bottom {
  padding-bottom: 40px;
}

.mat-main-content {
  padding: 0 20px;
}

.detail-page-title {
  color: #16569e;
}

::ng-deep .mat-main-content .mat-divider-nearmiss {
  border-top-width: 2px;
  border-top-color: #16569e;
  margin-left: 40px;
  width: 90%;
}

.new-nearmiss-btn {
  margin-right: 24px;
}

.mat-field-size {
  width: 19%;
}

::ng-deep .mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

::ng-deep .mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

::ng-deep .mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

::ng-deep .mat-line-custom::before {
  content: "";
  position: absolute;
  top: -38px;
  bottom: 41px;
  // border-left-width: 1px;
  // border-left-style: dashed;
  left: 19px;
  color: #16569e;
}

.stepper-content {
  margin-left: 36px;
}

::ng-deep div .mat-divider-nearmiss.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 95%;
  margin-left: 36px;
  border-top-style: solid;
}

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.mat-card-title {
  font-weight: bold;
  font-size: 25px;
}

.mat-card-subtitle-nearmiss {
  font-size: 12px;
  font-weight: bold;
  color: #16569e;
  position: absolute;
  // top: 49%;
}

/* ....................... card styling code start................................... */

.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

.mat-card-style-remove-padding {
  padding-top: 5px;
}

.mat-card-content {
  background-color: transparent;
}

.mat-header-cell,
.mat-cell {
  padding-left: 2px;
  min-width: 125px;
}

.mat-card-table {
  overflow: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
  width: 100px;
}

th .mat-header-cell:first-of-type,
td .mat-cell:first-of-type,
td .mat-footer-cell:first-of-type {
  padding-left: 40px;
}

th .mat-header-cell:last-of-type,
td .mat-cell:last-of-type,
td .mat-footer-cell:last-of-type {
  padding-right: 0;
}

/* ....................... card styling code Ends ................................... */
.details-header {
  margin: 10px 0;
}

.filter-container {
  padding: 0;
  height: auto;
  width: 100%;
}

.iconbutton-custom {
  color: gray;
  margin-right: -11px;
}

::ng-deep .mat-paginator-range-label {
  position: absolute;
  left: 10px;
  color: #000;
  font-weight: bold;
}

::ng-deep .mat-paginator-page-size-label {
  visibility: hidden;
}

::ng-deep .mat-paginator-page-size-label::after {
  visibility: visible;
  content: "Row Per Page";
  color: #000;
  font-weight: bold;
}

::ng-deep .mat-elevation-z8 {
  box-shadow: unset;
}

::ng-deep .mat-form-field.mat-paginator-page-size-select {
  width: 40px;
}

::ng-deep .mat-card.mat-card-details {
  box-shadow: unset;
}

.no-data {
  text-align: center;
  color: red;
  padding-bottom: 2%;
}

.attachment-section .image-box {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
}

.sub-title {
  font-weight: bold;
}

.subdesciption-space {
  margin: 8px 0 8px 28px;
}
.near-miss-section1 {
  display: inline-block;
}
.near-miss-section2 {
  display: inline-block;
  box-sizing: border-box;
  float: right;
  // width: 50%;
}

.content-space {
  margin-bottom: 30px;
}

.bottom-space {
  margin-bottom: 10px;
}

::ng-deep .content-space .mat-divider-custom-details.mat-divider-horizontal {
  border-top-color: #000;
  border-top-width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 95%;
  margin-left: 36px;
  border-top-style: dashed;
}

.cause-margin {
  margin: 5px;
}

.heading-with-underline {
  margin: 11px 10px 9px 7px;
  font-size: 14px;
  font-weight: bold;
}

.uploaded-images {
  margin: 10px;
  padding: 3px;
  height: 66px;
  width: 100px;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}

::ng-deep .tp-radio-button {
  margin: 10px 0 5px 5px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 10px;
}

::ng-deep .tp-radio-button.mat-radio-checked {
  margin: 10px 0 5px 5px;
  border: 2px solid #16569e;
  border-radius: 10px;
  padding: 10px;
}

::ng-deep .tp-radio-button[_ngcontent-uim-c289] {
  margin-left: 5px;
}

.tp-selected-value {
  margin: 15px 0;
}

.resultant-risk {
  width: 250px;
  height: 125px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgb(7, 185, 7);
  text-align: center;
  color: #fff;
}

.resultant-risk.medium {
  width: 250px;
  height: 125px;
  border: 1px solid #f1cd1d;
  border-radius: 10px;
  background-color: #f1cd1d;
  text-align: center;
  color: #fff;
}

.resultant-risk.extreme {
  width: 250px;
  height: 125px;
  border: 1px solid #d63649;
  border-radius: 10px;
  background-color: #d63649;
  text-align: center;
  color: #fff;
}

.severity-radio-label {
  padding-left: 15px;
}

.checkbox-margin {
  margin-right: 14px;
  margin-left: 6px;
  vertical-align: bottom;
}

.impact-vertical-align {
  vertical-align: sub;
}
