<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Near Miss"
      subtitle="ALL REPORTS"
      navigateButtonTitle="New Near Miss"
      [form]="filterForm"
      [fields]="fields"
      [model]="model"
      [options]="options"
      (ngFilter)="onSubmit(0)"
      (ngClear)="resetFilter()"
      (ngNavigateClick)="onAddForm()"
    >
    </app-toolbar>
    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [sideBar]="sideBar"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>
