<div class="mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
  <ngx-flip [flip]="flip">
    <div front class="front">
      <div class="login-container" fxLayout="row" fxLayoutAlign="center">
        <mat-card class="login-box" fxFlex="90%" fxFlex.gt-md="25%" fxFlex.md="50%" fxFlex.sm="66%">
          <div fxLayoutAlign="center" translate><img alt="Logo" class="jss2" src="../../../assets/logo.svg" /></div>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div [hidden]="!error || isLoading" class="login-error" translate>
              Username or password incorrect.
            </div>
            <br />
            <div class="login-fields" fxLayout="column">
              <mat-form-field [hideRequiredMarker]="true">
                <input
                  [placeholder]="'Username' | translate"
                  autocomplete="username"
                  formControlName="username"
                  matInput
                  required
                  type="text"
                />
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <input
                  [placeholder]="'Password' | translate"
                  autocomplete="current-password"
                  formControlName="password"
                  matInput
                  required
                  type="password"
                />
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <input
                  [placeholder]="'Domain' | translate"
                  autocomplete="current-domain"
                  formControlName="domain"
                  matInput
                  required
                  type="text"
                />
                <mat-error *ngIf="error">
                  <span translate>Error in Login</span>
                </mat-error>
              </mat-form-field>
              <mat-slide-toggle fxFlex="50%" color="primary" formControlName="remember" translate
                >Remember me</mat-slide-toggle
              >
              <a (click)="rotate()" class="btn-frgt">Forgot Password</a>
              <br />
              <button [disabled]="loginForm.invalid || isLoading" color="primary" mat-raised-button type="submit">
                <app-loader [isLoading]="isLoading" class="inline-loader"></app-loader>
                <span *ngIf="!isLoading" translate>Login</span>
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <div back class="back">
      <div class="login-container" fxLayout="row" fxLayoutAlign="center">
        <mat-card class="login-box" fxFlex="90%" fxFlex.gt-md="25%" fxFlex.md="50%" fxFlex.sm="66%">
          <div fxLayoutAlign="center" translate><img alt="Logo" class="jss2" src="../../../assets/logo.svg" /></div>
          <div *ngIf="showMessage" fxLayout="row">
            <p>We have sent the password reset link in your email please check.</p>
          </div>
          <form (ngSubmit)="getPasswordLink()" [formGroup]="forgotPassword" novalidate [hidden]="hideForm">
            <div class="login-fields" fxLayout="column">
              <mat-form-field [hideRequiredMarker]="true">
                <input
                  [placeholder]="'Username' | translate"
                  autocomplete="username"
                  formControlName="username"
                  matInput
                  required
                  type="text"
                />
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <input
                  [placeholder]="'Domain' | translate"
                  autocomplete="current-domain"
                  formControlName="domain"
                  matInput
                  required
                  type="text"
                />
                <mat-error *ngIf="error">
                  <span translate>Error in Forgot Password</span>
                </mat-error>
              </mat-form-field>
              <a (click)="rotate()" class="btn-frgt">Back To Login</a>
              <br />
              <button [disabled]="forgotPassword.invalid || isLoading" color="primary" mat-raised-button type="submit">
                <app-loader [isLoading]="isLoading" class="inline-loader"></app-loader>
                <span *ngIf="!isLoading" translate>Reset Password</span>
              </button>
            </div>
          </form>
          <div *ngIf="showMessage" fxLayout="row">
            <a (click)="rotate()" class="btn-frgt">Back To Login</a>
          </div>
        </mat-card>
      </div>
    </div>
  </ngx-flip>
</div>
