<mat-sidenav-container fxFill [class.no-header]="isHeaderHidden">
  <mat-sidenav [opened]="isSideNavOpened" mode="side" ngClass.gt-sm="has-border" position="start" #right>
    <nav>
      <mat-list *ngFor="let navItem of sidenavStore.navItems$ | async">
        <button
          class="menu-button"
          mat-button
          [routerLink]="'/' + navItem.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <mat-icon [svgIcon]="navItem.iconName" matListIcon></mat-icon>
          </div>
          <span translate>{{ navItem.displayName }}</span>
        </button>
      </mat-list>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-right.%': isMiniMyVesselsSidenav ? 3 : 10 }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
