@import "src/theme/theme-variables";

.mat-drawer-container {
  position: unset;
}

.mat-sidenav {
  width: 8%;
  color: whitesmoke;
  background-color: #16569e;
}

.mat-sidenav,
.mat-drawer-content,
:host ::ng-deep .mat-drawer-backdrop {
  top: 80px;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  position: absolute;
}

:host ::ng-deep .mat-drawer.mat-drawer-end {
  left: unset;
}

.mat-drawer.mat-drawer-end.collapsed {
  left: 0;
  right: 0;
  transform: translate3d(-100%, 0, 0);
}

.mat-drawer.mat-drawer-end.opened {
  left: unset;
}

.mat-icon {
  height: 37px;
  width: 37px;
}

.sidenav-right {
  //width: 10%;
  background-color: white;

  .mat-mini-fab {
    margin-left: -20px;
    margin-top: 30px;
    position: fixed;
    color: #16569e;
    &:hover {
      color: white;
      background: #51baf3;
    }
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    background-color: #16569e;
    height: 15%;
    min-height: 170px;

    .mat-icon {
      height: 44.65px;
      width: 63.23px;
    }

    h5 {
      color: white;
      font-size: 11px;
    }

    .toggle-icon-button {
      height: unset;
      width: unset;
    }
  }

  .my-vessel-scroll-bar {
    padding: 0;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .my-vessel-scroll-bar::-webkit-scrollbar {
    width: 0;
  }

  .my-vessel-scroll-bar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
  }
}

@media ($mat-xsmall) {
  .mat-sidenav,
  .mat-drawer-content,
  :host ::ng-deep .mat-drawer-backdrop {
    top: 80px;
  }
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  width: 100%;
  margin-top: -10px;
}

.mat-list button {
  padding: 30px 20px;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.my-vessel-card {
  background: #e4e8f0;
  color: #16569e;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1px;
}

.selected {
  background: #16569e;
  font-size: 14px;
  color: whitesmoke;

  &:hover {
    color: #16569e;
  }
}

.menu-button {
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 0;
  line-height: 1.25;
  white-space: normal;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

.active {
  color: #fff;
  background: #3488c8;
  padding: 12px 20px;
}

:host ::ng-deep .no-header {
  .mat-sidenav,
  .mat-drawer-content,
  .mat-drawer-backdrop {
    top: 0;
  }
}
