<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Lessons Learnt"
      subtitle="ALL REPORTS"
      navigateButtonTitle="New Lessons Learnt"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>
    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [sideBar]="sideBar"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      [domLayout]="domLayout"
      [paginationPageSize]="paginationPageSize"
    ></app-ag-grid>
  </mat-card-content>
</mat-card>
