<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Confirmation By Vessel"
      navigateButtonTitle="Fleet Notificaton"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="backToFleetNotification()"
    ></app-toolbar>

    <div class="container">
      <app-ag-grid
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [defaultColDef]="defaultColDef"
        [frameworkComponents]="frameworkComponents"
        [editType]="editType"
        [domLayout]="domLayout"
        [paginationPageSize]="paginationPageSize"
      >
      </app-ag-grid>
    </div>
  </mat-card-content>
</mat-card>

<app-dialog
  [dialog]="openDialog"
  [header]="header"
  [content]="content"
  [footer]="footer"
  [width]="'100vw'"
  [height]="'70vh'"
  #dialog
>
</app-dialog>
<ng-template #header>
  <h3 class="confirmation-header">Confirmation Popup</h3>
</ng-template>

<ng-template #content>
  <div class="margin-top-2rem">
    <app-fleet-acknowledgement-form
      [applicableVesselId]="selectedApplicableVesselId"
      (formOutput)="onFormResponse($event)"
    ></app-fleet-acknowledgement-form>
  </div>
</ng-template>

<ng-template #footer>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</ng-template>
