table {
  width: 100%;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
}

.mat-header-row {
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.action-buttons {
  border: unset;
  background: unset;
  color: #2196f3;
}
