<div *ngIf="!isNewIncident && !isUpdateIncident" class="container">
  <app-incident-table></app-incident-table>
</div>

<div *ngIf="isNewIncident && !isUpdateIncident" class="container">
  <app-incident-form></app-incident-form>
</div>

<div *ngIf="isUpdateIncident" class="container">
  <app-incident-update-form></app-incident-update-form>
</div>
