/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import "~@angular/material/theming";

@import "~@ag-grid-community/core/dist/styles/ag-grid.min.css";
@import "~@ag-grid-community/core/dist/styles/ag-theme-balham.min.css";
@import "~@ag-grid-community/core/dist/styles/ag-theme-material.min.css";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Roboto, monospace",
  $headline: mat-typography-level(16px, 42px, 700),
  $body-1: mat-typography-level(14px, 20px, 500),
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}
