.severity-option0 div span,
.severity-option1 div span,
.severity-option2 div span,
.severity-option3 div span,
.severity-option4 div span {
  font-weight: 600;
}

.severity-option {
  color: white;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 10px;
  padding: 12px 15px 12px 15px;
  display: inline-block;
}

.severity-option0 {
  background-color: #d63649;
}

.severity-option1 {
  background-color: #f5a52d;
}

.severity-option2 {
  background-color: #f1cd1d;
}

.severity-option3 {
  background-color: #02a921;
}

.severity-option4 {
  background-color: #55d20d;
}

.option0,
.option1,
.option2,
.option3,
.option4 {
  padding-top: 10px;
}

:host ::ng-deep .severity-color-0 > label.mat-radio-label,
:host ::ng-deep .severity-color-1 > label.mat-radio-label,
:host ::ng-deep .severity-color-2 > label.mat-radio-label,
:host ::ng-deep .severity-color-3 > label.mat-radio-label,
:host ::ng-deep .severity-color-4 > label.mat-radio-label {
  margin-right: 0px;
}

.severity-people,
.severity-env,
.severity-asset,
.severity-business {
  background-color: #e4e8f0;
  margin-bottom: 10px;
  padding: 5px;
}

.severity-business {
  border-radius: 0px 10px 10px 0px;
}

.severity-container {
  max-height: 60px;
}

.header-custom {
  margin: 11px 10px 18px 7px;
}
