<!-- TODO: Add flex-grow to severity level -->
<h4 class="header-custom" fxLayout="row" fxLayoutAlign="start" *ngIf="to.showLabel">{{ to.label }}</h4>
<div
  fxLayout="row"
  fxLayoutAlign="start"
  *ngFor="let sLevel of to.severityLevel; let severityindex = index"
  class="display-flex severity-container"
>
  <div fxLayout="column" [class]="'flex-0 option' + severityindex">
    <mat-radio-group
      #radioGroup
      (change)="onSeverityLevelChange($event)"
      [formControl]="formControl"
      [name]="to.name || 'group1'"
      aria-label="Select an option"
    >
      <mat-radio-button
        [value]="sLevel.name"
        [id]="'severity.name' + severityindex"
        class="mat-radio-button-severity"
        [ngClass]="'severity-color-' + severityindex"
        color="primary"
        matTooltip="{{ sLevel.description }}"
      >
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div
    fxLayout="column inline"
    [class]="'flex-1 cursor-pointer severity-option severity-option' + severityindex"
    (click)="formControl.patchValue(sLevel.name)"
    title="{{ sLevel.description }}"
  >
    <div>
      <span>{{ to.severityLevel.length - severityindex }}</span> - {{ sLevel.name }}
    </div>
  </div>
  <div
    fxLayout="column"
    class="flex-2 severity-people"
    *ngIf="People && People[sLevel.name]"
    [title]="People ? People[sLevel.name]?.description : ''"
  >
    {{ People[sLevel.name]?.description | slice: 0:85 }}
  </div>
  <div
    fxLayout="column"
    class="flex-2 severity-env"
    *ngIf="Environment && Environment[sLevel.name]"
    [title]="Environment ? Environment[sLevel.name]?.description : ''"
  >
    {{ Environment[sLevel.name]?.description | slice: 0:85 }}
  </div>
  <div
    fxLayout="column"
    class="flex-2 severity-asset"
    *ngIf="Property && Property[sLevel.name]"
    [title]="Property ? Property[sLevel.name]?.description : ''"
  >
    {{ Property[sLevel.name]?.description | slice: 0:85 }}
  </div>
  <div
    fxLayout="column"
    class="flex-2 severity-business"
    *ngIf="Reputation && Reputation[sLevel.name]"
    [title]="Reputation ? Reputation[sLevel.name]?.description : ''"
  >
    {{ Reputation[sLevel.name]?.description | slice: 0:85 }}
  </div>
</div>
