:host ::ng-deep .mat-card-title {
  display: block;
  margin-bottom: unset;
}

:host ::ng-deep .mat-card-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #16569e;
  position: absolute;
  margin-top: -10px;
  margin-bottom: unset;
}

::ng-deep .save-btn-org {
  background-color: #16569e;
  height: fit-content;
}

:host ::ng-deep [class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

:host ::ng-deep [class*="flex-"]:first-child {
  padding-left: 0;
}

:host ::ng-deep [class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.table-filter-btn {
  background-color: #16569e;
  color: #fff;
}

.mat-toolbar-single-row {
  padding: 0;
}

:host ::ng-deep .mat-form-field {
  font-size: 14px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.8em;
}
::ng-deep .toolbar-select.mat-select {
  display: inline-block;
  color: #8798ad;
  outline: none;
  font-size: 12px;
}

.mat-list {
  color: #16569e;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.mat-list-click {
  color: #8698ad;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.mat-grid {
  color: #16569e;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.mat-grid-click {
  color: #8698ad;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #000;
  animation: spinner 0.8s linear infinite;
}

:host ::ng-deep .mat-select {
  display: inline-block;
  width: 100%;
  outline: none;
  margin-left: 0.5%;
  color: darkgray;
}
