<mat-toolbar class="table-heading" fxLayoutAlign="none start">
  <span>
    <mat-card-title class="mat-card-title">{{ title }}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle"
      >{{ subtitle | uppercase }}
      <mat-select
        *ngIf="selectOptions && selectValue"
        [(ngModel)]="selectValue"
        class="common-styles toolbar-select"
        [style.width.%]="selectWidth"
        disableOptionCentering
        panelClass="myPanelClass"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option *ngFor="let option of selectOptions" [value]="option[selectOptionValue]"
          >{{ option[selectOptionLabel] }}
        </mat-option>
      </mat-select>
    </mat-card-subtitle>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <button
      class="md-raised btn-field-bt-mg table-filter-btn"
      (click)="toggleFilter()"
      *ngIf="isDataReceived"
      layout-margin=""
      mat-stroked-button
    >
      <img src="assets/svg/filter_list_white.png" /> FILTERS
    </button>

    <span *ngIf="gridColumnShowHide">
      <mat-icon [ngClass]="showGrid == true && showColumn == false ? 'mat-list-click' : 'mat-list'" (click)="getList()"
        >list</mat-icon
      >
      <mat-icon
        [ngClass]="showColumn == true && showGrid == false ? 'mat-grid-click' : 'mat-grid'"
        (click)="getColumn()"
        >view_module</mat-icon
      >
    </span>

    <a
      class="btn-success btn-field-bt-mg"
      [class.spinner]="navigationButtonDisabled"
      [disabled]="navigationButtonDisabled"
      mat-stroked-button
      (click)="onNavigateButton()"
      *ngIf="navigateButtonTitle"
    >
      <mat-icon [svgIcon]="svgIcon || ''"> {{ buttonIcon || 'add' }} </mat-icon> {{ navigateButtonTitle }}
    </a>
  </span>
</mat-toolbar>
<ng-container *ngIf="showFilter && isDataReceived">
  <mat-toolbar>
    <ng-container>
      <app-form [config]="formlyConfig"> </app-form>
    </ng-container>
    <div class="display-flex">
      <button
        type="button"
        mat-raised-button
        class="btn btn-success submit-button save-btn-org"
        (click)="onFilter(model)"
      >
        APPLY
      </button>
      <button type="button" mat-button class="btn btn-default" color="primary" (click)="onClear()">CLEAR</button>
    </div>
  </mat-toolbar>
</ng-container>
