<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Near Miss"
      subtitle="New Near Miss"
      navigateButtonTitle="Near Miss"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>
    <app-form [config]="formlyConfig"></app-form>
  </mat-card-content>
</mat-card>

<app-dialog
  #immediateActionDialog
  [dialog]="openImmediateActionDialog"
  [header]="immediateActionHeader"
  [content]="immediateActionContent"
  [footer]="immediateActionFooter"
  [width]="'30rem'"
  (afterClosed)="afterImmediateActionDialogClose($event)"
>
</app-dialog>
<ng-template #immediateActionHeader>
  <h3 class="confirmation-header">Immediate Action Taken</h3>
</ng-template>

<ng-template #immediateActionContent>
  <div class="margin-top-2rem">
    <mat-form-field appearance="outline" fxFlex="100%">
      <mat-label>Comment</mat-label>
      <textarea matInput rows="3" [(ngModel)]="immidiateAction"></textarea>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #immediateActionFooter>
  <button mat-raised-button color="primary" (click)="onDialogOkAction()">Ok</button>
  <button mat-raised-button mat-dialog-close>No Thanks</button>
</ng-template>
