:host ::ng-deep .mat-stepper-vertical-line::before {
  border-left-width: 0;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #16569e;
}

// :host ::ng-deep .mat-card.mat-card-form-content {
//   height: fit-content
// }

:host ::ng-deep .mat-card.mat-focus-indicator {
  height: 27.5rem;
}

:host ::ng-deep .stepper-content .stepper-nav {
  height: fit-content;
}
