<!-- Use this card for Route Config -->
<!-- <mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="New Acknowledge Form"
      navigateButtonTitle="Fleet Notification"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>
    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card> -->

<app-form [config]="formlyConfig"> </app-form>
