.progress-bar-section-2 {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

.ready-content {
  height: 28px;
  background: #35ba4d;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  line-height: 29px;
  text-transform: capitalize;
}
