<button
  (click)="onNavClick()"
  [routerLink]="'/' + navItem.route"
  class="menu-button"
  mat-button
  routerLinkActive="active"
>
  <div>
    <mat-icon [svgIcon]="navItem.iconName"></mat-icon>
  </div>
  <span class="nav-bar-font" translate>{{ navItem.displayName }}</span>
</button>
