@import "src/theme/theme-variables";

.menu-button {
  color: #3b4652; // TODO get from Theme Variable.
  text-decoration: none;
  height: 100%;
  border-radius: 0;
  line-height: 1.25;
  font-size: 0.7em;
  font-weight: 400;
}

.active {
  color: #fff;
  background: #51baf3;
}

.mat-icon {
  height: 37px;
  width: 37px;
}
