<div class="attachment-section">
  <div *ngFor="let image of formState?.images" class="image-box">
    <img [src]="getFilterFile(image)" [class]="getImageStyleClass(image)" />
    <a (click)="deleteImage($event, image)">
      <mat-icon class="clear-icon">clear</mat-icon>
    </a>
    <p class="image-name">{{ image.name }}</p>
  </div>
</div>
