<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="New Vessel Owner"
      subtitle=" NEW VESSEL OWNER"
      buttonIcon="arrow_back_ios"
      navigateButtonTitle="Vessel Owner"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>
    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card>
