@import "src/theme/theme-variables";
@import "src/assets/styles/core";

:host {
  display: flex;
  flex: 1;
}

::ng-deep .container {
  background-color: #f7fafc;
  height: calc(100vh - 80px);
}

::ng-deep .tr.mat-header-row {
  height: 40px;
}

/* ....................... card's global styling code start................................... */

::ng-deep .mat-toolbar {
  background: transparent;
}

::ng-deep .btn-success {
  background-color: #02a921;
  color: #fff;
  border: none;
}

::ng-deep .mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

::ng-deep .mat-card-title {
  font-weight: bold;
  font-size: 25px;
}

::ng-deep .mat-card-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #16569e;
}

::ng-deep .mat-card-content {
  background-color: transparent;
}

/* ....................... custom stepper styling code start ................................... */

.mat-stepper-vertical {
  background: transparent;
}

.mat-raised-button.mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

.mat-raised-button.mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

.mat-raised-button.mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

.mat-line-custom::before {
  content: "";
  position: absolute;
  top: -38px;
  bottom: 41px;
  border-left-width: 1px;
  border-left-style: dashed;
  left: 19px;
  color: #16569e;
}

::ng-deep .mat-step > .mat-vertical-stepper-header {
  display: none;
}

.mat-step .mat-vertical-content-container {
  margin-left: 0;
  position: unset;
}

.mat-vertical-stepper-header-container {
  display: none;
}

.stepper-content {
  margin-left: 36px;
  background-color: #f7fafc;
}

div .mat-divider-nearmiss.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 95%;
  margin-left: 22px;
  border-top-style: solid;
}

::ng-deep .mat-radio-label {
  margin: 0 10px;
}

::ng-deep .mat-radio-label-content {
  font-size: 13px;
  font-weight: 500;
}

::ng-deep .mat-stepper-vertical {
  background: transparent;
}

/* ....................... title heading styling code start ................................... */

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
}

/* ....................... button styling code start ................................... */

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #16569e;
}

::ng-deep .mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #16569e;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: -0.6em 0;
}

.btn-space {
  margin: 5px;
}

/* ....................... table styling code start ................................... */
:host ::ng-deep .mat-table {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

:host ::ng-deep .mat-header-row {
  height: 40px;
  text-transform: uppercase;
}

/** ....................... browser scroll bar style ............................... */

/**  ............................ table styling .................................  **/
table .mat-icon {
  color: gray;
  font-size: 20px;
}
table .mat-icon-button {
  width: 23px;
  height: 23px;
}
.mat-header-cell {
  width: 100px;
  background-color: #51baf3;
  font-size: 14px;
  color: #fff;
}
