:host {
  height: calc(100vh - 175px);
}
.ag-theme-material .ag-header {
  background-color: #51baf3;
}
.ag-pivot-off .ag-header {
  background-color: #51baf3;
}

:host ::ng-deep .ag-theme-material .ag-cell-inline-editing {
  border-color: #16569e;
  border-color: var(--ag-input-focus-border-color, var(--ag-material-accent-color, #16569e));
  outline: 1px solid #16569e;
  border: none;
  height: 48px;
}

.ag-theme-material .ag-cell-focus {
  border-color: #16569e;
  border-color: var(--ag-input-focus-border-color, var(--ag-material-accent-color, #16569e));
  outline: 1px solid #16569e;
  border: none;
}

:host ::ng-deep .ag-theme-material .ag-header-icon {
  color: white;
}

:host ::ng-deep .ag-theme-material .ag-ltr .ag-row-level-1 .ag-row-group-leaf-indent {
  margin-left: 10px;
}

:host ::ng-deep .ag-theme-material .ag-header-cell:hover .ag-header-cell-text,
:host ::ng-deep .ag-theme-material .ag-header-cell:hover .ag-header-icon {
  color: #51baf3;
}
.ag-root-wrapper.ag-layout-normal {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
