<div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let data of inspectionData">
  <div fxFill="100%" class="col-header-bg">
    <span class="col-header padding-left">
      {{ data.inspectionType }}
    </span>
  </div>

  <div fxFill="100%">
    <div
      fxLayout="row"
      *ngFor="let reminderdata of data.inspectionTypeData; let i = index"
      class="border-bottom text-center"
    >
      <div fxFlex="29" [ngClass]="getIsoDate(reminderdata.reminder) < today ? 'red-text' : 'black-text'">
        {{ reminderdata.oilMajor }}
      </div>
      <div fxFlex="29" [ngClass]="getIsoDate(reminderdata.reminder) < today ? 'red-text' : 'black-text'">
        {{ reminderdata.lastInspected | localTimezone }}
      </div>
      <div fxFlex="29" [ngClass]="getIsoDate(reminderdata.reminder) < today ? 'red-text' : 'black-text'">
        {{ reminderdata.reminder | localTimezone }}
      </div>
      <div fxFlex="10" class="text-center">
        <a (click)="onEdit(params, reminderdata, data.inspectionType)" class="edit-icon">
          <mat-icon class="mat-icon material-icons mat-icon-no-color">create</mat-icon>
        </a>
        <a (click)="onDelete(params, reminderdata, data.inspectionType)" class="edit-icon">
          <mat-icon class="mat-icon material-icons mat-icon-no-color">delete</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
