.col-header-bg {
  background-color: #e7eaef;
}

.col-header {
  color: #75808b;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 2.5;
}

.red-text {
  color: #e54e60;
  font-weight: 500;
}

.black-text {
  color: #0b0b0b;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #e9eaf0;
}

.text-center {
  text-align: center;
}

.padding-left {
  padding-left: 1rem;
}

.edit-icon {
  color: #8798ad;
}

::ng-deep .ag-cell-label-container .ag-header-cell-label {
  justify-content: center;
}

.mat-icon {
  color: gray;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
