<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <span>
        <mat-card-title>FLEET-NOTIFICATION</mat-card-title>
        <mat-card-subtitle>Summary</mat-card-subtitle>
      </span>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <span>
        <button
          (click)="toggleDisplay()"
          class="md-raised btn-field-bt-mg table-filter-btn"
          layout-margin=""
          mat-stroked-button
        >
          <img src=" ../../../../assets/filter_list_white.png" /> FILTERS
        </button>

        <button class="md-raised btn-field-bt-mg" layout-margin="" mat-stroked-button>
          <img src="../../../../assets/get_app.svg" /> Export <img src="../../../../assets/pdf-black.svg" />
        </button>

        <button class="md-raised btn-field-bt-mg" mat-stroked-button>
          <img src="../../../../assets/get_app.svg" /> Export
          <img class="md-raised" src="../../../../assets/pdf-black.svg" />
        </button>

        <!-- <a routerLink="/fleetNotification/new-fleetNotification-form" mat-stroked-button class="btn-success btn-field-bt-mg">
          New FleetNotification Form</a> -->
        <!-- (click)="this.parentFun.emit()" -->
      </span>
    </mat-toolbar>
    <mat-toolbar *ngIf="isShow" class="filter-field">
      <div class="container">
        <form [style.fontSize.px]="getFontSize()" class="example-container">
          <button
            (click)="toggleDisplay()"
            class="md-raised btn-field-bt-mg mat-button-custom table-filter-btn"
            color="primary"
            layout-margin=""
            mat-stroked-button
          >
            <img src=" ../../../../assets/filter_list_white.png" /> FILTERS
          </button>

          <mat-form-field [style.padding]="getPadding()" appearance="outline" class="btn-field-bt-mg">
            <mat-label>Search Keyword</mat-label>
            <input matInput placeholder="Search Keyword" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Group</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Security Levels</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Type</mat-label>
            <mat-select>
              <!-- <mat-option>None</mat-option> -->
              <mat-option *ngFor="let vesselData of vesselTypeData" [value]="vesselData.vesselType">{{
                vesselData.vesselType
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button
            class="md-raised btn-field-bt-mg mat-button-custom table-filter-btn"
            layout-margin=""
            mat-stroked-button
            type="submit"
          >
            APPLY
          </button>
          <button
            class="md-raised btn-field-bt-mg mat-button-custom"
            color="primary"
            layout-margin=""
            mat-stroked-button
            type="reset"
          >
            CLEAR
          </button>
        </form>
      </div>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
