.padd-left-right {
  padding: 0 1rem;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #16569e;
  opacity: 1;
}

:host ::ng-deep .dialog-card .mat-card {
  padding-top: 15px;
}

:host ::ng-deep .add-btn {
  background-color: #16569e;
}
