<app-form [config]="formlyConfig" class="dialog-card" [autoHeight]="true"> </app-form>
<div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
  <div>
    <button class="discard-btn" (click)="discard()" mat-button color="primary" type="reset">
      <span translate>Discard </span>
    </button>
    <button class="add-btn" (click)="save()" color="primary" mat-raised-button type="submit">
      <span translate>Save Changes </span>
    </button>
  </div>
</div>
