<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <span>
        <mat-card-title>Acknowledgement-Form</mat-card-title>
      </span>
    </mat-toolbar>
  </mat-card-content>
</mat-card>

<mat-vertical-stepper>
  <mat-card>
    <mat-card-content>
      <mat-step [stepControl]="acknowledgementFormGroup">
        <form (ngSubmit)="onSubmit()" [formGroup]="acknowledgementFormGroup" novalidate>
          <ng-template matStepLabel>Acknowledgement</ng-template>
          <!-- <br /> -->
          <div class="acknowledge-radio-section" fxLayout="row">
            <mat-radio-group
              (change)="onAlertOnBoard($event)"
              [(ngModel)]="alertValue"
              appearance="outline"
              class="radio-group"
              formControlName="alertDiscussedOnBoard"
              name="alert"
            >
              <!-- <h4>Stop Card Issued </h4> -->
              <div class="message-box">
                <p>
                  <mat-label>The Alert has been discussed on board</mat-label>
                </p>
              </div>
              <div class="radio-box">
                <mat-radio-button color="primary" value="yes">
                  Yes
                </mat-radio-button>
                <mat-radio-button color="primary" value="no">
                  No
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>

          <mat-form-field appearance="outline" class="btn-field-bt-mg fleet-form-field">
            <mat-label>Master's Name</mat-label>
            <mat-select formControlName="masterName" required>
              <!-- <mat-option>Select master name</mat-option> -->
              <mat-option *ngFor="let user of userData" [value]="user.userId">{{ user.firstname }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                acknowledgementFormGroup.controls.masterName.invalid &&
                acknowledgementFormGroup.controls.masterName.touched
              "
            >
              <span translate>Master Name is required</span>
            </mat-error>
          </mat-form-field>

          <div fxLayout="row">
            <mat-form-field appearance="outline" class="btn-field-bt-mg fleet-form-field">
              <mat-label>Date</mat-label>
              <input [matDatepicker]="picker" formControlName="date" matInput required />
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field appearance="outline" class="btn-field-bt-mg fleet-form-field">
              <mat-label>Participant's</mat-label>
              <mat-select formControlName="participants" multiple>
                <mat-option *ngFor="let designation of designationData" [value]="designation.duid">
                  {{ designation.designation }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  acknowledgementFormGroup.controls.participants.invalid &&
                  acknowledgementFormGroup.controls.participants.touched
                "
              >
                <span translate>Participants is required</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="fleet-vessel-email" fxLayout="row">
            <mat-form-field appearance="outline" class="btn-field-bt-mg">
              <mat-label>Email ID's</mat-label>
              <input formControlName="emails" matInput multiple placeholder="email Id's" />
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutAlign=" none">
            <mat-form-field appearance="outline">
              <mat-label>Comments</mat-label>
              <textarea formControlName="comments" matInput placeholder="comments" rows="4"> </textarea>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="end">
            <br />
            <button color="primary" mat-raised-button matStepperNext type="submit">
              <!-- <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader> -->
              <span translate>SAVE CHANGE</span>
            </button>
          </div>
          <div>
            <button color="primary" mat-button matStepperNext>NEXT</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="actionForm">
        <form (ngSubmit)="onSubmitActionForm()" [formGroup]="actionForm">
          <ng-template matStepLabel>Actions</ng-template>
          <div>
            <table class="table table-hover">
              <tbody formArrayName="action">
                <tr *ngFor="let actions of getActionControls().controls; let i = index" [formGroupName]="i">
                  <td>
                    <mat-form-field appearance="outline" class="btn-field-bt-mg">
                      <mat-label>Type</mat-label>
                      <input formControlName="type" matInput placeholder="natureOfAction" required />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="btn-field-bt-mg">
                      <mat-label>Nature of Action</mat-label>
                      <input formControlName="natureOfAction" matInput placeholder="natureOfAction" />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="btn-field-bt-mg date-completion">
                      <mat-label>Due Date</mat-label>
                      <input [matDatepicker]="pickerDueDate" formControlName="dueDate" matInput />
                      <mat-datepicker-toggle [for]="pickerDueDate" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #pickerDueDate></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="btn-field-bt-mg date-completion">
                      <mat-label>Responsibility</mat-label>
                      <mat-select formControlName="designationId" required>
                        <mat-option>Select designation</mat-option>
                        <mat-option *ngFor="let designation of designationData" [value]="designation.duid">
                          {{ designation.designation }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="btn-field-bt-mg status-view">
                      <mat-label>Status</mat-label>
                      <input hidden="true" matInput />
                      <section appearance="outline" class="example-section action-status">
                        <input formControlName="status" matCheckbox type="checkbox" />
                      </section>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="btn-field-bt-mg date-completion">
                      <mat-label>Date Completed</mat-label>
                      <input [matDatepicker]="pickerCompleted" formControlName="dateCompleted" matInput />
                      <mat-datepicker-toggle [for]="pickerCompleted" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #pickerCompleted></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <button class="btn-delete" color="warn" mat-raised-button>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div fxLayoutAlign="center">
              <button (click)="onAddActionField()" color="primary" mat-raised-button>ADD ROW +</button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div>
              <button mat-raised-button matStepperPrevious>BACK</button>
              <button mat-raised-button matStepperNext>NEXT</button>
            </div>
            <div>
              <button color="primary" mat-raised-button matStepperNext type="submit">
                <span translate>SAVE</span>
              </button>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-card-content>
  </mat-card>
</mat-vertical-stepper>
