::ng-deep .date-completion {
  width: 150px;
}

::ng-deep .status-view {
  width: 70px;
  text-align: center;
}

.btn-delete {
  margin-bottom: 20px;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

.message-box {
  display: inline-block;
  box-sizing: border-box;
}

.radio-box {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;
}

.radio-box .mat-radio-button {
  margin-left: 20px;
}

.acknowledge-radio-section {
  margin-bottom: 20px;
}

.fleet-form-field {
  width: 50%;
}

.fleet-vessel-email .mat-form-field {
  margin: 25px 0;
  width: 50%;
}
