<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Incident"
      subtitle="New INCIDENTS"
      navigateButtonTitle="Incident"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>
    <app-form *ngIf="formlyConfig.length > 0" [config]="formlyConfig"></app-form>
  </mat-card-content>
</mat-card>
