:host ::ng-deep .mat-stroked-button.plain-button {
  border: 1px solid #628dbd;
}

:host ::ng-deep .ag-header-cell.ag-focus-managed.ag-header-cell-sortable.no-border-top {
  border-top: none;
}

:host ::ng-deep .ag-theme-material .ag-header-cell.custom-class {
  background: #24a1e5;
}

:host ::ng-deep .ag-theme-material .ag-header {
  background: #24a1e5;
}

:host ::ng-deep .ag-theme-material .ag-header-cell:hover {
  background: #24a1e5;
}

:host ::ng-deep .ag-theme-material .ag-ltr .ag-cell {
  border-right: 1px solid #c0c7ce;
}

:host ::ng-deep .no-group .ag-cell-label-container {
  margin-top: -21px;
}

:host ::ng-deep .reminder-select .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}

:host ::ng-deep .reminder-select .mat-select-value {
  font-size: 1rem;
  font-weight: 500;
}

:host ::ng-deep .reminder-select .mat-form-field-infix {
  border-top: 0.3em solid transparent;
  padding: 1em 0 0.6em 0;
}

:host ::ng-deep .reminder-select .mat-form-field-outline {
  color: #19589f;
}

:host ::ng-deep .reminder-select .mat-form-field-outline-start {
  border-width: 1px;
}

:host ::ng-deep .reminder-select .mat-form-field-outline-end {
  border-width: 1px;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.select-width {
  width: 7.5rem;
}

.blue-font-color {
  color: #19589f;
}

:host ::ng-deep .mat-stroked-button.blue-font-color {
  border: 1px solid #19589f;
}

.selected-button {
  color: white;
  background: #8798ad;
}

:host ::ng-deep .mat-stroked-button.selected-button {
  border: 1px solid #8798ad;
}
