<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Closeout Status"
      subtitle="ALL CLOSEOUT STATUS"
      navigateButtonTitle="New Closeout Status"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>

    <div class="container">
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px" class="mb-2rem">
        <mat-form-field appearance="outline" class="reminder-select select-width blue-font-color">
          <mat-select [value]="'option1'">
            <mat-option value="option1">2020</mat-option>
            <mat-option value="option2">2019</mat-option>
            <mat-option value="option3">2018</mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-stroked-button
          class="blue-font-color"
          (click)="selectedButton = '1st'"
          [ngClass]="{ 'selected-button': selectedButton === '1st' }"
        >
          SHOW ALL
        </button>

        <button
          mat-stroked-button
          class="blue-font-color"
          (click)="selectedButton = '2nd'"
          [ngClass]="{ 'selected-button': selectedButton === '2nd' }"
        >
          SHOW IN PROGRESS AND PROCESSED
        </button>
      </div>
      <app-ag-grid
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [defaultColDef]="defaultColDef"
        [icons]="icons"
        [frameworkComponents]="frameworkComponents"
        [editType]="editType"
        [domLayout]="domLayout"
        (cellValueChanged)="onCellValueChanged($event)"
        [paginationPageSize]="paginationPageSize"
        [headerHeight]="headerHeight"
        [groupHeaderHeight]="groupHeaderHeight"
      >
      </app-ag-grid>
    </div>
  </mat-card-content>
</mat-card>

<app-dialog [dialog]="displayDialog" [header]="header" [content]="content" [footer]="footer"> </app-dialog>
<ng-template #header> </ng-template>

<ng-template #content>
  <app-inspection-remark (closeDialog)="discard($event)"></app-inspection-remark>
</ng-template>

<ng-template #footer>
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close>Apply</button> -->
</ng-template>
