// .container {
//   width: 80%;
//   margin-top: 20px;
//   float: left;
// }

:host ::ng-deep .mat-stepper-vertical-line::before {
  border-left-width: 0;
}

.mat-card {
  box-shadow: 2px 2px 2px transparent;
}

.from-title {
  font-family: sans-serif;
  margin: 20px;
}

.card-container {
  background-color: white;
  box-shadow: 2px 2px 5px #e8e8e8;
  padding: 10px;
  border: 2px solid #e8e8e8;
  margin: 20px;
  border-radius: 10px;
}

.form-field-name {
  width: 45%;
  margin: 0 0 0 20px;
}

:host ::ng-deep .mat-card {
  letter-spacing: 1px;
}

.form-field-name input {
  height: 100%;
}

.form-field-name-2 input {
  height: 100%;
}

.upload-btn {
  margin: 20px;
}

.save-btn {
  margin: 20px;
}

:host ::ng-deep .next {
  color: red;
}
