<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Third Party Sharing"
      subtitle="New Third Party Sharing"
      navigateButtonTitle="Third Party Sharing"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>

    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card>
