table {
  width: 100%;
}
.fleet-table .fleet-last-action {
  text-align: center;
}
.table-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 34px;
}

.table-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

tr {
  height: 40px;
}

.mat-content {
  margin: 0 20px;
}

.mat-content-details {
  margin: 0 20px;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}

.text-center {
  text-align: center;
}

.action-buttons {
  color: gray;
  // margin-right: -11px;
  border: unset;
  background: unset;
  // color: #2196f3;
}

.fleets-section1 {
  display: inline-block;
}
.fleets-section2 {
  display: inline-block;
  box-sizing: border-box;
  float: right;
  // width: 50%;
}

.mat-main-content {
  padding: 0 20px;
}

.fleet-mat-icons {
  color: gray;
  margin-right: -11px;
}

// .action-buttons mat-icon:hover {
//   color: gray;
// }

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
}

.fleet-heading {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.fleet-subtitle {
  color: #16569e;
  font-weight: bold;
  font-size: 12px;
}

.fleet-section1 {
  display: inline-block;
  box-sizing: border-box;
  // width: 50%;
  margin-bottom: 20px;
  float: left;
}

/* Details page design */
.mat-label {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.mat-label-data {
  font-size: 14px;
  // font-weight: bold;
  color: #16569e;
  margin: 5px;
}

.mat-card > .mat-card-content > .mat-divider-fleet-notification {
  border-top-width: 2px;
  border-top-color: #16569e;
  margin-left: 40px;
  width: 94%;
}

.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

.iconbutton-custom {
  color: gray;
  margin-right: -11px;
}

//// ***pagination css *******//
//::ng-deep .mat-paginator-range-label {
//  position: absolute;
//  left: 10px;
//  color: #000;
//}
//
//::ng-deep .mat-paginator-page-size-label {
//  visibility: hidden;
//}
//
//::ng-deep .mat-paginator-page-size-label::after {
//  visibility: visible;
//  content: "Row Per Page";
//  color: #000;
//}

//****
.icons-fleet mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
.icons-fleet button {
  font-size: 20px;
}

.mat-header-row {
  height: 40px;
}
::ng-deep .mat-paginator-page-size-select {
  width: 35px;
}

.new-fleet-btn {
  margin-right: 24px;
}

.confirmation-header {
  color: #9db8d6;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.confirmation-content {
  font-family: Roboto, sans-serif;
  padding: 1rem 0;
}
