<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Fleet Notification"
      subtitle="ALL REPORT"
      navigateButtonTitle="New Fleet Notification"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>
    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>

<app-dialog
  [dialog]="displayDialog"
  [header]="header"
  [content]="content"
  [footer]="footer"
  (afterClosed)="afterDeleteDialogClosed($event)"
  #dialog
>
</app-dialog>
<ng-template #header>
  <h3 class="confirmation-header">Confirmation Popup</h3>
</ng-template>

<ng-template #content>
  <div class="confirmation-content">
    <p>Do you want to delete '{{ selectedFleetNotificationName }}' ?</p>
  </div>
</ng-template>

<ng-template #footer>
  <button mat-raised-button color="warn" (click)="onDialogOkClick()">Ok</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</ng-template>
