.container {
  height: calc(100vh - 196px);
  border-radius: 10px;
}
.vessel-subheading {
  color: #16569e;
}

strong {
  color: #16569e;
}

.dialog-heading {
  color: white;
  font-family: Roboto, monospace;
}

.close-btn {
  float: right;

  /* margin-top: -19px; */
  color: #fff;
  font-size: 15px;

  /* margin-left: 10px; */
  margin-right: -16px;
  margin-top: -17px;
  cursor: pointer;
}

.save-btn {
  background-color: #16569e;
}

.form-card {
  width: 100%;
  overflow: auto;
}
