<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="NEW VESSEL"
      subtitle="NEW VESSEL"
      buttonIcon="arrow_back_ios"
      navigateButtonTitle="Vessel"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>
    <app-form [config]="formlyConfig"></app-form>
  </mat-card-content>
</mat-card>

<!-- #region Add Vessel Owner Dialog -->
<app-dialog
  [dialog]="displayDialog"
  (afterClosed)="displayDialog = false"
  (afterOpened)="onOpenDialog($event)"
  #newdialog
  [header]="header"
  [content]="content"
  [footer]="footer"
>
</app-dialog>
<ng-template #header>
  <div><mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon></div>
  <h2 class="dialog-heading">Add Vessel Owner</h2>
</ng-template>

<ng-template #content>
  <app-form [config]="formlyConfigAdd"></app-form>
</ng-template>

<ng-template #footer>
  <div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
    <div>
      <button class="discard-btn" (click)="overviewOwnerReset()" mat-button color="primary" type="reset">
        <span translate>Discard </span>
      </button>
      <button class="add-btn save-btn" (click)="onOwnerSubmit()" color="primary" mat-raised-button type="submit">
        <span translate>Save Changes </span>
      </button>
    </div>
  </div>
</ng-template>
<!-- #endregion Add Vessel Owner Dialog -->

<!-- #region Add Vessel Port Dialog -->
<app-dialog
  [dialog]="displayPortDialog"
  (afterClosed)="displayPortDialog = false"
  (afterOpened)="onPortDialog($event)"
  #portdialog
  [header]="portheader"
  [content]="portcontent"
  [footer]="portfooter"
>
</app-dialog>
<ng-template #portheader>
  <div><mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon></div>
  <h2 class="dialog-heading">Add Vessel Port</h2>
</ng-template>

<ng-template #portcontent>
  <app-form [config]="formlyConfigPort"></app-form>
</ng-template>

<ng-template #portfooter>
  <div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
    <div>
      <button class="discard-btn" (click)="overviewPortReset()" mat-button color="primary" type="reset">
        <span translate>Discard </span>
      </button>
      <button class="add-btn save-btn" (click)="onPortSubmit()" color="primary" mat-raised-button type="submit">
        <span translate>Save Changes </span>
      </button>
    </div>
  </div>
</ng-template>
<!-- #endregion Add Vessel Port Dialog -->

<!-- #region Add Vessel Type Dialog -->
<app-dialog
  [dialog]="displayVesselTypeDialog"
  (afterClosed)="displayVesselTypeDialog = false"
  (afterOpened)="onVesselTypeDialog($event)"
  #vesseltypedialog
  [header]="vesseltypeheader"
  [content]="vesseltypecontent"
  [footer]="vesseltypefooter"
  [width]="500"
>
</app-dialog>
<ng-template #vesseltypeheader>
  <div><mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon></div>
  <h2 class="dialog-heading">Add Vessel Type</h2>
</ng-template>

<ng-template #vesseltypecontent>
  <app-form [config]="formlyConfigVesselType"></app-form>
</ng-template>

<ng-template #vesseltypefooter>
  <div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
    <div>
      <button (click)="overviewVesselTypeReset()" mat-button color="primary" type="reset">
        <span translate>Discard </span>
      </button>
      <button class="add-btn save-btn" (click)="onVesselTypeSubmit()" color="primary" mat-raised-button type="submit">
        <span translate>Save Changes </span>
      </button>
    </div>
  </div>
</ng-template>
<!-- #endregion Add Vessel Type Dialog -->
