<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Lesson Learnt"
      subtitle="{{ isEditMode ? 'Edit' : 'New' }} Lesson Learnt"
      navigateButtonTitle="Lesson Learnt"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>
    <app-form [config]="formlyConfig"></app-form>
  </mat-card-content>
</mat-card>
