<div class="attachment-section">
  <ng-container *ngIf="preview">
    <div *ngFor="let image of images" class="image-box">
      <img [src]="getFilterFile(image)" [class]="getImageStyleClass(image)" />
      <a (click)="deleteImage($event, image)" href="#">
        <mat-icon class="clear-icon">clear</mat-icon>
      </a>
      <p class="image-name">{{ image.name }}</p>
    </div>
  </ng-container>
  <div class="attachment-button">
    <input
      [class]="className || 'ng-hide upload-btn'"
      type="file"
      [id]="id"
      (change)="onChange($event)"
      hidden="hidden"
      [multiple]="multiple"
      [accept]="accept"
    />
    <label [for]="id" class="md-button md-raised md-primary file-button">
      <mat-icon>{{ attachIcon }}</mat-icon>
      <span class="icon-text"
        ><strong>{{ label }}</strong></span
      >
    </label>
  </div>
</div>
