.attachment-button {
  padding: 10px 8px;
  border-radius: 14px;
  text-decoration: none;
  color: #001c66;
}

.icon-text {
  margin-top: -10px;
  font-size: 12px;
}

.attachment-button mat-icon {
  vertical-align: middle;
}

.attachment-section .image-box {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
}

.file-button {
  background-color: #e4e8f0;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #2c66a7;
  //filter: drop-shadow(2px 2px 2px black);
  border: none;
  position: relative;
  z-index: 2;
}

.file-button mat-icon {
  vertical-align: middle;
  font-size: 23px;
}

.file-button:hover {
  background-color: #e4e8f0;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #2c66a7;
  filter: drop-shadow(1px 1px 3px black);
  border: none;
}

.upload-images {
  margin: 10px;
  border: 1px solid #16569e;
  padding: 3px;
  height: 66px;
  width: 100px;
}

.pdfimages {
  padding: 10px;
  height: 85px;
  width: 100px;
}

.clear-icon {
  vertical-align: top;
  font-size: 11px;
  background-color: red;
  border-radius: 20px;
  padding-left: 0;
  padding-top: 2px;
  color: #fff;
  height: 15px;
  width: 15px;
  margin-left: -13px;
  cursor: pointer;
}

.image-name {
  text-align: center;
  font-size: 11px;
  color: gray;
  margin-top: -2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 106px;
  overflow: hidden;
}
