<mat-grid-list cols="24" rowHeight="93%">
  <!-- Left Side Scrolling content -->
  <mat-grid-tile [colspan]="5" [rowspan]="1" class="left-column">
    <div class="common-div">
      <app-graph-card [header]="header1" [content]="content1"></app-graph-card>
      <ng-template #header1>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="pie-chart-header-icon" fxFlex="10%">trending_up</mat-icon>
          <mat-label class="text-center pie-chart-header-font" fxFlex="80%">KPI</mat-label>
          <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1">reorder</mat-icon>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </ng-template>
      <ng-template #content1>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-bottom-3-8rem padding-top-1-3rem">
          <mat-label fxFlex="70%" class="kpi-lable">Nav Eqpt. Failure</mat-label>
          <div fxFlex="10%">
            <span class="kpi-indicator"></span>
          </div>
        </div>
      </ng-template>

      <br />

      <!-- <app-graph-card [header]="header2" [content]="content2"></app-graph-card>
      <ng-template #header2>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="pie-chart-header-icon" fxFlex="10%">trending_up</mat-icon>
          <mat-label class="text-center pie-chart-header-font" fxFlex="80%">IMPACT ON</mat-label>
          <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1">reorder</mat-icon>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </ng-template>
      <ng-template #content2>
        <app-pie [chartData]="getData()" [pieChartSize]="80"></app-pie>
      </ng-template> -->
      <br />

      <app-graph-card [header]="header3" [content]="content3"></app-graph-card>
      <ng-template #header3>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="pie-chart-header-icon" fxFlex="10%">trending_up</mat-icon>
          <mat-label class="text-center pie-chart-header-font" fxFlex="80%">SEVERITY</mat-label>
          <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1">reorder</mat-icon>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </ng-template>
      <ng-template #content3>
        <app-pie
          [id]="'chart3'"
          [chartData]="getData()"
          [pieChartSize]="80"
          [addLegendScroll]="true"
          [legendHeight]="100"
          [addLegend]="true"
        ></app-pie>
      </ng-template>
      <br />

      <app-graph-card [header]="header4" [content]="content4"></app-graph-card>
      <ng-template #header4>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="pie-chart-header-icon" fxFlex="10%">trending_up</mat-icon>
          <mat-label class="text-center pie-chart-header-font" fxFlex="80%">WATCH LIST</mat-label>
          <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1">reorder</mat-icon>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </ng-template>
      <ng-template #content4>
        <app-pie
          [id]="'chart4'"
          [chartData]="getData1()"
          [pieChartSize]="80"
          [addLegendScroll]="true"
          [legendHeight]="100"
          [addLegend]="true"
        ></app-pie>
        <app-vessel-stats></app-vessel-stats>
      </ng-template>
      <br />
    </div>
  </mat-grid-tile>

  <!-- Right Side Scrolling content -->
  <mat-grid-tile [colspan]="19" [rowspan]="1" class="right-column">
    <div class="common-div">
      <!-- Severity Levels -->
      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <div fxFlex="18.7%" class="text-center">
          <div class="common-div significant padding-bottom-2rem padding-top-3rem">
            <span class="wide-label-text">
              <mat-label class="label-thiner">EXTREME</mat-label>
            </span>
            <span class="width-100">
              <span class="number-style">15</span>
            </span>
          </div>
        </div>
        <div fxFlex="18.7%" class="text-center">
          <div class="common-div major padding-bottom-2rem padding-top-3rem">
            <span class="wide-label-text">
              <mat-label class="label-thiner">MAJOR</mat-label>
            </span>
            <span class="width-100">
              <span class="number-style">15</span>
            </span>
          </div>
        </div>
        <div fxFlex="18.7%" class="text-center">
          <div class="common-div moderate padding-bottom-2rem padding-top-3rem">
            <span class="wide-label-text">
              <mat-label class="label-thiner">MODERATE</mat-label>
            </span>
            <span class="width-100">
              <span class="number-style">15</span>
            </span>
          </div>
        </div>
        <div fxFlex="18.7%" class="text-center">
          <div class="common-div minior padding-bottom-2rem padding-top-3rem">
            <span class="wide-label-text">
              <mat-label class="label-thiner">MINOR</mat-label>
            </span>
            <span class="width-100">
              <span class="number-style">15</span>
            </span>
          </div>
        </div>
        <div fxFlex="18.7%" class="text-center">
          <div class="common-div trivial padding-bottom-2rem padding-top-3rem">
            <span class="wide-label-text">
              <mat-label class="label-thiner">TRIVIAL</mat-label>
            </span>
            <span class="width-100">
              <span class="number-style">15</span>
            </span>
          </div>
        </div>
      </div>
      <br />
      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <div fxFlex="63%">
          <div class="common-div">
            <h5 class="chart-label">PERIODIC ANALYSIS</h5>
            <app-graph-card [header]="header5" [content]="content5"></app-graph-card>
            <ng-template #header5>
              <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-bottom-1-3rem">
                <mat-slide-toggle fxFlex="80%">SEVERITY</mat-slide-toggle>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="8%">trending_up</mat-icon>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="8%" [matMenuTriggerFor]="menu1"
                  >reorder</mat-icon
                >
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" class="padding-bottom-1-3rem">
                <mat-radio-group>
                  <mat-radio-button value="1">YEARLY</mat-radio-button>
                  <mat-radio-button value="2">QUARTERLY</mat-radio-button>
                  <mat-radio-button value="3">MONTHLY</mat-radio-button>
                  <mat-radio-button value="4">RUNNING</mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-template>
            <ng-template #content5>
              <app-clustered-column [id]="'chart55'" [chartHeight]="'24rem'"></app-clustered-column>

              <!-- <app-basic-column-2-data-chart [id]="'chart5'"> </app-basic-column-2-data-chart> -->
            </ng-template>
          </div>
        </div>
        <div fxFlex="33%">
          <div class="common-div">
            <h5 class="chart-label">EQUIPMENT ANALYSIS</h5>

            <app-graph-card [header]="header6" [content]="content6"></app-graph-card>
            <ng-template #header6>
              <div fxLayout="row" fxLayoutAlign="center center" class="padding-bottom-3-8rem">
                <mat-slide-toggle fxFlex="35%">SEVERITY</mat-slide-toggle>
                <mat-label class="header-font-style-2" fxFlex="45%">EQPT. CATEGORY</mat-label>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%">trending_up</mat-icon>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1"
                  >reorder</mat-icon
                >
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
            </ng-template>
            <ng-template #content6>
              <app-multi-color-step-count
                [id]="'chart66'"
                [chartHeight]="'24rem'"
                [disableLegend]="true"
                [disableyAxisLabel]="true"
              ></app-multi-color-step-count>
              <!-- <app-stacked-column-chart [id]="'chart6'"></app-stacked-column-chart> -->
            </ng-template>
          </div>
        </div>
      </div>
      <br />

      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <div fxFlex="63%">
          <div class="common-div">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h5 class="chart-label" fxFlex="70%">VESSEL/GROUP ANALYSIS</h5>
              <button mat-flat-button class="disc-btn" fxFlex="10%">
                DISC <mat-icon class="arraow-icon">arrow_downward</mat-icon>
              </button>
              <button mat-flat-button class="show-btn" fxFlex="10%">SHOW 10</button>
            </div>

            <app-graph-card [header]="header7" [content]="content7"></app-graph-card>
            <ng-template #header7>
              <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-bottom-1-3rem">
                <mat-slide-toggle fxFlex="80%">SEVERITY</mat-slide-toggle>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="8%">trending_up</mat-icon>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="8%" [matMenuTriggerFor]="menu1"
                  >reorder</mat-icon
                >
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" class="padding-bottom-1-3rem">
                <mat-radio-group>
                  <mat-radio-button value="1">FLEET GROUP</mat-radio-button>
                  <mat-radio-button value="2">ADDITIONAL GROUPS</mat-radio-button>
                  <mat-radio-button value="3">OWNERS</mat-radio-button>
                </mat-radio-group>
                <mat-radio-group>
                  <mat-radio-button value="1">VESSEL</mat-radio-button>
                  <mat-radio-button value="2">TYPE</mat-radio-button>
                  <mat-radio-button value="3">AGE</mat-radio-button>
                  <mat-radio-button value="4">SIZE</mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-template>
            <ng-template #content7>
              <app-clustered-column [id]="'chart77'" [chartHeight]="'24rem'"></app-clustered-column>
              <!-- <app-basic-column-2-data-chart [id]="'chart7'"> </app-basic-column-2-data-chart> -->
            </ng-template>
          </div>
        </div>
        <div fxFlex="33%">
          <div class="common-div">
            <h5 class="chart-label">TASK ANALYSIS</h5>
            <app-graph-card [header]="header8" [content]="content8"></app-graph-card>
            <ng-template #header8>
              <div fxLayout="row" fxLayoutAlign="center center" class="padding-bottom-3-8rem">
                <mat-slide-toggle fxFlex="35%">SEVERITY</mat-slide-toggle>
                <mat-label class="header-font-style-2" fxFlex="45%">TASK INVOLVED</mat-label>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%">trending_up</mat-icon>
                <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1"
                  >reorder</mat-icon
                >
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
            </ng-template>
            <ng-template #content8>
              <app-clustered-column
                [id]="'chart88'"
                [chartHeight]="'24rem'"
                [chartConfig]="taskAnalysisColumnsConfig"
              ></app-clustered-column>
              <!-- <app-basic-column-chart [id]="'chart8'"></app-basic-column-chart> -->
            </ng-template>
          </div>
        </div>
      </div>

      <br />
      <br />

      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <div fxFlex="63%">
          <h5 class="chart-label chart-label-w-border">CAUSE ANALYSIS</h5>
          <div class="common-div">
            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
              <div fxFlex="50%">
                <app-graph-card [header]="header9" [content]="content9"></app-graph-card>
                <ng-template #header9>
                  <div fxLayout="row" fxLayoutAlign="center center" class="padd-bottom-1-3rem">
                    <li fxFlex="25%">Obs</li>
                    <mat-label class="header-font-style-2 text-center" fxFlex="55%">IMMEDIATE CAUSE</mat-label>
                    <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%">trending_up</mat-icon>
                    <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1"
                      >reorder</mat-icon
                    >
                    <mat-menu #menu1="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu>
                  </div>
                </ng-template>
                <ng-template #content9>
                  <app-variable-radius-pie-chart
                    [id]="'chart9'"
                    [pieChartSize]="80"
                    [pieChartHeight]="'26rem'"
                    [chartData]="getData()"
                    [valueFieldName]="'litres'"
                    [categoryFieldName]="'country'"
                    [addLegendScroll]="true"
                    [legendHeight]="100"
                  ></app-variable-radius-pie-chart>
                  <!-- <app-variable-radius-pie-chart [id]="'chart9'" [pieChartSize]="80" [pieChartHeight]="'26rem'"></app-variable-radius-pie-chart> -->
                  <!-- <app-pie [id]="'chart9'" [chartData]="getData()" [pieChartSize]="80"></app-pie> -->
                </ng-template>
              </div>
              <div fxFlex="50%">
                <app-graph-card [header]="header10" [content]="content10"></app-graph-card>
                <ng-template #header10>
                  <div fxLayout="row" fxLayoutAlign="center center" class="padd-bottom-1-3rem">
                    <li fxFlex="25%">Obs</li>
                    <mat-label class="header-font-style-2 text-center" fxFlex="55%">ROOT CAUSES</mat-label>
                    <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%">trending_up</mat-icon>
                    <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1"
                      >reorder</mat-icon
                    >
                    <mat-menu #menu1="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu>
                  </div>
                </ng-template>
                <ng-template #content10>
                  <app-variable-radius-pie-chart
                    [id]="'chart10'"
                    [pieChartSize]="80"
                    [pieChartHeight]="'26rem'"
                    [chartData]="getData()"
                    [valueFieldName]="'litres'"
                    [categoryFieldName]="'country'"
                    [addLegendScroll]="true"
                    [legendHeight]="100"
                  ></app-variable-radius-pie-chart>
                  <!-- <app-pie [id]="'chart10'" [chartData]="getData()" [pieChartSize]="80"></app-pie> -->
                  <!-- <app-variable-radius-pie-chart [id]="'chart10'" [pieChartSize]="80 " [pieChartHeight]="'26rem'"></app-variable-radius-pie-chart> -->
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="33%" class="padding-top-10px">
          <app-graph-card [header]="header11" [content]="content11"></app-graph-card>
          <ng-template #header11>
            <div fxLayout="row" fxLayoutAlign="center center" class="padd-bottom-1-3rem">
              <li fxFlex="25%">Obs</li>
              <mat-label class="header-font-style-2 text-center" fxFlex="55%">TASK LOCATION</mat-label>
              <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%">trending_up</mat-icon>
              <mat-icon class="pie-chart-header-icon text-right" fxFlex="10%" [matMenuTriggerFor]="menu1"
                >reorder</mat-icon
              >
              <mat-menu #menu1="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </div>
          </ng-template>
          <ng-template #content11>
            <app-variable-radius-pie-chart
              [id]="'chart11'"
              [pieChartSize]="80"
              [pieChartHeight]="'30rem'"
              [chartData]="getData()"
              [valueFieldName]="'litres'"
              [categoryFieldName]="'country'"
              [addLegendScroll]="true"
              [legendHeight]="100"
            ></app-variable-radius-pie-chart>
            <!-- <app-pie [id]="'chart11'" [chartData]="getData()" [pieChartSize]="80" [pieChartHeight]="'24rem'"></app-pie> -->
          </ng-template>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
