<div class="form-control">
  <p>
    <span class="font-weight-600"> {{ props.label || 'Label' }}:</span>
    <span *ngIf="isSeverityValue" [ngClass]="getSeverityClass()">
      {{ formState[props.key] || '' }}
    </span>
    <span *ngIf="!isSeverityValue"> {{ formState[props.key] || '' }} </span>
  </p>
</div>
