.font-weight-600 {
  font-weight: 600;
}

.severity-trival-level {
  padding: 0.5rem 1rem;
  background: #e2efd9;
  border-radius: 6px;
}

.severity-minor-level {
  padding: 0.5rem 1rem;
  background: #a8d08d;
  border-radius: 6px;
}

.severity-moderate-level {
  padding: 0.5rem 1rem;
  background: #ff0;
  border-radius: 6px;
}

.severity-major-level {
  padding: 0.5rem 1rem;
  background: #ffc000;
  border-radius: 6px;
}

.severity-extreme-level {
  padding: 0.5rem 1rem;
  background: #f00;
  border-radius: 6px;
  color: white;
}
