<div fxLayout="row">
  <div fxFlex="20" fxFlexOffset="5" class="m-t-2">
    <mat-list>
      <mat-list-item class="mat-card is-heading"> Roles</mat-list-item>
      <div class="max-height mat-card">
        <mat-list-item
          class="mat-card b-b-1"
          *ngFor="let role of roles"
          (click)="getAccessInfo(role)"
          [ngClass]="role.roleId === activeElement ? 'is-active' : 'none'"
        >
          {{ role.role }}
        </mat-list-item>
        <mat-list-item class="mat-card" (click)="openDialog()">Add New</mat-list-item>
      </div>
    </mat-list>
  </div>

  <div fxFlex="60" fxFlexOffset="1" class="m-t-3">
    <div *ngIf="isDataSource" fxLayout="row" class="width-100 mat-card p-1-8 b-b-1 is-heading">
      <div class="width-47 p-l-3">
        Menu Name
      </div>
      <div>
        View
      </div>
      <div class="m-l-4">
        Create
      </div>
      <div class="m-l-4">
        Edit
      </div>
      <div class="m-l-4">
        Delete
      </div>
    </div>
    <form (ngSubmit)="onSubmitForm()" [formGroup]="accessForm">
      <!--roleId-->
      <input formName="roleId" type="hidden" [value]="activeElement" />
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="max-height mat-card">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="b-b-1">
          <div fxLayout="row" class="width-100">
            <div [ngClass]="node.level ? 'width-47' : 'width-50 p-l-3'">
              {{ node.menuName }}
            </div>
            <div fxLayout="row">
              <input formName="muid" type="hidden" [value]="node.menuId" />
              <mat-checkbox checked="{{ node.view }}" formName="view" (change)="onChangeAccess(node, $event, 'view')">
                View
              </mat-checkbox>
              <mat-checkbox
                class="m-l-43"
                checked="{{ node.create }}"
                formName="create"
                (change)="onChangeAccess(node, $event, 'create')"
              >
                Create
              </mat-checkbox>
              <mat-checkbox
                class="m-l-43"
                checked="{{ node.edit }}"
                formName="edit"
                (change)="onChangeAccess(node, $event, 'edit')"
              >
                Edit
              </mat-checkbox>
              <mat-checkbox
                class="m-l-43"
                checked="{{ node.delete }}"
                formName="del"
                (change)="onChangeAccess(node, $event, 'del')"
              >
                Delete
              </mat-checkbox>
            </div>
          </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="b-b-1" aria-expanded="true">
          <span matTreeNodeToggle class="cursor" [attr.aria-label]="'toggle ' + node.menuName">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.expand(node) }}
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </span>
          <div fxLayout="row" class="width-100">
            <div class="width-48">
              {{ node.menuName }}
            </div>
            <div class="flex">
              <input formName="muid" type="hidden" [value]="node.menuId" />
              <mat-checkbox checked="{{ node.view }}" formName="view" (change)="onChangeAccess(node, $event, 'view')">
                View
              </mat-checkbox>
              <mat-checkbox
                class="m-l-43"
                checked="{{ node.create }}"
                formName="create"
                (change)="onChangeAccess(node, $event, 'create')"
              >
                Create
              </mat-checkbox>
              <mat-checkbox
                class="m-l-43"
                checked="{{ node.edit }}"
                formName="edit"
                (change)="onChangeAccess(node, $event, 'edit')"
              >
                Edit
              </mat-checkbox>
              <mat-checkbox
                class="m-l-43"
                checked="{{ node.delete }}"
                formName="del"
                (change)="onChangeAccess(node, $event, 'del')"
              >
                Delete
              </mat-checkbox>
            </div>
          </div>
        </mat-tree-node>
      </mat-tree>
      <div *ngIf="isDataSource" class="flex flex-rev m-t-2">
        <button class="save-btn" mat-raised-button type="submit">
          <span translate>Save Changes</span>
        </button>
      </div>
    </form>
  </div>
</div>
