.cursor,
.mat-card {
  cursor: pointer;
}

.mat-header-cell {
  margin-top: 5%;
}

.mat-header-cell,
.is-heading {
  font-family: Roboto, monospace !important;
  background: #3488c8;
  border-radius: 4px 4px 0px 0px !important;
  border: 1px #fff;
  color: #fff;
}

.is-active {
  background: #51baf3;
}

.flex {
  display: flex;
}
.flex-rev {
  flex-direction: row-reverse;
}

.m-t-2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.m-r-2 {
  margin-right: 1%;
}

.m-t-3 {
  margin-top: 2.5%;
}

.b-b-1 {
  border-bottom: 1px solid #6a6a6a;
}

.p-2 {
  padding: 2%;
}

.p-1-8 {
  padding: 1.8%;
}

.p-l-3 {
  padding-left: 3%;
}

.columns-1 {
  columns: 1;
}

.width-50 {
  width: 50%;
}

.width-48 {
  width: 48.3%;
}

.width-47 {
  width: 47%;
}

.width-100 {
  width: 100%;
}

.width-8 {
  width: 8%;
}

.max-height {
  max-height: 60vh;
  overflow-x: auto;
  padding: unset;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #005691 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}

::ng-deep .mat-checkbox-label {
  color: #fff;
  display: none;
}

::ng-deep .mat-tree-node,
.mat-nested-tree-node {
  color: #0b0d0e;
}

::ng-deep .mat-tree,
.mat-card {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}
::ng-deep .mat-tree-node,
.mat-nested-tree-node {
  font-weight: 400;
}

::ng-deep .mat-list-base .mat-list-item {
  font-size: 14px;
  border-radius: unset;
}

mat-list-item.mat-list-item.mat-focus-indicator.mat-card.is-heading {
  font-size: 16px;
}

.f-12 {
  font-size: 12px;
}

.m-l-35 {
  margin-left: 35%;
}
.m-l-43 {
  margin-left: 43%;
}
.m-l-4 {
  margin-left: 4%;
}

.save-btn {
  background: #16569e;
  color: #fff;
}
