<div fxLayout="row" fxLayoutAlign="space-around center" class="dialog-header dialog-header-width position-sticky">
  <div fxFlex>
    <span class="dialog-header-label"> {{ selectedVessel | uppercase }} </span>
    <div class="padd-top-bottom">
      <mat-select
        [value]="defaultChapterId"
        class="common-styles vessel-select"
        disableOptionCentering
        panelClass="myPanelClass"
        (selectionChange)="onChapterChange($event)"
      >
        <mat-option *ngFor="let chapterData of chapterDropdownData" [value]="chapterData.chapterId">
          {{ chapterData.chapterName }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div>
    <div class="padd-top-bottom header-action-buttons">
      <button type="button" class="cancel-btn" (click)="onCancel($event)" mat-button>Cancel</button>
      <button
        type="button"
        [loading]="savingChecklist"
        class="save-btn"
        (click)="saveChapterDetails($event)"
        mat-raised-button
      >
        Save
      </button>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="stateValue">
        <mat-button-toggle value="bold" class="btn-success"> {{ stateValue | uppercase }} </mat-button-toggle>
        <mat-button-toggle [matMenuTriggerFor]="menu" class="btn-success" value="italic">
          <mat-icon>arrow_drop_down</mat-icon>

          <mat-menu #menu="matMenu">
            <button *ngFor="let state of stateData" mat-menu-item (click)="setState(state)">
              <span> {{ state | uppercase }} </span>
            </button>
          </mat-menu>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="column" class="content-header col-header-sticky-space-top">
  <div fxFlex="4%">S.No.</div>
  <div fxFlex="5%">Sub Group</div>
  <div fxFlex="10%">Classification</div>
  <div fxFlex="7%">Item To Check</div>
  <div fxFlex="18%">Nature Of Check</div>
  <div fxFlex="8%" class="text-center">Common Findings</div>
  <div fxFlex="7%" class="text-center">Evidence To Attach</div>
  <div fxFlex="3%" class="text-center">Risk</div>
  <div fxFlex="10%" class="text-center">
    Repeat
    <div>
      <span class="p-20">C</span>
      <span class="p-20">V</span>
    </div>
  </div>
  <div fxFlex="3%" class="text-center">Y</div>
  <div fxFlex="3%" class="text-center">N</div>
  <div fxFlex="3%" class="text-center">NA</div>
  <div fxFlex="13%"></div>
  <div fxFlex="7%" class="text-center member">
    <div>
      <mat-icon class="material-icons"> person </mat-icon>
      <mat-icon class="material-icons"> supervisor_account </mat-icon>
    </div>
  </div>
</div>

<div
  class="question-list border-bottom questions-style"
  [ngClass]="{ 'border-bottom': question.border, 'pb-0': !question.border }"
  *ngFor="let question of checkListData; let i = index"
>
  <div fxLayout="row" fxLayoutAlign="column">
    <div fxFlex="4%" [matTooltip]="question.viqQuestionsFullText" matTooltipPosition="above" matTooltipClass="tool-tip">
      <strong>{{ question.srNo }}</strong>
    </div>
    <!-- <ng-container *ngFor="let subGroup of question.subGroups"> -->
    <div fxFlex="5%">
      <strong>{{ question.subGroup || 'a' }}</strong>
    </div>
    <div fxFlex="10%" class="item-check">
      {{ question.classification }}
    </div>
    <div fxFlex="7%">
      {{ question.itemToCheck }}
    </div>
    <div fxFlex="18%" class="nature-check">
      <!-- {{ question.natureOfCheck }} -->
      <ol class="nature-check-list" *ngIf="question.natureOfCheck.length > 0">
        <li *ngFor="let noc of question.natureOfCheck">{{ noc }}</li>
      </ol>
    </div>
    <div fxFlex="8%" class="text-center">
      <button
        *ngIf="!question.commonFindings"
        mat-icon-button
        class="eye-btn"
        [class.cursor-default]="!question.details || question.details.length === 0"
        (click)="showDetails(question)"
      >
        <mat-icon class="material-icons"> remove_red_eye </mat-icon>
      </button>
    </div>
    <div fxFlex="7%" class="text-center"></div>
    <div fxFlex="3%" class="risk">
      <mat-icon [ngClass]="{ 'material-icons': true }" [class]="getRiskClass(question.risk)"
        >fiber_manual_record</mat-icon
      >
    </div>
    <div fxFlex="10%" class="text-center">
      <span class="badge badge-default repeat-badge"
        ><strong>{{ question.repeat.vesselCount }}</strong></span
      >
      <span class="badge badge-default repeat-badge"
        ><strong>{{ question.repeat.companyCount }}</strong></span
      >
    </div>
    <div fxFlex="3%" class="text-center">
      <ng-container>
        <span
          class="badge-new badge cursor-pointer"
          [ngClass]="getStatusBadgeClass(question.status, 'y')"
          (click)="setStatusBadge(i, 'YES')"
          >Y</span
        >
      </ng-container>
    </div>
    <div fxFlex="3%" class="text-center">
      <ng-container>
        <span
          class="badge-new badge badge-flat cursor-pointer"
          [ngClass]="getStatusBadgeClass(question.status, 'n')"
          (click)="setStatusBadge(i, 'NO'); question.findingEdit = true"
          >N</span
        >
      </ng-container>
    </div>
    <div fxFlex="3%" class="text-center">
      <ng-container>
        <span
          class="badge na cursor-pointer"
          [ngClass]="getStatusBadgeClass(question.status, 'na')"
          (click)="setStatusBadge(i, 'NA')"
          >NA</span
        >
      </ng-container>
    </div>
    <div fxFlex="13%" class="text-center">
      <div class="display-flex action-content">
        <app-attachment
          [id]="'attachment_' + i"
          (OnFileChange)="fileChangeForChecklist($event, i)"
          [emptyLabel]="true"
        ></app-attachment>
        <button mat-icon-button class="chat-btn">
          <mat-icon class="flex-1 material-icons">chat</mat-icon>
        </button>
        <button [loading]="fetchingHistory" mat-icon-button class="restore-btn" (click)="openHistory(question)">
          <mat-icon class="flex-1 material-icons">restore</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="7%" class="text-center member-content">
      <button mat-icon-button>
        <mat-icon class="material-icons"> person </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons"> supervisor_account </mat-icon>
      </button>
    </div>
    <!-- </ng-container> -->
  </div>

  <div fxLayout="row" fxLayoutAlign="column" class="content-1">
    <div fxFlex="25%">
      <span class="span-1">FINDINGS</span>
    </div>
    <div fxFlex="25%">
      <span class="span-2">Observed By: 2/E</span>
    </div>
    <div fxFlex="50%">
      <button mat-icon-button class="finding-edit-btn" (click)="question.findingEdit = true">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="column" class="content-1" *ngIf="question.finding || question.findingEdit">
    <div fxFlex="100%">
      <span class="description" *ngIf="question.finding && !question.findingEdit"> {{ question.finding }} </span>
      <mat-form-field appearance="fill" *ngIf="question.findingEdit" class="full-width">
        <mat-label>Enter your findings</mat-label>
        <textarea matInput [(ngModel)]="question.finding"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="column" class="content-1">
    <div fxFlex="10%">
      <span class="ddate"><strong>DUE DATE</strong></span>
    </div>
    <div fxFlex="15%">
      <div class="ddate-value" (click)="picker.open()">
        <span class="cursor-pointer"> {{ question.dueDate | localTimezone | uppercase }} </span>
      </div>
      <mat-form-field (click)="picker.open()" class="date-picker">
        <input [matDatepicker]="picker" matInput (dateChange)="currentPeriodClicked($event, i)" />
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="5%" class="text-right">
      <span class="status"><strong>STATUS</strong></span>
    </div>
    <div fxFlex="15%">
      <span
        class="status-value cursor-pointer"
        [class.completed-status]="question.checkListStatus === 'completed'"
        [matMenuTriggerFor]="menu1"
      >
        {{ question.checkListStatus | uppercase }}
      </span>
      <mat-menu #menu1="matMenu">
        <button *ngFor="let state of checkListStatusData" mat-menu-item (click)="setCheckListStatus(state, i)">
          <span> {{ state | uppercase }} </span>
        </button>
      </mat-menu>
    </div>
    <div fxFlex="10%">
      <span class="date-closed"><strong>DATE CLOSED</strong></span>
    </div>
    <div fxFlex="15%">
      <span class="ddate-value">{{ question.closeDate | localTimezone | uppercase }}</span>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="column"
    class="content-1"
    *ngIf="question.preparationCheckListAttachment"
    fxLayoutGap="10px"
  >
    <ng-container>
      <div fxFlex="11%" *ngFor="let attachment of question.preparationCheckListAttachment; let attindex2 = index">
        <!-- <a [href]="getImagePath(attachment.attachmentPath)" target="_blank"> -->
        <span (click)="showPreview(attachment.attachmentPath)">
          <img [src]="getReceivedImagePath(attachment.attachmentPath)" class="upload-images" />
          <a (click)="deletePreviousImage($event, attachment, i, attindex2)" href="#">
            <mat-icon class="clear-icon">clear</mat-icon>
          </a>
        </span>
        <!-- </a> -->
      </div>
    </ng-container>
  </div>

  <div fxLayout="row" fxLayoutAlign="column" class="content-1 border-bottom" *ngIf="question.attachments">
    <div fxFlex="11%" *ngFor="let attachment of question.attachments; let attindex = index">
      <img [src]="getFilterFile(attachment)" [class]="getImageStyleClass(attachment)" />
      <a (click)="deleteImage($event, attachment, i, attindex)" href="#">
        <mat-icon class="clear-icon">clear</mat-icon>
      </a>
      <p class="image-name">{{ attachment.name }}</p>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="column" class="content-1">
  <div fxFlex="10%">
    <label class="title">Chapter / Section Verified (Responsible Questions)</label>
  </div>

  <div fxFlex="10%" class="ml-40">
    <div fxLayout="row" fxLayoutAlign="column" class="chapter-content">
      <div fxFlex="25%" class="text-center" [class.approve-disabled]="userDesignationCode === 'C/E'">
        <button mat-icon-button [disabled]="userDesignationCode === 'C/E'">
          <mat-icon class="material-icons"> supervisor_account </mat-icon>
        </button>
        <div class="label">M</div>
      </div>
      <div fxFlex="25%" class="text-left" [class.approve-disabled]="userDesignationCode === 'C/E'">
        <button
          [disabled]="userDesignationCode === 'C/E'"
          mat-icon-button
          [loading]="approvingChapter"
          (click)="approveSelectedChaper($event)"
          class="material-icons check-icon approve-btn"
        >
          <mat-icon>check</mat-icon>
        </button>
      </div>
      <div fxFlex="25%" class="text-center" [class.approve-disabled]="userDesignationCode === 'M'">
        <button mat-icon-button [disabled]="userDesignationCode === 'M'">
          <mat-icon class="material-icons"> supervisor_account </mat-icon>
        </button>
        <div class="label">C/E</div>
      </div>
      <div fxFlex="25%" class="text-left" [class.approve-disabled]="userDesignationCode === 'M'">
        <button
          mat-icon-button
          [loading]="approvingChapter"
          [disabled]="userDesignationCode === 'M'"
          (click)="approveSelectedChaper($event)"
          class="material-icons check-icon approve-btn"
        >
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
    <br />
  </div>
</div>

<app-dialog [content]="content" [dialog]="showDialog" [width]="855" (afterClosed)="showDialog = false"></app-dialog>

<ng-template #content>
  <div class="row">
    <div class="flex-4">
      <ul class="detail-list">
        <li *ngFor="let detail of selectedSubGroup.details">
          {{ detail.description }}
        </li>
      </ul>
    </div>
    <div class="flex-1" *ngIf="selectedSubGroup?.detailImage">
      <img class="detail-pic" [src]="selectedSubGroup.detailImage" />
    </div>
  </div>
</ng-template>

<app-dialog
  [content]="historyContent"
  [dialog]="showHistoryDialog"
  [width]="855"
  [panelClass]="'prepdetail-header-dialog'"
  (afterClosed)="showHistoryDialog = false"
></app-dialog>

<ng-template #historyContent>
  <!-- TODO: Refactor this template -->
  <div class="history-table">
    <header class="row">
      <!-- <div class="col-1">Date</div> -->
      <div class="col-1">Inspection Type</div>
      <div class="col-1">Inspected By</div>
      <div class="col-1">Answer</div>
      <div class="col-2">Comments / Findings</div>
    </header>
    <div class="history-table-data">
      <div *ngFor="let history of historyList" class="row">
        <!-- <div class="col-1">
          {{ history.date | localTimezone | uppercase }}
        </div> -->
        <div class="col-1">
          {{ history.inspectionType }}
        </div>
        <div class="col-1">
          {{ history.inspectedBy }}
        </div>
        <div class="col-1">
          {{ history.answer }}
        </div>
        <div class="col-2">
          {{ history.finding }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-dialog
  [content]="filepreview"
  [dialog]="showPreviewDialog"
  [width]="'150rem'"
  [height]="'90vh'"
  [panelClass]="'prepdetail-header-dialog'"
  (afterClosed)="showPreviewDialog = false"
></app-dialog>

<ng-template #filepreview>
  <div class="history-table">
    <header class="row">
      <div>File Preview</div>
    </header>
  </div>
  <div class="document-preview">
    <ng-container *ngIf="fileType === 'png' || fileType === 'jpg' || fileType === 'jpeg'" class="w-h-100">
      <img [src]="getfileUrl()" />
    </ng-container>
    <ng-container
      *ngIf="
        fileType === 'pdf' || fileType === '.docx' || fileType === '.xlx' || fileType === '.xlxs' || fileType === '.doc'
      "
    >
      <iframe [src]="getfileUrl()" class="w-h-100"></iframe>
    </ng-container>
  </div>
</ng-template>
