::ng-deep .mat-drawer-content {
  background-color: #f7fafc;
}

.question-list {
  padding: 35px;
  .question {
    font-weight: bold;
    color: #3b4652;
    font-size: 18px;
  }
}

.border-bottom {
  border-bottom: 1px solid #c0cad5;
}

.risk {
  position: relative;
  .mat-icon {
    position: absolute;
    top: -10px;
    font-size: 40px;

    &.green {
      color: #33b94c;
    }

    &.orange {
      color: #f5b656;
    }

    &.red {
      color: #f64e4e;
    }
  }
}

.badge.na,
.badge.ns {
  padding: 8px 6px;
}

.badge-new {
  padding: 8px 12px;
}

.comments {
  padding-top: 25px;
  color: #3b4652;
  .comment-title {
    color: #8999ae;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .comment-value {
    color: #525c67;
  }
}

.badge-flat {
  color: #a3a3a3;
  border-color: #bcbcbc;
}

.attachment-container {
  position: absolute;
  top: -12px;
}

.dialog-header {
  background-color: #16569e;
  padding: 24px 56px;
  letter-spacing: 2px;
}

.dialog-header-label {
  color: #52baf3;
  text-transform: uppercase;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

/* Select Field Modifications in Header */

.padd-top-bottom {
  padding: 1rem 0;
}

.padd-left-right {
  padding: 0 1rem;
}

:host ::ng-deep .common-styles .mat-select-arrow {
  color: white;
}

/* Select Field Modifications in Header */

:host ::ng-deep .vessel-select .mat-select-value {
  font-size: 1.3rem;
  color: white;
  width: 93%;
}

.myPanelClass {
  margin-top: 40px;
}

.header-action-buttons {
  button {
    text-transform: uppercase;
    margin-right: 10px;
  }

  .cancel-btn {
    color: #4baee8;
    letter-spacing: 2px;
  }

  .save-btn {
    letter-spacing: 2px;
    color: #16569e;
    padding: 3px 31px;
    border-radius: 7px;
  }

  .save-btn:disabled {
    color: white;
  }
}

:host ::ng-deep .header-action-buttons .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 40px;
}

.content-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px 34px 10px 34px;
  text-transform: uppercase;
  font-weight: 500;
  color: #8a9bb0;
  background: #eaeff5;
}

.red-bg {
  background: #f64e4e;
  color: white;
  border-color: #f64e4e;
}

.na-bg {
  background: #8a9bb0;
  color: white;
  border-color: #8a9bb0;
}

.nature-check-list {
  margin-top: 0;
  padding-left: 20px;
}

.eye-btn {
  color: #16569e;
  margin-top: -10px;
}

.repeat-badge {
  border-radius: 50%;
  background: transparent;
  border-color: #e65a6b;
  border-style: solid;
  border-width: 1px;
  color: #e65a6b;
  margin-right: 5px;
}

.chat-btn,
.restore-btn {
  color: #16569e;
}

.chat-btn .mat-icon,
.restore-btn .mat-icon {
  font-size: 36px;
}

.content-header div:not(.member) {
  padding-top: 7px;
}

.member-content {
  color: #16569e;
  margin-top: -12px;

  .mat-icon {
    font-size: 36px;
  }
}

.action-content {
  margin-top: -13px;
  justify-content: flex-end;
}

.item-check,
.nature-check {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.pb-0 {
  padding-bottom: 0;
}

.content-1 {
  padding: 25px 25px 0 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;

  .span-1 {
    font-weight: 500;
    color: #e54e60;
  }

  .description {
    color: #e54e60;
  }

  .mat-icon-button {
    color: #16569e;
  }

  .span-2 {
    font-weight: 500;
    color: #1a589f;
  }

  .title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
  }
}

.status {
  margin-right: 15px;
  color: #2561a4;
}
.ddate,
.date-closed {
  color: #2561a4;
}

.status-value {
  background: #f5ecbb;
  color: #e1c53c;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 13px -7px #e1c53c;
  letter-spacing: 1px;
  padding: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-20 {
  margin-bottom: 20px;
}

.chapter-content {
  margin-top: -15px;

  .check-icon {
    color: #5aaa25;
    margin-top: 15px;
  }

  .label {
    font-size: 12px;
    font-weight: 500;
  }
}

.ml-40 {
  margin-left: 40px;
}

.detail-pic {
  width: 211px;
  height: 199px;
}

.detail-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 1em;
    text-indent: -1em;
  }

  li::before {
    content: "**";
    padding-right: 5px;
  }
}

.cursor-default {
  cursor: default;
}

.p-20 {
  padding: 20px;
}

.approve-btn:not(:disabled) {
  cursor: pointer;
}

.approve-disabled .mat-icon-button,
.approve-disabled .approve-btn {
  color: gray;
}

:host ::ng-deep .approve-btn,
:host ::ng-deep .approve-btn:focus {
  background: #0000;
  border: #0000;
}
.questions-style {
  font-family: Roboto, monospace;
  letter-spacing: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.date-picker {
  width: 1px;
  visibility: hidden;
  height: 0;
  margin-top: -3rem;
}

.finding-edit-btn {
  margin-top: -10px;
}

.completed-status {
  background: #5aaa25;
  color: white;
}

.col-header-sticky-space-top {
  position: sticky;
  top: 7.7rem;
  z-index: 9;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}

.tool-tip {
  background-color: white;
  color: black;
}

.history-table header {
  background: #16569e;
  color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  padding: 20px 50px;
}

::ng-deep .prepdetail-header-dialog .mat-dialog-container {
  padding: 0;
}

::ng-deep .prepdetail-header-dialog .mat-dialog-container .mat-dialog-content {
  padding: 0;
  margin: 0;
}

.history-table-data {
  padding: 20px 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;

  .row {
    padding: 10px 0;
  }

  .row:last-child {
    padding: 10px 0 20px 0;
  }
}

.h-100 {
  height: 100%;
}

.document-preview {
  width: 90%;
  height: 80vh;
  margin: auto;
}

.w-h-100 {
  width: 100%;
  height: 100%;
  text-align: center;
}
