table {
  width: 100%;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
  width: 100px;
  padding-left: 30px;
}
.organizations-section1 {
  display: inline-block;
}

.organizations-section2 {
  display: inline-block;
  box-sizing: border-box;
  float: right;
  // width: 50%;
}

.text-center {
  text-align: center;
}

.table-action-buttons {
  border: unset;
  background: unset;
  color: #2196f3;
  font-size: 20px;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
  border: none;
}

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
}

.organization-heading {
  color: black;
}

.organization-subtitle {
  color: #16569e;
  font-weight: bold;
  font-size: 12px;
  // margin-top: 10px;
}

.organization-section1 {
  display: inline-block;
  box-sizing: border-box;
  // width: 50%;
  margin-bottom: 20px;
  float: left;
}

.organization-section2 {
  display: inline-block;
  box-sizing: border-box;
  float: right;
  // width: 50%;
}

.organization-card {
  margin: 0 15px 0 15px;
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

.organization-table .mat-header-cell:last-of-type,
td .mat-footer-cell:last-of-type {
  padding-right: 0;
  // text-align: center;
}

/*
table th,
table td {
  text-align: left;
}
*/

//  .organization-scroller{
//   height: 300px;
//   overflow: scroll;
//   overflow-x: hidden;
//   }

.organization-table .mat-cell {
  padding: 0 30px;
}

.organization-table .mat-header-cell:first-of-type,
.organization-table .mat-cell:first-of-type {
  padding-left: 30px;
}

.table-action-buttons .mat-icon {
  border: unset;
  background: unset;
  // background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  width: 10px;
  color: gray;
  font-size: 20px;
}

.table-action-buttons .mat-icon:hover {
  color: #9ea3a9;
}
//.paginator {
//  background-color: transparent;
//}

.mat-header-row {
  height: 40px;
}

.no-data {
  text-align: center;
  color: red;
  padding-bottom: 2%;
}
