<mat-card class="organization-card">
  <mat-card-content>
    <app-toolbar
      title="Organization"
      subtitle="ALL ORGANIZATION"
      navigateButtonTitle="New Organization"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>

    <div class="container">
      <app-ag-grid
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [sideBar]="sideBar"
        [defaultColDef]="defaultColDef"
        [icons]="icons"
        [frameworkComponents]="frameworkComponents"
        [editType]="editType"
        [domLayout]="domLayout"
      >
      </app-ag-grid>
    </div>
  </mat-card-content>
  -
</mat-card>
