<mat-card class="container overflow-auto">
  <app-toolbar
    title="Fleet Notification"
    navigateButtonTitle="Fleet Notification"
    buttonIcon="arrow_back_ios"
    (ngNavigateClick)="navigateBack()"
  ></app-toolbar>

  <mat-card-content class="mat-main-content">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Overview</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <table>
        <tbody>
          <tr>
            <td>
              <mat-label class="mat-label">NOTIFICATION ID</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">NOTIFICATION TITLE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">DATE</mat-label>
            </td>
            <!-- <td>
              <mat-label class="mat-label">APPLICABLE TO VESSEL TYPE</mat-label>
            </td> -->
          </tr>
          <tr>
            <td>
              <label class="mat-label-data">{{ fleetNotificationDetailsData.notificationId }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ fleetNotificationDetailsData.notificationTitle }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ fleetNotificationDetailsData.date }}</label>
            </td>
            <!-- <td>
              <label class="mat-label-data">{{ fleetNotificationDetailsData.dateOfIncident }}</label>
            </td> -->
          </tr>
          <tr>
            <td>
              <mat-label class="mat-label">APPLICABLE TO VESSEL TYPE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">INCIDENT ID</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">ISSUED BY NAME</mat-label>
            </td>
          </tr>
          <tr>
            <td>
              <label *ngFor="let vesselType of fleetNotificationDetailsData.vesselType" class="mat-label-data"
                >{{ vesselType.vesselType }},
              </label>
            </td>
            <td>
              <label class="mat-label-data">{{ fleetNotificationDetailsData.incidentId }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ fleetNotificationDetailsData.issuedByName }}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Description</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <table>
        <tbody>
          <tr>
            <td colspan="2">
              <mat-label class="mat-label">DESCRIPTION</mat-label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="mat-label-data">{{ fleetNotificationDetailsData.description }}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Attachment</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <span *ngFor="let files of fleetNotificationDetailsData.files">
        <img height="50" src="{{ API_URL + '/' + files.path }}" width="100" />
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Vessels</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-label class="mat-label"
        >VESSEL TYPE
        <span *ngFor="let vesselType of fleetNotificationDetailsData.vesselType" fxLayoutAlign="none center">
          <mat-icon color="primary" matSuffix>radio_button_checked</mat-icon>
          {{ vesselType.vesselType }}
        </span>
      </mat-label>
    </div>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span *ngFor="let vessel of fleetNotificationDetailsData.vessel" fxLayoutAlign="none center">
        <mat-icon color="primary" matSuffix>check_box</mat-icon>
        <mat-label> {{ vessel.vessel }} </mat-label>
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="table-page-title">Action</h2>
    </div>
    <mat-divider class="mat-divider-fleet-notification"></mat-divider>
    <br />
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <table>
        <tbody>
          <tr>
            <td>
              <mat-label class="mat-label">TYPE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">NATURE OF ACTION</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">DESIGNATION</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">DUE DATE</mat-label>
            </td>
            <td>
              <mat-label class="mat-label">COMPLETED DATE</mat-label>
            </td>
          </tr>
          <tr *ngFor="let action of fleetNotificationDetailsData.action; let actionIndex = index">
            <td>
              <label class="mat-label-data">{{ action.type }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ action.natureOfAction }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ action.designation }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ action.dueDate | date: 'dd-MM-yyyy hh:mm:ss' }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ action.dateCompleted | date: 'dd-MM-yyyy hh:mm:ss' }}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
