table {
  width: 100%;
}
.fleet-table .fleet-last-action {
  text-align: center;
}
.table-title {
  font-family: Roboto, monospace;
  margin-left: 34px;
}

.table-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

tr {
  height: 40px;
}

.mat-content {
  margin: 0 20px;
}

.mat-content-details {
  margin: 0 20px;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}

.text-center {
  text-align: center;
}

.action-buttons {
  color: gray;
  border: unset;
  background: unset;
}

.fleets-section1 {
  display: inline-block;
}
.fleets-section2 {
  display: inline-block;
  box-sizing: border-box;
  float: right;
}

.mat-main-content {
  padding: 0 20px;
}

.fleet-mat-icons {
  color: gray;
  margin-right: -11px;
}

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
}

.fleet-heading {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.fleet-subtitle {
  color: #16569e;
  font-weight: bold;
  font-size: 12px;
}

.fleet-section1 {
  display: inline-block;
  box-sizing: border-box;

  margin-bottom: 20px;
  float: left;
}

/* Details page design */
.mat-label {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.mat-label-data {
  font-size: 14px;

  color: #16569e;
  margin: 5px;
}

.mat-card > .mat-card-content > .mat-divider-fleet-notification {
  border-top-width: 2px;
  border-top-color: #16569e;
  margin-left: 40px;
  width: 94%;
}

.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

.iconbutton-custom {
  color: gray;
  margin-right: -11px;
}

.icons-fleet mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
.icons-fleet button {
  font-size: 20px;
}

.mat-header-row {
  height: 40px;
}
::ng-deep .mat-paginator-page-size-select {
  width: 35px;
}

.new-fleet-btn {
  margin-right: 24px;
}

.overflow-auto {
  overflow: auto;
}
