<div class="container">
  <mat-card class="mat-card-details mat-elevation-z8">
    <mat-card-content>
      <mat-toolbar>
        <span>
          <mat-card-title>INVESTIGATORS</mat-card-title>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <a class="btn-success btn-field-bt-mg" mat-stroked-button routerLink="../../">
            <mat-icon>arrow_back_ios</mat-icon> INVESTIGATORS
          </a>
        </span>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card-details mat-elevation-z8">
    <mat-card-content class="mat-main-content">
      <!--Overview-->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Overview</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">NAME</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DEPARTMENT</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">POSITION</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">TYPE</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ investigatorsDetailsData[0].name }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ investigatorsDetailsData[0].department }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ investigatorsDetailsData[0].position }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ investigatorsDetailsData[0].type }}</label>
              </td>
            </tr>
            <tr>
              <td class="td-line-height">
                <mat-label class="mat-label">DATE OF TRAINING</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">TYPE OF TRAINING</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">DATE OF EXPIRY</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label"></mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{
                  investigatorsDetailsData[0].dateOfTraining | date: 'dd-MMM-yyy'
                }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ investigatorsDetailsData[0].typeOfTraining }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{
                  investigatorsDetailsData[0].dateOfExpiry | date: 'dd-MMM-yyy'
                }}</label>
              </td>
              <td><label class="mat-label-data"></label></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--Attachment-->
      <!-- Attachment -->
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Attachment</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row">
        <div *ngFor="let image of investigatorsDetailsData[0]?.attachments" class="image-box">
          <a [href]="getFilterFile(image)" target="_blank">
            <img [src]="getFilterFile(image)" class="image-style" />
            <!-- <img [src]="image.path" [class]="getImageStyleClass(image.fileType)" /> -->
          </a>
        </div>
        <!-- <span *ngFor="let files of thirdPartySharingData?.files">
        <img src="{{ API_URL + '/' + files.path }}" width="150" />
      </span> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
