<!-- Header Content -->
<div fxLayout="row" fxLayoutAlign="space-around center" class="dialog-header dialog-header-width">
  <div fxFlex>
    <span class="dialog-header-label">Vessel</span>
    <div class="padd-top-bottom">
      <mat-select
        [value]="'Vessel 10'"
        class="common-styles vessel-select"
        (selectionChange)="selectionChanged($event)"
        disableOptionCentering
        panelClass="myPanelClass"
      >
        <mat-option value="3"> Vessel 10 </mat-option>
        <mat-option value="Vessel 10"> Vessel 6 </mat-option>
        <mat-option value="9"> Vessel 9 </mat-option>
        <mat-option value="12"> Vessel 1 </mat-option>
      </mat-select>
    </div>
  </div>

  <div fxFlex>
    <span class="dialog-header-label">Inspection Type</span>
    <div class="padd-top-bottom">
      <mat-select
        [value]="'Sire'"
        class="common-styles incident-select"
        (selectionChange)="selectionChanged($event)"
        disableOptionCentering
        panelClass="myPanelClass"
      >
        <mat-option value="3"> Internal Audit </mat-option>
        <mat-option value="Sire"> Sire </mat-option>
      </mat-select>
    </div>
  </div>
</div>
<!-- Header Content -->

<!-- Table Content -->
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-around stretch">
  <span fxFlex="25%" class="table-header left-padding">Date Inspected</span>
  <span fxFlex="25%" class="table-header">Oil Major</span>
  <span fxFlex="25%" class="table-header">Port</span>
  <span fxFlex="25%" class="table-header">Obs</span>
</div>
<span *ngFor="let cell of tableData; let i = index">
  <div
    mat-dialog-content
    fxLayout="row"
    fxLayoutAlign="space-around stretch"
    [class.even-table-cell]="i === 1"
    [class.odd-table-cell]="i !== 1"
  >
    <span fxFlex="25%" class="table-cell"> {{ cell.date }} </span>
    <span fxFlex="25%" class="table-cell"> {{ cell.oilMajor }} </span>
    <span fxFlex="25%" class="table-cell"> {{ cell.port }} </span>
    <span fxFlex="25%" class="table-cell"> {{ cell.obs }} </span>
  </div>
</span>
<!-- Table Content -->
<br />

<app-form [config]="formlyConfig" class="dialog-card"> </app-form>
