.mat-dialog-content {
  padding-left: 0;
  padding-right: 0;
}

.dialog-header-label {
  color: #9db8d6;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.dialog-header-width {
  width: 50rem;
}

/* Select Field Modifications in Header */

:host ::ng-deep .vessel-select .mat-select-value {
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  width: 90%;
}

:host ::ng-deep .incident-select .mat-select-value {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  width: 90%;
}

:host ::ng-deep .common-styles .mat-select-arrow {
  color: white;
}

/* Select Field Modifications in Header */

.padd-top-bottom {
  padding: 1rem 0;
}

.padd-left-right {
  padding: 0 1rem;
}

.dialog-header {
  background-color: #16569e;
  margin: -24px -24px 0 -24px;
  padding: 24px 29px;
  letter-spacing: 2px;
}

.border-1px-bottom {
  border-bottom: 1px;
}

.table-header {
  background-color: rgb(255 255 255);
  text-align: center;
  padding: 20px 8px;
  color: #8798ad;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.table-cell {
  text-align: center;
  padding: 10px 8px;
  color: #202122;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.even-table-cell {
  background-color: #f4f6f8;
}

.odd-table-cell {
  background-color: #e8ecf0;
}

:host ::ng-deep .dialog-card .mat-card {
  height: fit-content;
  overflow: hidden;
  border: 0 solid white;
  box-shadow: none;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #16569e;
  opacity: 1;
}

.myPanelClass {
  margin-top: 40px;
}
