::ng-deep .ag-theme-material .ag-header-group-cell:hover {
  background-color: #16569e;
}

::ng-deep .ag-theme-material .ag-header-cell:hover {
  background-color: #67c1f1;
}

.pt-10 {
  padding-top: 10px;
}

.dialog-header-label {
  color: #9db8d6;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

/* Select Field Modifications in Header */

::ng-deep .header-form .vessel-select .mat-select-value,
::ng-deep .header-form .incident-select .mat-select-value {
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  max-width: none;
  width: auto;
}

::ng-deep .header-form .vessel-select.common-styles .mat-select-arrow,
::ng-deep .header-form .incident-select.common-styles .mat-select-arrow {
  color: white;
}

.header-form {
  padding-left: 15px;
}

.add-btn {
  background-color: #16569e;
}

:host ::ng-deep .prep-action-btn {
  border-radius: 7px;
  background: white;
  color: #16569e;
  text-transform: uppercase;
  box-shadow: 0 3px 5px 2px rgb(0 0 0 / 1%), 0 2px 2px -1px rgb(0 0 0 / 7%), 0 1px 5px 5px rgb(0 0 0 / 6%);
  border: 0 solid transparent;

  &[disabled]:not([class*="mat-elevation-z"]) {
    background: #d5e0ec;
    color: #8798ad;
    box-shadow: none;
  }

  .mat-icon {
    margin-top: -3px;
    vertical-align: baseline;
    height: 14px;
  }
}
