<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Planning & Approval"
      subtitle="My Vessel"
      navigateButtonTitle="New Plan"
      (ngFilter)="onSubmit(0)"
      (ngClear)="resetFilter()"
      (ngNavigateClick)="onAddForm()"
      [form]="filterForm"
      [model]="filterModel"
      [options]="filterOptions"
      [fields]="filterFields"
      [navigationButtonDisabled]="loadingUtilityData"
      [selectValue]="selectedUtility?.inspectionTypeId"
      [selectOptions]="auditUtilityList"
      (headerSelectionChanged)="onSireChanged($event)"
      [selectOptionValue]="'inspectionTypeId'"
      [selectOptionLabel]="'type'"
    ></app-toolbar>

    <app-ag-grid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [defaultColDef]="defaultColDef"
      [frameworkComponents]="frameworkComponents"
      [paginationPageSize]="paginationPageSize"
      [headerHeight]="headerHeight"
      [gridOptions]="gridOptions"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>

<app-dialog
  #dialog
  [dialog]="displayDialog"
  (afterClosed)="displayDialog = false"
  [header]="header"
  [content]="content"
  [width]="700"
></app-dialog>

<ng-template #header>
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    class="dialog-header dialog-header-width"
    [formGroup]="planningForm"
  >
    <div fxFlex class="header-form">
      <span class="dialog-header-label">Vessel</span>
      <div class="pt-10" *ngIf="vesselList.length > 0">
        <mat-select
          class="common-styles vessel-select"
          disableOptionCentering
          panelClass="select-panel"
          formControlName="vesselId"
        >
          <mat-option value="">Select Vessel</mat-option>
          <mat-option *ngFor="let vessel of vesselList" [value]="vessel.vesselId">{{ vessel.vessel }}</mat-option>
        </mat-select>
      </div>
    </div>

    <div fxFlex class="header-form">
      <span class="dialog-header-label">Inspection Type</span>
      <div class="pt-10" *ngIf="auditUtilityList.length > 0">
        <mat-select
          class="common-styles incident-select"
          (selectionChange)="onInspectionTypeChanged($event)"
          disableOptionCentering
          panelClass="select-panel"
          formControlName="inspectionTypeId"
        >
          <mat-option value="">Select Inspection Type</mat-option>
          <mat-option *ngFor="let utility of auditUtilityList" [value]="utility.inspectionTypeId">{{
            utility.type
          }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <br />
  <app-form [config]="formlyConfig" class="dialog-card" [autoHeight]="true"> </app-form>
  <div fxLayout="row" fxLayoutAlign="end start" class="pull-right mr-10">
    <div>
      <button class="discard-btn" (click)="discard($event)" mat-button color="primary" type="reset">
        <span translate>Discard </span>
      </button>
      <button
        class="add-btn"
        [loading]="savingPlanningForm"
        (click)="save()"
        color="primary"
        mat-raised-button
        type="submit"
      >
        <span translate>Save Changes </span>
      </button>
    </div>
  </div>
</ng-template>
