.table-title {
  font-family: Roboto, monospace;
  margin-left: 34px;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
}

.mat-header-row {
  border-radius: 10px;
  height: 40px;
}

.text-center {
  text-align: center;
}

/**
* Begin:: Filter Table Design
*/

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
}

::ng-deep .mat-form-field {
  font-size: 14px;
}

::ng-deep .filter-form-fields .mat-form-field {
  width: 200px;
}

::ng-deep .filter-form-field .mat-form-field {
  width: 15%;
}

/* And other times this */
@media (min-width: 1240px) and (max-width: 1440px) {
  ::ng-deep .filter-form-field .mat-form-field {
    width: 20%;
  }
}

::ng-deep .filter-field {
  margin-top: 1em;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}

::ng-deep .table-heading {
  background: transparent;
  padding-left: 5px;
  padding-right: 0;
}

.mat-button-custom {
  bottom: 10px;
  padding: 7px 15px;
}

.mat-btn-border-primary {
  border-color: #16569e;
  color: #16569e;
}

.table-filter-btn {
  background-color: #16569e;
  color: #fff;
}

.selected {
  color: #16569e;
}

/* End Filter table desigb  */

/* Details page design */
.mat-label {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.mat-label-data {
  font-size: 14px;
  color: #16569e;
  margin: 5px;
}

.td-line-height {
  padding-top: 40px;
}

.td-line-bottom {
  padding-bottom: 40px;
}

.mat-main-content {
  padding: 0 20px;
}

.detail-page-title {
  color: #16569e;
}

.mat-content {
  margin: 0 20px;
}

.mat-divider-incident {
  border-top-width: 2px;
  border-top-color: #16569e;
  width: 90%;
  margin-right: 40px;
}
::ng-deep div .mat-divider-incident.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 95%;
  margin-left: 36px;
  border-top-style: solid;
}

.resultant-view {
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
}

.result-label {
  font-size: 26px;
  font-weight: bold;
  margin: 5px;
}

.mat-divider-dashed {
  border-top-color: #000;
  border-top-width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 95%;
  margin-left: 36px;
  border-top-style: dashed;
}

.additional-label {
  color: #a1aebf;
  font-size: 14px;
  margin-top: 10px;
}

tr {
  height: 40px;
}

.background-title > ::ng-deep figure {
  justify-content: flex-start;
  align-items: start;
}

.mat-toolbar {
  background: transparent;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
  border: none;
}

.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

.mat-card-title {
  font-weight: bold;
  font-size: 25px;
}

.mat-card-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #16569e;
}

.mat-card-content {
  background-color: transparent;
}

.mat-header-cell,
.mat-cell {
  padding-left: 2px;
  min-width: 125px;
}

.mat-card-table {
  overflow: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

th .mat-header-cell:first-of-type,
td .mat-cell:first-of-type,
td .mat-footer-cell:first-of-type {
  padding-left: 40px;
}

th .mat-header-cell:last-of-type,
td .mat-cell:last-of-type,
td .mat-footer-cell:last-of-type {
  padding-right: 0;
}

/* ....................... card styling code Ends ................................... */
.details-header {
  margin: 10px 0;
}

.filter-container {
  height: auto;
  padding: 0;
  width: 100%;
}

.iconbutton-custom {
  color: gray;
  margin-right: -11px;
}

::ng-deep .mat-paginator-range-label {
  position: absolute;
  left: 10px;
  color: #000;
  font-weight: bold;
}

::ng-deep .mat-paginator-page-size-label {
  visibility: hidden;
}

::ng-deep .mat-paginator-page-size-label::after {
  visibility: visible;
  color: #000;
  font-weight: bold;
}

::ng-deep .mat-elevation-z8 {
  box-shadow: unset;
}

::ng-deep .mat-form-field.mat-paginator-page-size-select {
  width: 40px;
}

.table-width {
  width: 100%;
}

::ng-deep .mat-card.mat-card-details {
  box-shadow: unset;
}

.no-data {
  text-align: center;
  color: red;
  padding-bottom: 2%;
}

.mat-column-actions {
  text-align: center;
  justify-content: flex-end;
}
