<div class="mat-content-details">
  <mat-card class="mat-card-details">
    <mat-card-content>
      <mat-toolbar>
        <span>
          <mat-card-title>INCIDENT</mat-card-title>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <a class="btn-success btn-field-bt-mg" mat-stroked-button routerLink="/incident">
            <mat-icon>arrow_back_ios</mat-icon> INCIDENT
          </a>
        </span>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card-details">
    <mat-card-content class="mat-main-content">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Overview</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">VESSELS</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">PORT OR AT SEA (Lat Long)</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DATE OF INCIDENT</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">REPORT ID</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.vesselName }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.portName }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.dateOfIncident }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.reportId }}</label>
              </td>
            </tr>
            <tr>
              <td class="td-line-height">
                <mat-label class="mat-label">DATE OF REPORT</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">VESSEL LOCATION</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">TIME OF INCIDENT</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">Name (Optional)</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.dateOfReport }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.vesselLocation }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.timeOfIncident }}</label>
              </td>
              <td><label class="mat-label-data"></label></td>
            </tr>
            <tr>
              <td class="td-line-height">
                <mat-label class="mat-label">BRIEF DESCUSSION OF VOYAGE</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.briefDescription }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Description</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tbody>
            <tr>
              <td colspan="2">
                <mat-label class="mat-label">DESCRIPTION</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">TASK INVOLVED</mat-label>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label class="mat-label-data">{{ incidentDetailsData.description }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.task }}</label>
              </td>
            </tr>
            <tr>
              <td class="td-line-height">
                <mat-label class="mat-label">INCIDENT TYPE</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">EVENT IMPACT ON</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">INCIDENT LOCATION</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">STOP CARD ISSUED</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">DETAILS</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.eventImpactType }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.impact }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.location }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.stopCardIssued }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.details }}</label>
              </td>
            </tr>

            <tr>
              <td class="td-line-height" colspan="2">
                <mat-label class="mat-label">SEVERITY LEVEL</mat-label>
              </td>
              <!-- <td class="td-line-height">
              <mat-label class="mat-label">Personal Injury</mat-label>
            </td> -->
              <td class="td-line-height">
                <mat-label class="mat-label">PROPERTY DAMAGE</mat-label>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="resultant-view">
                  <label class="result-label"> {{ incidentDetailsData.resultantRisk }} </label>
                  {{ incidentDetailsData.severityLevel }}
                </div>
              </td>
              <!-- <td>
              <label class="mat-label-data">{{ incidentDetailsData.personalInjury }}</label>
            </td> -->
              <td>
                <label class="mat-label-data">{{ incidentDetailsData.propertyDamage }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="additional-label">Additional Information Involving an Injury </mat-label>
      </div>
      <mat-divider class="mat-divider-dashed"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tr>
            <td class="td-line-height">
              <mat-label class="mat-label">INJURY CATEGORY</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">RANK</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">AGE</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">BODY PART AFFECTED</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">NATIONALITY</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">TIME OF BOARD</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">TIME IN RANK</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">TIME IN COMPANY</mat-label>
            </td>
          </tr>
          <tr
            *ngFor="let addlInfoInvolvingInjury of incidentDetailsData.addlInfoInvolvingInjury; let actionIndex = index"
          >
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.injuryCategory }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.rank }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.age }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.bodypartaffected }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.countryName }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.timeOnBoard }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.timeInRank }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingInjury.timeInCompany }}</label>
            </td>
          </tr>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="additional-label"
          >Additional Information Involving an EQPT. / Machinary Failure or Damage
        </mat-label>
      </div>
      <mat-divider class="mat-divider-dashed"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tr>
            <td class="td-line-height">
              <mat-label class="mat-label">Equipment</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">Equipment Category</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">Make</mat-label>
            </td>
            <td class="td-line-height">
              <mat-label class="mat-label">Model</mat-label>
            </td>
          </tr>
          <tr
            *ngFor="
              let addlInfoInvolvingEqpDamage of incidentDetailsData.addlInfoInvolvingEqpDamage;
              let actionIndex = index
            "
          >
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingEqpDamage.equipment }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingEqpDamage.categoryName }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingEqpDamage.make }}</label>
            </td>
            <td>
              <label class="mat-label-data">{{ addlInfoInvolvingEqpDamage.model }}</label>
            </td>
          </tr>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Investigation</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">INVESTIGATOR</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">REPORT PREPARED BY</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">TEAM MEMBER</mat-label>
              </td>
            </tr>
            <tr *ngFor="let investigationTeam of incidentDetailsData.investigationTeam; let actionIndex = index">
              <td>
                <label class="mat-label-data">{{ investigationTeam.investigatorsName }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ investigationTeam.reportReviewedByName }}</label>
              </td>
              <td>
                <label
                  *ngFor="
                    let investigationTeamMember of investigationTeam.investigationTeamMember;
                    let investigationTeamMemberIndex = index
                  "
                  class="mat-label-data"
                  >{{ investigationTeamMember.teamMemberName + ', ' }}</label
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Contacts Established During the Incident</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Background</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />

      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile *ngFor="let backgroundData of incidentDetailsData.backgroundData" class="background-title">
          <div fxLayout="column" fxLayoutAlign="space-between start">
            <mat-label class="mat-label">{{ backgroundData.backgroundCondition }}</mat-label>

            <label class="mat-label-data">{{ backgroundData.description }}</label>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Sequence of Events</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <thead>
            <tr>
              <td>
                <mat-label class="mat-label">DATE</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">TIME</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">STATUS</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DESCRIPTION</mat-label>
              </td>
            </tr>
          </thead>
          <tbody *ngFor="let incidentSeqData of incidentDetailsData.incidentSeqData">
            <tr *ngFor="let seqData of incidentSeqData.seqData">
              <td>
                <label class="mat-label-data">{{ incidentSeqData.date }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ seqData.ltTime }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ seqData.triggeringFactors ? 'Active' : 'Inactive' }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ seqData.description }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="additional-label">ANALYSIS OF SIMILAR INCIDENTS IN THE FLEET IN THE PAST </mat-label>
      </div>
      <mat-divider class="mat-divider-dashed"></mat-divider>
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <br />
        <table class="table-width">
          <thead>
            <tr>
              <td>
                <mat-label class="mat-label">QUESTION</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">NUMBER OF TIME REPEATED</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DESCRIPTION</mat-label>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let analysisData of incidentDetailsData.analysisData">
              <td>
                <label class="mat-label-data">{{ analysisData.question }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ analysisData.numberOfTimesRepeated }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ analysisData.briefDescription }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Action</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">TYPE</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">NATURE OF ACTION</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DESIGNATION</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">DUE DATE</mat-label>
              </td>
            </tr>
            <tr *ngFor="let action of incidentDetailsData.action; let actionIndex = index">
              <td>
                <label class="mat-label-data">{{ action.type }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ action.natureOfAction }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ action.designation }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ action.dueDate | date: 'dd-MM-yyyy hh:mm:ss' }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Cross Reference to TMSA</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">ELEMENT</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">STAGE</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">SPECIFIC KPI</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">ADDITIONAL COMMENTS</mat-label>
              </td>
            </tr>
            <tr *ngFor="let tmsa of incidentDetailsData.crossRefToTMSA; let actionIndex = index">
              <td>
                <label class="mat-label-data">{{ tmsa.element }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ tmsa.stage }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ tmsa.specificKpi }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ tmsa.additionalComments }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Communication</h2>
      </div>
      <mat-divider class="mat-divider-incident"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table class="table-width">
          <tbody>
            <tr>
              <td>
                <mat-label class="mat-label">COMMENTED BY</mat-label>
              </td>
              <td>
                <mat-label class="mat-label">COMMENT</mat-label>
              </td>
            </tr>
            <tr *ngFor="let communication of incidentDetailsData.communication; let actionIndex = index">
              <td class="td-line-bottom">
                <label class="mat-label-data">{{ communication.comment }}</label>
              </td>
              <td class="td-line-bottom">
                <label class="mat-label-data">{{ communication.commentByName }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
