:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.activation-form1 .mat-form-field {
  width: 48%;
  margin: 2px 10px 0 10px;
}

.activation-form2 .mat-form-field {
  width: 31.33%;
  margin: 10px 10px 0 10px;
}

.activation-form3 .mat-form-field {
  width: 98%;
  margin: 10px 10px 0 10px;
}
.mat-card-title {
  font-weight: bold;
  font-size: 25px;
}
.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
  padding-top: unset;
}

.save-btn-org {
  margin: 10px 10px 0 10px;
}

.mat-org-title {
  margin: 0 20px;
}

.from-title {
  font-family: sans-serif;
  margin: 20px;
  color: #8798ad;
}
.card-container {
  background-color: white;
  box-shadow: 2px 2px 5px #e8e8e8;
  padding: 10px;
  border: 2px solid #e8e8e8;
  margin: 20px 30px;
  border-radius: 10px;
  /* width: 150%; */
}
.mat-card {
  box-shadow: 2px 2px 2px transparent;
}

.tenant-container {
  width: 100%;
}

.container {
  /* text-align: left;
  padding: 1em 26em;
  background-color: #f7fafc;
  height: calc(100%); */
  background-image: url(../../../assets/bg_image.svg);
  background-size: cover;
}

.activation-title {
  margin-top: 18%;
  color: #16569e;
  font-size: 26px;
}

.activation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 0 0;
}

.save-btn {
  background-color: #16569e;
  color: #fff;
  /* margin: 0.5%; */
}

.activation-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  /* margin: 13% 0 0 0;
  height: calc(100% - 100px); */
}

.activation-stepper {
  border-radius: 10px;
  background-color: transparent;
}

.activation-scroller {
  overflow: auto;
  height: 330px;
  overflow-x: hidden;
}

.no-btn {
  display: none;
}
/*
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
*/
.mat-typography {
  background-image: url('./../../../assets/bg_image.svg');
  background-size: cover;
  height: 100%;
}

.phone-number {
  color: gray;
  margin: 0 0 -9px 2%;
}
.phone-number .mat-icon {
  vertical-align: middle;
  font-size: 20px;
  display: none;
}

.mat-icon {
  color: gray;
}

.invalid-num {
  color: red;
  font-size: 10px;
  padding-left: 20px;
  opacity: 0.7;
}

.done-icon {
  color: white;
}

.mat-step-header:active {
  background-color: #8798ad;
}
.mat-step-label-active {
  background-color: #8798ad;
}
