<!--<div class="container" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">-->
<div class="mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
  <div class="activation-container">
    <mat-card class="mat-card-style">
      <mat-card-content>
        <mat-toolbar class="table-heading" fxLayoutAlign="none start">
          <span>
            <mat-card-title class="activation-title"> User Activation</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </span>
          <span fxFlex></span>
        </mat-toolbar>
      </mat-card-content>
    </mat-card>
    <form [formGroup]="tenantActivationFormGroup" (ngSubmit)="onSubmit()">
      <mat-horizontal-stepper class="activation-stepper" [linear]="true">
        <ng-template matStepperIcon="edit">
          <mat-icon class="done-icon">done</mat-icon>
        </ng-template>
        <mat-step
          label="Basic Details"
          [completed]="
            tenantActivationFormGroup.controls.username.valid &&
            tenantActivationFormGroup.controls.password.valid &&
            tenantActivationFormGroup.controls.cpassword.valid
          "
        >
          <div class="activation-scroller">
            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Email</mat-label>
                <input matInput placeholder="mick@gmail.com" formControlName="username" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.username.invalid &&
                    tenantActivationFormGroup.controls.username.touched
                  "
                >
                  <mat-error *ngIf="tenantActivationFormGroup.controls.username.errors.required">
                    <span translate>Email is required</span>
                  </mat-error>
                  <mat-error *ngIf="tenantActivationFormGroup.controls.username.errors.pattern">
                    <span translate>Email is invalid</span>
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Password"
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                  required
                />
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.password.invalid &&
                    tenantActivationFormGroup.controls.password.touched
                  "
                >
                  <mat-error *ngIf="tenantActivationFormGroup.controls.password.errors.required">
                    <span translate>Password is required</span>
                  </mat-error>
                  <!--<mat-error *ngIf="tenantActivationFormGroup.controls.password.errors.pattern">
                    <span translate>Password is Invalid</span>
                  </mat-error>-->
                  <mat-error *ngIf="tenantActivationFormGroup.controls.password.errors.passwordStrength">
                    {{ tenantActivationFormGroup.get('password').errors['passwordStrength'] }}
                  </mat-error>
                  <mat-error *ngIf="tenantActivationFormGroup.controls.password.errors.minlength">
                    <span translate>Password should contain atleast 8 characters</span>
                  </mat-error>
                  <mat-error *ngIf="tenantActivationFormGroup.controls.password.errors.maxlength">
                    <span translate>Password should not exceed 16 characters</span>
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  placeholder="Confirm Password"
                  [type]="hide2 ? 'password' : 'text'"
                  formControlName="cpassword"
                  required
                />
                <mat-icon matSuffix (click)="hide2 = !hide2">{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.cpassword.invalid &&
                    tenantActivationFormGroup.controls.cpassword.touched
                  "
                >
                  <mat-error *ngIf="tenantActivationFormGroup.controls.cpassword.errors.required">
                    <span translate>Confirm Password is required</span>
                  </mat-error>
                  <mat-error *ngIf="tenantActivationFormGroup.controls.cpassword.errors.mustMatch">
                    <span translate>Password Not Matched!</span>
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="activation-buttons">
            <div>
              <button mat-button matStepperPrevious type="button" color="primary" class="no-btn">Back</button>
            </div>
            <div>
              <button (click)="overviewReset()" mat-button color="primary" type="reset">
                <span translate>Discard </span>
              </button>
              <button
                mat-button
                matStepperNext
                mat-raised-button
                type="button"
                class="save-btn"
                [disabled]="
                  !(
                    tenantActivationFormGroup.controls.username.valid &&
                    tenantActivationFormGroup.controls.password.valid &&
                    tenantActivationFormGroup.controls.cpassword.valid
                  )
                "
              >
                Next
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step
          label="Contact Details"
          [completed]="
            tenantActivationFormGroup.controls.firstname.valid &&
            tenantActivationFormGroup.controls.lastname.valid &&
            tenantActivationFormGroup.controls.phone.valid
          "
        >
          <div class="activation-scroller">
            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="Firstname" formControlName="firstname" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.firstname.invalid &&
                    tenantActivationFormGroup.controls.firstname.touched
                  "
                >
                  <span translate>Firstname is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="Lastname" formControlName="lastname" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.lastname.invalid &&
                    tenantActivationFormGroup.controls.lastname.touched
                  "
                >
                  <span translate>Lastname is required</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg" floatLabel="always">
                <mat-label>Phone</mat-label>
                <input
                  type="text"
                  matInput
                  ng2TelInput
                  [title]="countryCode"
                  [ng2TelInputOptions]="{ initialCountry: 'us' }"
                  (hasError)="onError($event)"
                  (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObject($event)"
                  (countryChange)="onCountryChange($event)"
                  formControlName="phone"
                />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.phone.invalid && tenantActivationFormGroup.controls.phone.touched
                  "
                >
                  <mat-error *ngIf="tenantActivationFormGroup.controls.phone.errors.required">
                    <span translate>Phone Number is required</span>
                  </mat-error>
                  <mat-error *ngIf="tenantActivationFormGroup.controls.phone.errors.pattern">
                    <span translate>Please Enter Valid Phone Number</span>
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <div *ngIf="tenantActivationFormGroup.controls.phone.touched">
                <div *ngIf="!hasError">
                  <span translate class="invalid-num">Phone number is not valid!</span>
                </div>
              </div>
            </div>
          </div>

          <!-----------------------------------------Contact Details Action Buttons ------------------------------->

          <div class="activation-buttons">
            <div>
              <button mat-stroked-button mat-button matStepperPrevious type="button" color="primary">Back</button>
            </div>
            <div>
              <button (click)="overviewReset()" mat-button color="primary" type="reset">
                <span translate>Discard </span>
              </button>
              <button
                mat-button
                matStepperNext
                mat-raised-button
                type="button"
                class="save-btn"
                [disabled]="
                  !(
                    tenantActivationFormGroup.controls.firstname.valid &&
                    tenantActivationFormGroup.controls.lastname.valid &&
                    tenantActivationFormGroup.controls.phone.valid &&
                    hasError
                  )
                "
              >
                Next
              </button>
            </div>
          </div>
        </mat-step>

        <!------------------------------------------ Address Details Section ------------------------------------->
        <mat-step label="Address Details">
          <div class="activation-scroller">
            <div fxLayout="row" class="activation-form3">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Address Line 1</mat-label>
                <input matInput placeholder="Address Line 1" formControlName="addressLine1" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.addressLine1.invalid &&
                    tenantActivationFormGroup.controls.addressLine1.touched
                  "
                >
                  <span translate>Address Line 1 is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" class="activation-form1">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Address Line 2</mat-label>
                <input matInput placeholder="Address Line 2" formControlName="addressLine2" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Address Line 3</mat-label>
                <input matInput placeholder="Address Line 3" formControlName="addressLine3" />
              </mat-form-field>
            </div>
            <div fxLayout="row" class="activation-form1">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.city.invalid && tenantActivationFormGroup.controls.city.touched
                  "
                >
                  <span translate>City is required</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>State</mat-label>
                <input matInput placeholder="State" formControlName="state" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.state.invalid && tenantActivationFormGroup.controls.state.touched
                  "
                >
                  <span translate>State is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" class="activation-form1">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country" formControlName="country" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.country.invalid &&
                    tenantActivationFormGroup.controls.country.touched
                  "
                >
                  <span translate>Country is required</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>ZipCode</mat-label>
                <input matInput placeholder="ZipCode" formControlName="zipcode" required />
                <mat-error
                  *ngIf="
                    tenantActivationFormGroup.controls.zipcode.invalid &&
                    tenantActivationFormGroup.controls.zipcode.touched
                  "
                >
                  <span translate>Zipcode is required</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="activation-buttons">
            <div>
              <button mat-button mat-stroked-button matStepperPrevious type="button" color="primary">Back</button>
            </div>
            <div>
              <button (click)="overviewReset()" mat-button color="primary" type="reset">
                <span translate>Discard </span>
              </button>
              <button
                type="submit"
                mat-raised-button
                layout-margin=""
                class="md-raised btn-field-bt-mg mat-button-custom save-btn"
                color="primary"
                [disabled]="!tenantActivationFormGroup.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>
<!--<mat-card class="mat-card-style">
  <mat-card-content>
    <mat-toolbar class="table-heading" fxLayoutAlign="none start">
      <span>
        <mat-card-title class="activation-title">User Activation</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </span>
      <span fxFlex></span>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
<div class="card-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="tenantActivationFormGroup" (ngSubmit)="onSubmit()">
        <div fxLayout="row" class="activation-form1">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.username.invalid &&
                tenantActivationFormGroup.controls.username.touched
              "
            >
              <span translate>username is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.password.invalid &&
                tenantActivationFormGroup.controls.password.touched
              "
            >
              <span translate>password is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Firstname" formControlName="firstname" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.firstname.invalid &&
                tenantActivationFormGroup.controls.firstname.touched
              "
            >
              <span translate>Firstname is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="activation-form1">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>LastName</mat-label>
            <input matInput placeholder="LastName" formControlName="lastname" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.lastname.invalid &&
                tenantActivationFormGroup.controls.lastname.touched
              "
            >
              <span translate>Lastname is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Address Line 1</mat-label>
            <input matInput placeholder="Address Line 1" formControlName="addressLine1" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.addressLine1.invalid &&
                tenantActivationFormGroup.controls.addressLine1.touched
              "
            >
              <span translate>Address Line 1 is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Address Line 2</mat-label>
            <input matInput placeholder="Address Line 2" formControlName="addressLine2" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.addressLine2.invalid &&
                tenantActivationFormGroup.controls.addressLine2.touched
              "
            >
              <span translate>Address Line 2 is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="activation-form1">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Address Line 3</mat-label>
            <input matInput placeholder="Address Line 3" formControlName="addressLine3" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.addressLine3.invalid &&
                tenantActivationFormGroup.controls.addressLine3.touched
              "
            >
              <span translate>Address Line 3 is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.phone.invalid && tenantActivationFormGroup.controls.phone.touched
              "
            >
              <span translate>Phone is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" required />
            <mat-error
              *ngIf="tenantActivationFormGroup.controls.city.invalid && tenantActivationFormGroup.controls.city.touched"
            >
              <span translate>City is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="activation-form2">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.state.invalid && tenantActivationFormGroup.controls.state.touched
              "
            >
              <span translate>State is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" formControlName="country" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.country.invalid && tenantActivationFormGroup.controls.country.touched
              "
            >
              <span translate>Country is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>ZipCode</mat-label>
            <input matInput placeholder="ZipCode" formControlName="zipcode" required />
            <mat-error
              *ngIf="
                tenantActivationFormGroup.controls.zipcode.invalid && tenantActivationFormGroup.controls.zipcode.touched
              "
            >
              <span translate>Zipcode is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button
            type="submit"
            mat-raised-button
            layout-margin=""
            class="md-raised btn-field-bt-mg mat-button-custom save-btn-org"
            color="primary"
          >
            Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>-->
