<div class="mat-content-details">
  <mat-card class="mat-card-details">
    <mat-card-content>
      <mat-toolbar>
        <span>
          <mat-card-title>Near Miss</mat-card-title>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <a class="btn-success btn-field-bt-mg" mat-stroked-button routerLink="/near-miss">
            <mat-icon>arrow_back_ios</mat-icon> Near Miss
          </a>
        </span>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card-details">
    <mat-card-content class="mat-main-content">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Overview</h2>
      </div>
      <mat-divider class="mat-divider-nearmiss"> </mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table fxFlex="100%">
          <tbody>
            <tr>
              <td fxFlex="20%">
                <mat-label class="mat-label">Vessel</mat-label>
              </td>
              <td fxFlex="20%">
                <mat-label class="mat-label" *ngIf="!nearmissData.isLatLong"> Port</mat-label>
                <mat-label class="mat-label" *ngIf="nearmissData.isLatLong"> At Sea (Lat Long)</mat-label>
              </td>
              <td fxFlex="20%">
                <mat-label class="mat-label">Date of Observation</mat-label>
              </td>
              <td fxFlex="20%">
                <mat-label class="mat-label">Report Type</mat-label>
              </td>
              <td fxFlex="20%">
                <mat-label class="mat-label">Department</mat-label>
              </td>
            </tr>
            <tr>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.vesselName }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data" *ngIf="!nearmissData.isLatLong">{{ nearmissData.portName }}</label>
                <label class="mat-label-data" *ngIf="nearmissData.isLatLong">{{ nearmissData.latLong }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.dateOfObservation | date: 'dd MMM yyyy HH:mm' }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.reportType }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.department }}</label>
              </td>
            </tr>
            <tr>
              <td class="td-line-height" fxFlex="20%">
                <mat-label class="mat-label">Report ID</mat-label>
              </td>
              <td class="td-line-height" fxFlex="20%">
                <mat-label class="mat-label">Observed By</mat-label>
              </td>
              <td class="td-line-height" fxFlex="20%">
                <mat-label class="mat-label">Vessel Location</mat-label>
              </td>
              <td class="td-line-height" fxFlex="20%">
                <mat-label class="mat-label">Date of Report</mat-label>
              </td>
              <td class="td-line-height" fxFlex="20%">
                <mat-label class="mat-label">Name (Optional)</mat-label>
              </td>
            </tr>
            <tr>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.reportId }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.observedById }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.vesselLocation }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.dateOfReport | date: 'dd MMM yyyy' }}</label>
              </td>
              <td fxFlex="20%">
                <label class="mat-label-data">{{ nearmissData.name }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Description</h2>
      </div>
      <mat-divider class="mat-divider-nearmiss"> </mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <table fxFlex="100%">
          <tbody>
            <tr>
              <td colspan="4">
                <mat-label class="mat-label">Description</mat-label>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <label class="mat-label-data">{{ nearmissData.description }}</label>
              </td>
            </tr>
            <tr>
              <td class="td-line-height">
                <mat-label class="mat-label">Task Involved</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">Location</mat-label>
              </td>
              <td class="td-line-height">
                <mat-label class="mat-label">Stop Card Issued</mat-label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mat-label-data">{{ nearmissData.task }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ nearmissData.locationName }}</label>
              </td>
              <td>
                <label class="mat-label-data">{{ nearmissData.stopCardIssued }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Analysis</h2>
      </div>
      <div>
        <mat-divider class="mat-divider-nearmiss"></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h4 class="heading-with-underline">IMPACT OR NEAR IMPACT RELATED TO</h4>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>
      <div fxLayout="row" class="content-space">
        <section class="example-section radio-group">
          <ng-container *ngFor="let impact of impactList; let i = index">
            <span *ngIf="setImpactType(impact, nearmissData.impact)" color="primary" class="impact-vertical-align">
              <!-- <mat-checkbox class="checkbox-margin" color="primary" checked="true" value="{{ impact }}">
                  {{ impact }}</mat-checkbox> -->
              <mat-icon class="checkbox-margin" color="primary">check_box</mat-icon>{{ impact }}
            </span>
            <span *ngIf="!setImpactType(impact, nearmissData.impact)" color="primary" class="impact-vertical-align">
              <mat-icon class="checkbox-margin" color="primary">check_box_outline_blank</mat-icon>{{ impact }}
            </span>
            <!-- <mat-checkbox class="checkbox-margin" color="primary" [checked]="setImpactType(impact, nearmissData.impact)"
                value="{{ impact }}" [disabled]="!setImpactType(impact, nearmissData.impact)">
                {{ impact }}</mat-checkbox> -->
          </ng-container>
        </section>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h4 class="heading-with-underline">LOSS POTENTIAL</h4>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="20%" fxLayout="column" fxLayoutAlign="start start">
          <label class="radio-heading severity-radio-label">Severity Level</label>
          <mat-radio-group class="radio-group tp-radio-group btn-field-bt-mg action-field" name="severityLevel">
            <mat-radio-button
              *ngFor="let level of severityLevel; let i = index"
              appearance="outline"
              [id]="'severity' + (i + 1)"
              class="tp-radio-button"
              color="primary"
              value="{{ level.name }}"
              [checked]="level.name === nearmissData.severityLevel"
              [disabled]="level.name !== nearmissData.severityLevel"
              matTooltip="{{ level.description }}"
            >
              {{ i + 1 + ' - ' + level.name }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start start">
          <label class="radio-heading severity-radio-label">Likely Hood</label>
          <mat-radio-group class="radio-group tp-radio-group btn-field-bt-mg action-field" name="probablityOfHappening">
            <mat-radio-button
              appearance="outline"
              *ngFor="let probability of probability; let j = index"
              class="tp-radio-button"
              color="primary"
              value="{{ probability.name }}"
              [checked]="probability.name === nearmissData.probablityOfHappening"
              [disabled]="probability.name !== nearmissData.probablityOfHappening"
              matTooltip="{{ probability.description }}"
            >
              {{ j + 1 + ' - ' + probability.name }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="55%" fxLayout="column" fxLayoutAlign="center center">
          <div
            class="resultant-risk analysis-right-space"
            *ngIf="nearmissData.resultantRisk"
            [ngClass]="getImpactActiveClass(nearmissData.resultantRisk)"
          >
            <h1 class="center">{{ nearmissData.resultantRisk }}</h1>
            <div class="center">{{ impactLabel }}</div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="heading-with-underline">TYPE OF CONTACT</mat-label>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div class="cause-margin">
          <div *ngFor="let typeOfContactOrEvent of nearmissData.typeOfContactOrEvent; let i = index">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <span class="bottom-space">
                <mat-label class="sub-title"
                  >{{ indexing[i] }}. {{ typeOfContactOrEvent.typeOfContactCategory }}
                  :
                </mat-label>
                {{ typeOfContactOrEvent.typeOfContact }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="heading-with-underline">IMMEDIATE CAUSE</mat-label>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>
      <div fxLayout="row">
        <div class="cause-margin" fxFlex="100%">
          <div *ngFor="let typeofContact of nearmissData.typeOfContactOrEvent; let i = index">
            <span>
              <div
                fxLayout="row"
                fxLayoutAlign="space-between start"
                *ngFor="let basicCause of typeofContact.basicImmediateCause; let j = index"
              >
                <div fxLayout="column" fxFlex="100%">
                  <span class="bottom-space">
                    <mat-label class="sub-title"
                      >{{ indexing[i] }} {{ j + 1 }}. {{ basicCause.basicImmediateCause }} :
                    </mat-label>
                    <div fxLayout="row" class="subdesciption-space">
                      {{ basicCause.basicImmediateCauseExplanation }}
                    </div>
                  </span>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="heading-with-underline">ROOT CAUSE</mat-label>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>
      <div fxLayout="row">
        <div class="cause-margin" fxFlex="100%">
          <div *ngFor="let typeofContact of nearmissData.typeOfContactOrEvent; let typeofContactIndex = index">
            <span>
              <span *ngFor="let basicCause of typeofContact.basicImmediateCause; let basicCauseIndex = index">
                <div
                  *ngFor="let rootCause of basicCause.basicRootCause; let rootCauseIndex = index"
                  fxLayout="row"
                  fxFlex="100%"
                  fxLayoutAlign="space-between start"
                >
                  <div fxLayout="column" fxFlex="100%">
                    <span class="bottom-space">
                      <mat-label class="sub-title"
                        >{{ indexing[typeofContactIndex] }} {{ basicCauseIndex + 1 }}.
                        {{ rootCauseIndex + 1 }}

                        {{ rootCause.basicRootCause }}
                        :
                      </mat-label>
                      <div fxLayout="row" class="subdesciption-space">
                        {{ rootCause.basicRootCauseExplanation }}
                      </div>
                    </span>
                  </div>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="heading-with-underline">CORRECTIVE CAUSE</mat-label>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>
      <div fxLayout="row">
        <div class="cause-margin" fxFlex="100%">
          <div *ngFor="let typeofContact of nearmissData.typeOfContactOrEvent; let typeofContactIndex = index">
            <span *ngFor="let basicCause of typeofContact.basicImmediateCause; let basicCauseIndex = index">
              <div *ngFor="let rootCause of basicCause.basicRootCause; let rootCauseIndex = index">
                <div
                  *ngFor="let correctiveAction of rootCause.correctiveAction; let correctiveActionIndex = index"
                  fxLayout="row"
                  fxFlex="100%"
                  fxLayoutAlign="space-between start"
                >
                  <div fxLayout="column" fxFlex="100%">
                    <span class="bottom-space">
                      <mat-label class="sub-title"
                        >{{ indexing[typeofContactIndex] }} {{ basicCauseIndex + 1 }}.
                        {{ rootCauseIndex + 1 }}

                        {{ correctiveAction.correctiveActionCategory }}
                        :
                      </mat-label>
                      <div fxLayout="row" class="subdesciption-space">
                        {{ correctiveAction.correctiveAction }}
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Attachment</h2>
      </div>
      <mat-divider class="mat-divider-nearmiss"></mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <span class="attachment-section">
          <span *ngFor="let files of nearmissData.actionAttachments">
            <a href="{{ API_URL + '/' + files.actionAttchmentPath }}" target="blank" class="image-box"
              ><img
                src="{{ API_URL + '/' + files.actionAttchmentPath }}"
                (error)="handleImgError($event)"
                class="uploaded-images"
            /></a>
          </span>
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Action</h2>
      </div>
      <mat-divider class="mat-divider-nearmiss"> </mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column" fxFlex="100%">
          <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100%">
            <div class="mat-label" fxFlex="8%">Proposed By</div>
            <div class="mat-label" fxFlex="10%">Action Type</div>
            <div class="mat-label" fxFlex="20%">Nature Of Action</div>
            <div class="mat-label" fxFlex="10%">Designation / User / Email</div>
            <div class="mat-label" fxFlex="8%">Due Date</div>
            <div class="mat-label" fxFlex="8%">Date Completed</div>
            <div class="mat-label" fxFlex="15%">Supportive Comments</div>
            <div class="mat-label" fxFlex="5%">Status</div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between start"
            fxFlex="100%"
            *ngFor="let action of nearmissData.action; let actionIndex = index"
          >
            <div class="mat-label-data" fxFlex="8%">{{ action.proposedBy }}</div>
            <div class="mat-label-data" fxFlex="10%">{{ action.type }}</div>
            <div class="mat-label-data" fxFlex="20%">{{ action.natureOfAction }}</div>
            <div class="mat-label-data" fxFlex="10%">
              <span *ngIf="action.email && !action.user && !action.designation"> {{ action.email }} </span>
              <span *ngIf="!action.email && action.user && !action.designation"> {{ action.user }} </span>
              <span *ngIf="!action.email && !action.user && action.designation"> {{ action.designation }} </span>
            </div>
            <div class="mat-label-data" fxFlex="8%">{{ action.dueDate | date: 'dd MMM yyyy' }}</div>
            <div class="mat-label-data" fxFlex="8%">{{ action.dateCompleted | date: 'dd MMM yyyy' }}</div>
            <div class="mat-label-data" fxFlex="15%">{{ action.supportiveComments }}</div>
            <div class="mat-label-data" fxFlex="5%">{{ action.actionStatus }}</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-label class="heading-with-underline">Office Comment</mat-label>
      </div>
      <div class="content-space">
        <mat-divider class="mat-divider-custom-details"></mat-divider>
      </div>
      <div class="mat-label-data" fxLayout="row" fxLayoutAlign="space-between start">
        {{ nearmissData.officeComments }}
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Cross Reference to TMSA</h2>
      </div>
      <mat-divider class="mat-divider-nearmiss"> </mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column" fxFlex="100%">
          <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100%">
            <div class="mat-label" fxFlex="15%">Element</div>
            <div class="mat-label" fxFlex="10%">Stage</div>
            <div class="mat-label" fxFlex="25%">Specific Kpi</div>
            <div class="mat-label" fxFlex="50%">Additional Comments</div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between start"
            fxFlex="100%"
            *ngFor="let tmsa of nearmissData.crossReferencToTSMA; let actionIndex = index"
          >
            <div class="mat-label-data" fxFlex="15%">{{ tmsa.elementTitle }}</div>
            <div class="mat-label-data" fxFlex="10%">{{ tmsa.stageNo }}</div>
            <div class="mat-label-data" fxFlex="25%">{{ tmsa.specificKpi }}</div>
            <div class="mat-label-data" fxFlex="50%">{{ tmsa.additionalComments }}</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 class="detail-page-title">Communication</h2>
      </div>
      <mat-divider class="mat-divider-nearmiss"> </mat-divider>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column" fxFlex="100%">
          <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100%">
            <div class="mat-label" fxFlex="20%">Comment By Name</div>
            <div class="mat-label" fxFlex="15%">Date Of Communication</div>
            <div class="mat-label" fxFlex="50%">Comment</div>
          </div>
          <span *ngIf="nearmissData.communication">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between start"
              fxFlex="100%"
              *ngFor="let communication of nearmissData.communication; let actionIndex = index"
            >
              <div class="mat-label-data" fxFlex="20%">{{ communication.commentByName }}</div>
              <div class="mat-label-data" fxFlex="15%">{{ communication.dateOfCommunication }}</div>
              <div class="mat-label-data" fxFlex="50%">{{ communication.comment }}</div>
            </div>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
