<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Fleet"
      subtitle="ALL FLEET"
      navigateButtonTitle="New Fleet"
      (ngNavigateClick)="onAddForm()"
    ></app-toolbar>

    <div fxLayout="row">
      <div fxFlex="40" class="m-t-2">
        <app-ag-grid
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          (gridReady)="onGridReady($event)"
          [defaultColDef]="defaultColDef"
          [rowSelection]="rowSelection"
          (rowSelected)="onRowSelected($event)"
          [icons]="icons"
          [frameworkComponents]="frameworkComponents"
          [editType]="editType"
          [domLayout]="domLayout"
          (cellValueChanged)="onCellValueChanged($event)"
          [paginationPageSize]="paginationPageSize"
        >
        </app-ag-grid>
      </div>
      <div fxFlex="60" fxFlexOffset="1" class="m-t-3">
        <div fxLayout="row" class="width-100 vessel-col p-1-8 b-b-1 is-heading">
          <div fxFlex="40" fxFlexOffset="1" class="m-t-2" fxLayoutAlign="start center">
            <span>Vessels</span>
          </div>
          <div fxFlex="60" fxFlexOffset="1" class="m-t-2 p-1-8 is-subheading" fxLayoutAlign="end">
            <button mat-raised-button fxLayoutAlign="center" (click)="openVesselDialog()">
              <span><mat-icon>add</mat-icon>Vessel</span>
            </button>
          </div>
        </div>
        <div>
          <div *ngFor="let vessel of showVessels" class="width-100 mat-card p-1-8 b-b-1 is-content">
            <mat-checkbox color="primary" [checked]="checked">{{ vessel }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- #region Add Fleet Form Dialog -->

<app-dialog
  [dialog]="displayDialog"
  (afterClosed)="displayDialog = false"
  #newdialog
  [header]="header"
  [content]="content"
  [footer]="footer"
>
</app-dialog>
<ng-template #header>
  <div><mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon></div>
  <form [formGroup]="fleetFormGroup" id="addform" (ngSubmit)="onSubmit()">
    <div class="row">
      <div fxLayout="row" class="fleet-form">
        <div fxFlex="50%" class="name-field">
          <mat-form-field class="btn-field-bt-mg dialog-field">
            <mat-label>FLEET NAME</mat-label>
            <input matInput required formControlName="name" />
          </mat-form-field>
        </div>
        <div fxFlex="50" class="select-field">
          <button mat-button class="select-btn" type="button">
            <mat-select formControlName="managerId" color="primary">
              <mat-option value="">Manager</mat-option>
              <mat-option *ngFor="let manager of managerWithId" [value]="manager.userId">{{
                manager.firstname
              }}</mat-option>
            </mat-select>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #content>
  <!--<app-new-fleet (closeDialog)="discard($event)"></app-new-fleet>-->
  <div class="column">
    <h3 *ngIf="!vesselArray.length" class="dialog-subheading-empty">No Fleet Vessel To Select</h3>
    <h3 *ngIf="vesselArray.length" class="dialog-subheading">Select Fleet Vessel</h3>
    <div class="dialog-content">
      <div *ngFor="let vessel of vesselArray" class="width-100 p-1-8 b-b-1 is-content vessellist">
        <!--- <mat-checkbox color="primary">{{ vessel }}</mat-checkbox>-->
        <mat-card class="dialog-card">
          <mat-card-header>
            <mat-card-title
              ><mat-checkbox color="primary" (click)="toggle(vessel)" formControlName="vesselId">{{
                vessel.vessel
              }}</mat-checkbox></mat-card-title
            >
            <mat-card-subtitle>Imo number</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>vessel is selected for demo purpose.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #footer>
  <div fxLayoutAlign="end" class="row">
    <button mat-button color="primary" (click)="overviewReset()" type="reset">
      <span translate>Discard </span>
    </button>
    <button
      type="submit"
      mat-raised-button
      form="addform"
      layout-margin=""
      class="md-raised btn-field-bt-mg mat-button-custom save-btn"
      color="primary"
    >
      Submit
    </button>
  </div>
</ng-template>

<!-- #endregion Add Fleet Form Dialog -->

<!-- #region Update Form Dialog -->

<app-dialog
  [dialog]="displayUpdateDialog"
  #updatedialog
  (afterClosed)="displayUpdateDialog = false"
  [header]="updateheader"
  [content]="updatecontent"
  [footer]="updatefooter"
  [width]="500"
>
</app-dialog>
<ng-template #updateheader>
  <div><mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon></div>
  <form [formGroup]="fleetUpdateFormGroup" (ngSubmit)="onUpdateSubmit()" id="updateform">
    <div class="row">
      <div fxLayout="row" class="fleet-form">
        <div fxFlex="50%" class="name-field">
          <mat-form-field class="btn-field-bt-mg dialog-field">
            <mat-label>FLEET NAME</mat-label>
            <input matInput required formControlName="name" />
          </mat-form-field>
        </div>
        <div fxFlex="50" class="select-field">
          <button mat-button class="select-btn" type="button">
            <mat-select formControlName="managerId">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let manager of managerWithId" [value]="manager.userId">{{
                manager.firstname
              }}</mat-option>
            </mat-select>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #updatecontent>
  <!--<app-new-fleet (closeDialog)="discard($event)"></app-new-fleet>-->
  <div class="column">
    <h3 *ngIf="!getVesselFormArray().length" class="dialog-subheading-empty">No Fleet Vessel To Select</h3>
    <h3 *ngIf="getVesselFormArray().length" class="dialog-subheading">Select Fleet Vessel</h3>
    <div class="dialog-content" [formGroup]="fleetUpdateFormGroup">
      <div
        formArrayName="vesselDetails"
        *ngFor="let vesselDetails of getVesselFormArray().controls; let i = index"
        class="width-100 p-1-8 b-b-1 is-content vessellist"
      >
        <mat-card class="dialog-card" [formGroupName]="i">
          <mat-card-header>
            <mat-card-title>
              <mat-checkbox
                color="primary"
                [checked]="checked"
                formControlName="vesselId"
                (click)="toggle(vesselDetails.value)"
                >{{ vesselDetails.value.vessel }}</mat-checkbox
              >
            </mat-card-title>

            <mat-card-subtitle>Imo number</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>vessel is selected for demo purpose.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #updatefooter>
  <div fxLayoutAlign="end" class="row">
    <button mat-button color="primary" (click)="overviewReset()" type="reset">
      <span translate>Discard </span>
    </button>
    <button
      type="submit"
      mat-raised-button
      form="updateform"
      [disabled]="[updatingFleet]"
      layout-margin=""
      class="md-raised btn-field-bt-mg mat-button-custom save-btn"
      color="primary"
    >
      Submit
    </button>
  </div>
</ng-template>

<!-- #endregion Update Form Dialog -->

<!-- #region Add Vessel Form -->

<app-dialog
  [dialog]="displayVesselDialog"
  #addVesseldialog
  (afterClosed)="displayVesselDialog = false"
  [header]="vesselheader"
  [content]="vesselContent"
  [footer]="vesselFooter"
>
</app-dialog>
<ng-template #vesselheader>
  <div><mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon></div>
  <form [formGroup]="fleetVesselFormGroup" (ngSubmit)="onVesselSubmit()" id="vesselform">
    <div class="row">
      <div fxLayout="row" class="fleet-form">
        <div fxFlex="50%" class="name-field">
          <mat-form-field class="btn-field-bt-mg dialog-field">
            <mat-label>FLEET NAME</mat-label>
            <input matInput required formControlName="name" readonly />
          </mat-form-field>
        </div>
        <div fxFlex="50" class="select-field">
          <button mat-button class="select-btn readonly-wrapper" type="button">
            <mat-select class="readonly-block" formControlName="managerId" readonly>
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let manager of manager" [value]="manager">{{ manager }}</mat-option>
            </mat-select>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #vesselContent>
  <div class="column">
    <h3 *ngIf="!vesselArray.length" class="dialog-subheading-empty">No Fleet Vessel To Select</h3>
    <h3 *ngIf="vesselArray.length" class="dialog-subheading">Select Fleet Vessel</h3>
    <div class="dialog-content">
      <div *ngFor="let vessel of vesselArray" class="width-100 p-1-8 b-b-1 is-content vessellist">
        <mat-card class="dialog-card">
          <mat-card-header>
            <mat-card-title
              ><mat-checkbox color="primary" (click)="toggle(vessel)">{{ vessel.vessel }}</mat-checkbox></mat-card-title
            >
            <mat-card-subtitle>Imo number</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>vessel is selected for demo purpose.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #vesselFooter>
  <div fxLayoutAlign="end" class="row">
    <button mat-button color="primary" (click)="overviewVesselReset()" type="reset">
      <span translate>Discard </span>
    </button>
    <button
      type="submit"
      mat-raised-button
      form="vesselform"
      layout-margin=""
      class="md-raised btn-field-bt-mg mat-button-custom save-btn"
      color="primary"
    >
      Submit
    </button>
  </div>
</ng-template>

<!---- #endregion Add Vessel Form Dialog ----->
