.mat-list {
  color: #16569e;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.mat-grid {
  color: #16569e;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
  width: 145px;
}
.main-container {
  padding: 30px 40px 30px 30px;
}
.mg-top {
  margin-top: 15px;
}
:host ::ng-deep .calender-style {
  width: 100%;
  height: calc(100vh - 200px);
}

.fc-button {
  border: none;
  height: 25px;
  width: 50px;
  font-size: 10px;
  outline: 0;
}
::ng-deep .fc-today-button {
  margin-left: 0;
}
::ng-deep .fc .fc-button-group > .fc-button {
  position: relative;
  text-transform: capitalize;
  flex: 1 1 auto;
}
::ng-deep .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-transform: capitalize;
}
::ng-deep .fc th {
  text-align: center;
  background-color: #52baf3;
  color: white;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}
::ng-deep .fc table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  background-color: white;
}
::ng-deep .fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 24px;
  color: black;
  font-size: 17px;
  font-weight: bold;
}
::ng-deep .fc-theme-standard .fc-scrollgrid {
  border: 1px solid #d7dee5;
  // border: 1px solid var(--fc-border-color,#ddd);
}
::ng-deep .fc-theme-standard td {
  height: 100px;
}
::ng-deep .fc .fc-toolbar-title {
  margin: 0;
  color: rgb(59 70 82);
  font-weight: bold;
  font-size: 21px;
}
::ng-deep .fc .fc-button-primary:disabled {
  font-weight: bold;
  color: #2e66a5;
  background-color: #2c3e50;
  background-color: rgb(208 213 223);
  text-transform: capitalize;
  border-color: #2c3e50;
  border-color: var(--fc-button-border-color, #2c3e50);
}

:host ::ng-deep .btn-success {
  background-color: #02a921;
  color: #fff;
  border: none;
  text-transform: uppercase;
}
.fc-button-group {
  margin-right: 360px;
}

.example-spacer {
  flex: 1 1 auto;
}
.fc-day-grid-month-button {
  background-color: #17569e;
  color: white;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.fc-day-grid-week-button {
  color: #17569e;
  background-color: #d0d5df;
}
.fc-time-grid-day-button {
  color: #17569e;
  background-color: #d0d5df;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
::ng-deep .fc .fc-daygrid-event-harness {
  position: relative;
  width: 67px;
}

/* modal for calender */
.mat-dialog-content {
  padding-left: 0;
  padding-right: 0;
}

.dialog-header-label {
  color: white;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

/* Select Field Modifications in Header */

::ng-deep .vessel-select .mat-select-value {
  color: white;
  font-weight: 600;
}

::ng-deep .vessel-select.mat-select {
  display: inline-block;
  width: 49%;
  outline: none;
  font-weight: 400;
  font-size: 1.2rem;
}
::ng-deep .intiated-select.mat-select {
  background-color: white;
  display: inline-block;
  width: 77%;
  outline: none;
  padding: 10px;
  color: white;
}

// ::ng-deep .vessel-select .mat-select-arrow {
//   color: #f1cd1c;
// }

/* Select Field Modifications in Header */

.padd-top-bottom {
  padding: 1rem 0;
}

.padd-left-right {
  padding: 0 1rem;
}

.dialog-header {
  // background-color:#f1cd1c;
  margin: 0 -24px 0 -24px;
  padding: 24px 29px;
  letter-spacing: 2px;
}

.border-1px-bottom {
  border-bottom: 1px;
}

.table-header {
  background-color: rgb(255 255 255);
  // text-align: center;
  padding: 20px 8px;
  color: #8798ad;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 1rem;
  font-size: 14px;
}

.table-cell {
  // text-align: center;
  padding: 10px 8px;
  color: #202122;
  font-family: Roboto, sans-serif;
  // letter-spacing: 1px;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 14px;
  text-transform: capitalize;
}
.comment-section {
  text-align: justify;
  padding: 0 27px;
  color: #202122;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}

.even-table-cell {
  background-color: #f4f6f8;
}

.odd-table-cell-yellow {
  background-color: #fcf6d4;
}

.odd-table-cell-blue {
  background-color: #c7d6e7;
}

.odd-table-cell-red {
  background-color: #fadee1;
}

.odd-table-cell-green {
  background-color: #d5f4db;
}

.odd-table-cell-orange {
  background-color: #fdeed7;
}

:host ::ng-deep .dialog-card .mat-card {
  height: fit-content;
  overflow: hidden;
  border: 0 solid white;
  box-shadow: none;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f1cd1c;
  opacity: 1;
}

.myPanelClass {
  margin-top: 40px;
}
.close-btn {
  background-color: #16569e;
  color: white;
}
.mg-right-94 {
  margin-left: 94px;
}
.mg-left-20 {
  margin-left: 20px;
}
.mg-right-90 {
  margin-right: 90px;
}
.month-headin {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

:host ::ng-deep .calendar-toggle-actions {
  font-size: 12px;
  border: none;
}

:host ::ng-deep .calendar-toggle-actions .mat-button-toggle {
  color: #17569e;
  background-color: #d0d5df;
}

:host ::ng-deep .calendar-toggle-actions .mat-button-toggle:first-child {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

:host ::ng-deep .calendar-toggle-actions .mat-button-toggle:last-child {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

:host ::ng-deep .calendar-toggle-actions .mat-button-toggle-checked {
  background-color: #17569e;
  color: #fff;
}

:host ::ng-deep .calendar-toggle-actions .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: normal;
}

:host ::ng-deep .mat-toolbar-single-row {
  padding: 0;
  height: 50px;
}

:host ::ng-deep .year-calendar .fc-list-day-text,
:host ::ng-deep .year-calendar .fc-list-day-side-text {
  color: black;
}

.dialog-heading {
  color: white;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
}

.month-heading {
  font-weight: 600;
}

:host ::ng-deep .fc-scrollgrid-sync-inner {
  padding: 5px;
}

:host ::ng-deep .fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 20px;
  font-size: 20px;
}

:host ::ng-deep .fc .fc-daygrid-day-events {
  margin-top: 1px;
  position: absolute;
  // bottom: -38px;
}

:host ::ng-deep .fc-daygrid-block-event .fc-event-title {
  padding: 7px 5px;
  font-size: 11px;
}

:host ::ng-deep .fc-scrollgrid-sync-table {
  height: auto;
}

:host ::ng-deep .fc .fc-daygrid-day.fc-day-today {
  background-color: #e8edf2;
}

:host ::ng-deep .fc .fc-daygrid-event-harness {
  position: relative;
  margin: 0 6px;
  margin-bottom: 4px;
}

:host ::ng-deep .fc .fc-daygrid-day-top {
  height: 56px;
}
