<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Calender"
      subtitle="My Vessel"
      [selectValue]="selectedUtility?.value"
      [selectOptions]="auditUtilityList"
      (headerSelectionChanged)="onSireChanged($event)"
    ></app-toolbar>
    <mat-toolbar>
      <mat-button-toggle-group class="calendar-toggle-actions" [value]="'today'">
        <mat-button-toggle value="previous" (click)="previous()">Previous</mat-button-toggle>
        <mat-button-toggle value="next" (click)="next()">Next</mat-button-toggle>
        <mat-button-toggle value="today" (click)="today()">Today</mat-button-toggle>
      </mat-button-toggle-group>

      <span class="example-spacer"></span>
      <span class="month-heading" *ngIf="!calendarView.threeMonth">{{ title }}</span>
      <span class="example-spacer"></span>

      <mat-button-toggle-group
        class="calendar-toggle-actions"
        [value]="'month'"
        (change)="onCalendarViewChange($event)"
      >
        <mat-button-toggle value="month">Month</mat-button-toggle>
        <!-- <mat-button-toggle value="3_month">3 Months</mat-button-toggle> -->
        <!-- <mat-button-toggle value="year">Year</mat-button-toggle> -->
      </mat-button-toggle-group>
    </mat-toolbar>

    <full-calendar *ngIf="calendarView.month" #calendar class="calender-style" [options]="calendarOptions">
    </full-calendar>
    <div fxLayout="row" *ngIf="calendarView.threeMonth">
      <span fxFlex="33%">
        <app-calender-view [id]="'cal1'"></app-calender-view>
      </span>
      <span fxFlex="33%">
        <div class="month-headin">{{ title }}</div>
        <full-calendar #calendar class="calender-style" [options]="calendarOptions1"></full-calendar>
      </span>
      <span fxFlex="33%">
        <app-calender-view [id]="'cal2'"></app-calender-view>
      </span>
    </div>
    <full-calendar
      class="year-calendar"
      *ngIf="calendarView.year"
      #yearCalendar
      [options]="yearCalendarOptions"
    ></full-calendar>
  </mat-card-content>
</mat-card>

<!--dialog for calander-->
<app-dialog
  [dialog]="displayCalanderDialog"
  class="calender-container"
  [header]="header1"
  [headerClass]="headerClass"
  [content]="content1"
  [footer]="footer1"
  [width]="612"
>
</app-dialog>
<ng-template #header1>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="dialog-header-label">Vessel</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 fxFlex="50%" class="dialog-heading">{{ selectedPlanData?.vesselName }}</h3>
    <h3 fxFlex="50%" class="dialog-heading text-right">{{ selectedPlanData?.state }}</h3>
  </div>
</ng-template>
<ng-template #content1>
  <div mat-dialog-content fxLayout="row">
    <span fxFlex="30%" class="table-header">Oil Major</span>
    <span fxFlex="30%" class="table-header">Planned Port</span>
  </div>
  <ng-container *ngIf="selectedPlanData?.history">
    <span *ngFor="let cell of selectedPlanData?.history; let i = index">
      <div mat-dialog-content fxLayout="row" [ngClass]="getTableOddCellClass(i, headerClass)">
        <span fxFlex="30%" class="table-cell"> {{ cell.oilMajor }} </span>
        <span fxFlex="30%" class="table-cell"> {{ cell.port }} </span>
      </div>
    </span>
  </ng-container>
  <div mat-dialog-content fxLayout="row">
    <span fxFlex="25%" class="table-header"> Comments </span>
  </div>
  <div mat-dialog-content fxLayout="row">
    <span fxFlex="100%" class="comment-section">
      {{ selectedPlanData?.comments }}
    </span>
  </div>
</ng-template>

<ng-template #footer1>
  <button mat-button mat-dialog-close class="close-btn">Close</button>
  <!-- <button mat-button mat-dialog-close>Apply</button>  -->
</ng-template>
