<mat-toolbar class="table-heading" fxLayoutAlign="none start">
  <a class="btn-success" mat-stroked-button (click)="getBackTypeofContact()">
    <mat-icon>arrow_back_ios</mat-icon> Back
  </a>
</mat-toolbar>
<mat-card class="mat-card-form-content">
  <mat-card-content>
    <form (ngSubmit)="onSubmitAnalysisChart()" [formGroup]="analysisFormGroup">
      <div fxLayout="row">
        <table class="table table-hover near-miss-table">
          <thead>
            <tr>
              <th>TYPE OF CONTACT OR EVENT</th>
              <th>IMMIDIATE CAUSES</th>
              <th>ROOT CAUSES</th>
              <th>CORRECTIVE / PREVENTIVE ACTION</th>
            </tr>
          </thead>
          <tbody formArrayName="typeOfContactOrEvent">
            <tr>
              <td valign="top" width="25%">
                <table class="basic-cause" frame="box">
                  <tr
                    *ngFor="let event of contactOrEventOptionList; let i = index"
                    [id]="'item-' + i"
                    [ngClass]="
                      activeContactCause == event.typeOfContact
                        ? 'contact-table-current'
                        : getContactClass(event.typeOfContact)
                    "
                  >
                    <td (click)="getBasicImmediateCause(event, i + 1)" title="click to select or unselect type">
                      {{ event.typeOfContact }}
                    </td>
                    <td (click)="setActivateContactCause(event.typeOfContact)" title="click to view further tree">
                      <img src="assets/visibility.svg" />
                    </td>
                  </tr>
                </table>
              </td>

              <td valign="top" width="25%">
                <span *ngFor="let contactActiveType of contactOrEventOptionList; let idx = index">
                  <table *ngIf="activeContactCause === contactActiveType.typeOfContact" class="basic-cause" frame="box">
                    <tr
                      *ngFor="let basicImmidate of basicImmidateOptionList[idx + 1]; let basicIndex = index"
                      [ngClass]="
                        activeImmediateCause == basicImmidate.immediateCauseId + '_' + (idx + 1)
                          ? 'contact-table-current'
                          : getImmidiateClass(basicImmidate, idx + 1)
                      "
                      class="list-item"
                    >
                      <td
                        (click)="getRootCause(basicImmidate, contactActiveType, basicIndex, idx + 1)"
                        title="click to select or unselect type"
                      >
                        {{ basicImmidate.immediateCause }}
                      </td>
                      <td
                        (click)="setActivateImmediateCauses(basicImmidate.immediateCauseId, idx + 1)"
                        title="click to view further tree"
                      >
                        <img src="assets/visibility.svg" />
                      </td>
                    </tr>
                  </table>
                </span>
              </td>
              <td valign="top" width="25%">
                <span *ngIf="isRootCause">
                  <span *ngFor="let contactActiveType of contactOrEventOptionList; let idx = index">
                    <span *ngFor="let basicImmidate of basicImmidateOptionList[idx + 1]; let basicIndex = index">
                      <table
                        *ngIf="activeImmediateCause === basicImmidate.immediateCauseId + '_' + (idx + 1)"
                        class="basic-cause"
                        frame="box"
                      >
                        <tr
                          *ngFor="
                            let rootCauseData of rootCauseOptionList[basicImmidate.immediateCauseId];
                            let rootCauseIndex = index
                          "
                          [ngClass]="
                            activeRootCause == rootCauseData.basicRootCauseId + '_' + (idx + 1) + '_' + basicIndex
                              ? 'contact-table-current'
                              : getRootClass(rootCauseData, basicIndex, idx + 1)
                          "
                        >
                          <td
                            (click)="
                              getCorrectiveCause(
                                contactActiveType,
                                rootCauseData,
                                basicImmidate,
                                basicIndex,
                                rootCauseIndex,
                                idx + 1
                              )
                            "
                            title="click to select or unselect type"
                          >
                            {{ rootCauseData.basicRootCause }}
                          </td>
                          <td
                            (click)="setActivateRootCauses(rootCauseData.basicRootCauseId, basicIndex, idx + 1)"
                            title="click to view further tree"
                          >
                            <img src="assets/visibility.svg" />
                          </td>
                        </tr>
                      </table>
                    </span>
                  </span>
                </span>
              </td>
              <td valign="top" width="25%">
                <span *ngIf="isCorrectiveCause">
                  <span *ngFor="let contactActiveType of contactOrEventOptionList; let idx = index">
                    <span *ngFor="let basicImmidate of basicImmidateOptionList[idx + 1]; let basicIndex = index">
                      <span
                        *ngFor="
                          let rootCauseData of rootCauseOptionList[basicImmidate.immediateCauseId];
                          let rootCauseIndex = index
                        "
                      >
                        <table
                          *ngIf="
                            activeRootCause === rootCauseData.basicRootCauseId + '_' + (idx + 1) + '_' + basicIndex
                          "
                          class="basic-cause"
                          frame="box"
                        >
                          <tr
                            (click)="
                              setCorrectiveCause(
                                contactActiveType,
                                basicImmidate,
                                rootCauseData,
                                correctiveData,
                                rootCauseIndex,
                                basicIndex,
                                idx + 1
                              )
                            "
                            *ngFor="let correctiveData of correctiveCauseOptionList[rootCauseData.basicRootCauseId]"
                            [ngClass]="
                              correctiveActionId ==
                              correctiveData.correctiveActionId +
                                '_' +
                                (idx + 1) +
                                '_' +
                                basicIndex +
                                '_' +
                                rootCauseIndex
                                ? 'contact-table-current'
                                : getCorrectiveClass(
                                    correctiveData.correctiveActionId,
                                    rootCauseIndex,
                                    basicIndex,
                                    idx + 1
                                  )
                            "
                          >
                            <td>{{ correctiveData.correctiveAction }}</td>
                          </tr>
                        </table>
                      </span>
                    </span>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" class="causetree-action">
        <div fxLayout="column">
          <div *ngIf="getCauseValidate">
            <mat-label class="error-message">Please complete the tree hirecrarchy </mat-label>
          </div>
        </div>
        <div class="actions">
          <button (click)="analysisChartReset()" class="btn-space" mat-button color="primary">
            <span translate>Discard</span>
          </button>
          <button mat-raised-button class="btn-success" type="submit" [disabled]="getCauseValidate">
            <span translate>Save Changes </span>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
