.near-miss-table {
  border-collapse: collapse;
  width: 100%;
}

.near-miss-table td,
.near-miss-table th {
  padding: 8px;
}

.near-miss-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.contact-table-active {
  background-color: #4caf50;
  color: #fff;
}

.contact-table-incomplete {
  background-color: red;
  color: #fff;
}

.contact-table-current {
  background-color: #00bfff;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
}

.causetree-action {
  position: relative;
  height: 50px;

  .actions {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
