.profile-area {
  width: 17%;
}

.profile-form {
  width: 100%;
}

.profile-pic {
  height: 250px;
  width: 200px;
  margin-top: 10px;
}

.profile-form1 .mat-form-field {
  width: 48%;
  margin: 2px 10px;
  margin-bottom: 5px;
}

.profile-form2 .mat-form-field {
  width: 98%;
  margin: 10px;
  margin-top: -10px;
}

.profile-form3 .mat-form-field {
  width: 98%;
  margin: 10px;
  margin-top: -25px;
  margin-bottom: -5px;
}

.profile-form4 .mat-form-field {
  width: 98%;
  margin: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.profile-form5 .mat-form-field {
  width: 48%;
  margin: 2px 10px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.profile-form6 .mat-form-field {
  width: 48%;
  margin: 2px 10px;
  margin-top: -20px;
  margin-bottom: -5px;
}

.mat-org-title {
  margin: 10px 35px;
  font-family: Roboto, monospace;
  color: #16569e;
  font-weight: bold;
  font-size: 26px;
}

.card-container {
  background-color: white;
}

.mat-card {
  box-shadow: 2px 2px 2px transparent;
}

.button-section {
  display: flex;
  justify-content: flex-end;
}
.save-btn-org {
  margin: 10px 10px 0 10px;
  background-color: #16569e;
}
.delete-btn-org {
  margin: 10px 10px 0 10px;
  color: #16569e;
}

.checkbox-option mat-label {
  margin-left: 25px;
}

.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-title2 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}

.mat-divider {
  border-top-color: rgba(0, 0, 0, 0);
}

.mat-raised-button[disabled][disabled] {
  background-color: #cadef5;
  color: #fff;
}

.profile-active {
  display: flex;
  box-sizing: border-box;
  padding: 28px 20px;
  justify-content: flex-end;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #52baf3;
}

.mat-toolbar.table-heading {
  padding: 0 22px 0 0;
}

.hoverable:hover .background {
  display: block;
}

img {
  height: 100%;
  width: 100%;
  margin-top: 5px;
  margin-right: 5px;
  // border-radius: 50%;
}

.dropzone-img {
  display: flex;
  height: fit-content;
  background: #fff;
  cursor: pointer;
  color: #717386;
  border: none;
  overflow-x: hidden;
}

.profile-name {
  text-align: center;
  margin-top: 10px;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
}
