<div class="card-container">
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="profileFormGroup">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="profile-area">
            <div class="dropzone-img" ngx-dropzone [accept]="'image/*'" (change)="onFileChange($event)">
              <img [src]="imageUrl" alt="img" *ngIf="!!imageUrl" />
              <ngx-dropzone-label> </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                <ngx-dropzone-label></ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
            <div class="profile-name">
              <mat-label>
                {{ getUserNameInitials }}
              </mat-label>
            </div>
          </div>
          <div class="profile-form">
            <div fxLayout="row" fxLayoutAlign="space-between start profile-divider">
              <mat-divider class="mat-divider-custom2"></mat-divider>
            </div>
            <br />
            <div class="profile-form1" fxLayout="row">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label color="primary">First Name</mat-label>
                <input formControlName="firstname" matInput placeholder="First Name" required />
                <mat-error
                  *ngIf="profileFormGroup.controls.firstname.invalid && profileFormGroup.controls.firstname.touched"
                >
                  <span translate>First Name is required</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastname" matInput placeholder="Last Name" required />
                <mat-error
                  *ngIf="profileFormGroup.controls.lastname.invalid && profileFormGroup.controls.lastname.touched"
                >
                  <span translate>Last Name is required</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start profile-divider">
              <mat-divider class="mat-divider-custom2"></mat-divider>
            </div>
            <br />

            <div class="profile-form2" fxLayout="row">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Phone</mat-label>
                <!-- <input formControlName="phone" matInput placeholder="Phone" required /> -->
                <input
                  type="text"
                  matInput
                  ng2TelInput
                  [ng2TelInputOptions]="{ initialCountry: 'in' }"
                  (hasError)="onError($event)"
                  (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObject($event)"
                  (countryChange)="onCountryChange($event)"
                  formControlName="phone"
                />
                <mat-error *ngIf="profileFormGroup.controls.phone.invalid && profileFormGroup.controls.phone.touched">
                  <mat-error *ngIf="profileFormGroup.controls.phone.errors.required">
                    <span translate>Phone Number is required</span>
                  </mat-error>
                </mat-error>
                <mat-error *ngIf="profileFormGroup.controls.phone.invalid && profileFormGroup.controls.phone.touched">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Address Line 1</mat-label>
                <input formControlName="addressLine1" matInput placeholder="Address Line 1" required />
                <mat-error
                  *ngIf="
                    profileFormGroup.controls.addressLine1.invalid && profileFormGroup.controls.addressLine1.touched
                  "
                >
                  <span translate>Address Line 1 is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start profile-divider">
              <mat-divider class="mat-divider-custom2"></mat-divider>
            </div>
            <br />

            <div class="profile-form3" fxLayout="row">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Address Line 2</mat-label>
                <input formControlName="addressLine2" matInput placeholder="Address Line 2" />
                <mat-error
                  *ngIf="
                    profileFormGroup.controls.addressLine2.invalid && profileFormGroup.controls.addressLine2.touched
                  "
                >
                  <span translate>Address Line 2 is required</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Address Line 3</mat-label>
                <input formControlName="addressLine3" matInput placeholder="Address Line 3" />
                <mat-error
                  *ngIf="
                    profileFormGroup.controls.addressLine3.invalid && profileFormGroup.controls.addressLine3.touched
                  "
                >
                  <span translate>Address Line 3 is required</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="profile-form4" fxLayout="row">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="City" required />
                <mat-error *ngIf="profileFormGroup.controls.city.invalid && profileFormGroup.controls.city.touched">
                  <span translate>City is required</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>State</mat-label>
                <input formControlName="state" matInput placeholder="State" required />
                <mat-error *ngIf="profileFormGroup.controls.state.invalid && profileFormGroup.controls.state.touched">
                  <span translate>State is required</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="profile-form5" fxLayout="row">
              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>Country</mat-label>
                <input formControlName="country" matInput placeholder="Country" required />
                <mat-error
                  *ngIf="profileFormGroup.controls.country.invalid && profileFormGroup.controls.country.touched"
                >
                  <span translate>Country is required</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="btn-field-bt-mg">
                <mat-label>ZipCode</mat-label>
                <input formControlName="zipcode" matInput placeholder="Zip Code" required />
                <mat-error
                  *ngIf="profileFormGroup.controls.zipcode.invalid && profileFormGroup.controls.zipcode.touched"
                >
                  <span translate>Zipcode is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start profile-divider">
              <mat-divider class="mat-divider-custom2"></mat-divider>
            </div>
            <br />
            <div class="profile-form6" fxLayout="row">
              <mat-form-field appearance="outline" class="form-field-name-2">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" required>
                  <mat-option>Select role</mat-option>
                  <mat-option *ngFor="let roles of roleId" [value]="roles.roleId">{{ roles.role }}</mat-option>
                </mat-select>
                <mat-error *ngIf="profileFormGroup.controls.role.invalid && profileFormGroup.controls.role.touched">
                  <span translate>Role is required</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field-name-2">
                <mat-label>Designation</mat-label>

                <mat-select formControlName="designation" required>
                  <mat-option>Select Designation</mat-option>
                  <mat-option *ngFor="let designations of designationId" [value]="designations.designationId">
                    {{ designations.designation }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="profileFormGroup.controls.designation.invalid && profileFormGroup.controls.designation.touched"
                >
                  <span translate>Designation is required</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="button-section">
              <button class="delete-btn-org" layout-margin="" mat-button type="reset" (click)="overviewReset()">
                Discard
              </button>
              <button
                class="md-raised btn-field-bt-mg mat-button-custom save-btn-org"
                color="primary"
                layout-margin=""
                mat-raised-button
                type="submit"
              >
                Save Changes
              </button>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between start"></div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
