<div class="mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="login-box" fxFlex="90%" fxFlex.gt-md="25%" fxFlex.md="50%" fxFlex.sm="66%">
      <div fxLayoutAlign="center" translate><img alt="Logo" class="jss2" src="../../../assets/logo.svg" /></div>
      <form (ngSubmit)="setPassword()" [formGroup]="resetPassword" novalidate>
        <div class="login-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true">
            <input
              [placeholder]="'Password' | translate"
              autocomplete="password"
              formControlName="password"
              matInput
              required
              type="password"
            />
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input
              [placeholder]="'Confirm Password' | translate"
              autocomplete="confirmPassword"
              formControlName="confirmPassword"
              matInput
              required
              type="password"
            />
            <mat-error *ngIf="error">
              <span translate>Error in Reset Password</span>
            </mat-error>
          </mat-form-field>
          <br />
          <button [disabled]="resetPassword.invalid || isLoading" color="primary" mat-raised-button type="submit">
            <app-loader [isLoading]="isLoading" class="inline-loader"></app-loader>
            <span *ngIf="!isLoading" translate>Reset Password</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
