@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}

.mat-typography {
  background-image: url("../../../assets/bg_image.svg");
  background-size: cover;
  height: 100%;
}

.mat-snack-bar-container {
  background-color: #fff;
  color: #000;
  z-index: 100;
  box-shadow: 2px 3px 2px 20px #000;
}
