<mat-card class="container">
  <mat-card-content>
    <app-ag-grid
      #agGrid
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [domLayout]="domLayout"
      [frameworkComponents]="frameworkComponents"
      [editType]="editType"
      (cellValueChanged)="onCellValueChanged($event)"
      [paginationPageSize]="paginationPageSize"
    >
    </app-ag-grid>
  </mat-card-content>
</mat-card>
