@import "src/theme/theme-variables";

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  border-bottom: 0.15rem solid #51baf3;
}

.nav-items {
  height: 100%;
}

.brand {
  color: mat-color($app-primary, "default-contrast");
  text-decoration: none;
  margin-left: -18px;
}

.logo {
  margin-top: 7%;
}

.user-img {
  width: 40px;
  border-radius: 50%;
}

.profile-image {
  border-radius: 50%;
  background: #16569e;
  font-size: 19px;
  color: #fff;
  text-align: center;
}

.menu-button {
  color: #3b4652; // TODO get from Theme Variable.
  text-decoration: none;
  height: 100%;
  border-radius: 0;
  line-height: 1.25;
  font-size: 0.7em;
  font-weight: 400;
  border-right: 1px solid #51baf3;
  margin-right: -5px;
}

.active {
  color: #fff;
  background: #51baf3;
}

.mat-icon {
  height: 37px;
  width: 37px;
}
