<mat-toolbar class="mat-elevation-z6 nav-bar" *ngIf="hasHeader">
  <a class="brand" href="/">
    <img alt="Sail Web App" class="logo" src="assets/logo.svg" />
  </a>
  <div class="nav-items">
    <button class="menu-button" mat-button [matMenuTriggerFor]="menu">
      <div>
        <mat-icon [svgIcon]="'apps-black'"></mat-icon>
      </div>
      <!-- https://github.com/ngx-translate/core/issues/1209#issuecomment-641841573-->
      <span class="nav-bar-font"> {{ selectedModule | translate }} </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="appSwitcherFunction('Home')">Home</button>
      <button mat-menu-item (click)="appSwitcherFunction('Incident')">Incident Module</button>
      <button mat-menu-item (click)="appSwitcherFunction('Audit')">Audit Module</button>
      <button mat-menu-item (click)="appSwitcherFunction('Admin')">Admin Area</button>
      <button mat-menu-item (click)="appSwitcherFunction('Organization')">Organization</button>
    </mat-menu>

    <app-nav-item *ngFor="let navItem of navItems" [lSideNav]="sidenav" [navItem]="navItem"></app-nav-item>
  </div>
  <span fxFlex></span>
  <app-language-selector icon="true"></app-language-selector>
  <button [matMenuTriggerFor]="userMenu" mat-icon-button>
    <div class="profile-image" *ngIf="!isProfilePic">{{ getUserNameInitials }}</div>
    <img *ngIf="isProfilePic" alt="assets/user.png" class="user-img" src="assets/user.png" />
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <a mat-menu-item translate (click)="userData()">profile</a>
    <button (click)="logout()" mat-menu-item translate>Logout</button>
  </mat-menu>
</mat-toolbar>
