:host ::ng-deep .display-flex {
  display: flex;
}
:host ::ng-deep .flex-1 {
  flex: 1;
}

:host ::ng-deep .flex-2 {
  flex: 2;
}

:host ::ng-deep .flex-3 {
  flex: 3;
}

:host ::ng-deep .flex-4 {
  flex: 4;
}

:host ::ng-deep .flex-5 {
  flex: 5;
}

:host ::ng-deep .flex-6 {
  flex: 6;
}

:host ::ng-deep .flex-0-auto {
  flex: 0 auto;
}

:host ::ng-deep [class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

:host ::ng-deep [class*="flex-"]:first-child {
  padding-left: 0;
}

:host ::ng-deep [class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}

:host ::ng-deep strong {
  color: #52baf3;
}

:host ::ng-deep b {
  font-size: large;
}

:host ::ng-deep .vessel-heading {
  font-size: 20px;
}
:host ::ng-deep .save-btn-org {
  background-color: #16569e;
}

.stepper-content {
  width: 100%;
  overflow: auto;
}
.stepper-nav-container {
  height: 60px;
  width: 100%;
}
.stepper-nav {
  display: flex;
  max-width: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.stepper-nav::-webkit-scrollbar {
  /* WebKit */
  width: 0;
}

:host ::ng-deep .mat-step > .mat-vertical-stepper-header {
  display: none;
}

:host ::ng-deep .mat-vertical-stepper-header-container {
  margin-left: 1%;
  display: none;
}

:host ::ng-deep .mat-step .mat-vertical-content-container {
  margin-left: 0;
  position: unset;
}

:host ::ng-deep .mat-step .mat-vertical-content {
  padding: 0;
}

.vertical-label-orientation {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #16569e;
  margin: 10px;
  text-orientation: mixed;
  white-space: nowrap;
}

.mat-raised-button-custom {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #16569e;
}

.mat-raised-button-custom.active {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #16569e;
  color: #fff;
  background-color: #16569e;
}

.mat-raised-button-custom.primary {
  min-width: unset;
  line-height: unset;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #07b907;
  color: #fff;
  background-color: #07b907;
}

.remove-btn {
  margin-bottom: 22px;
  background: #fb0606;
  color: #fff;
  height: 40px;
}

:host ::ng-deep .mat-step-button.warn {
  color: white;
  border-color: red;
}
.mat-card {
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(100vh - 180px);
  border-radius: 5px;
  padding: 20px;
}

.mat-card-legacy-form-content {
  background: unset;
  padding: unset;
  box-shadow: unset;
  height: unset;
}
.form-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

.form-page-subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #52baf3;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.content-space {
  margin-bottom: 30px;
}

.btn-space {
  margin: 5px;
}

::ng-deep div .mat-divider-nearmiss.mat-divider-horizontal {
  border-top-width: 2px;
  border-top-color: #51baf3;
  width: 97%;
  margin-left: 19px;
  border-top-style: solid;
}

.mat-raised-button.mat-primary {
  background-color: #16569e;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary {
  color: #16569e;
}

:host ::ng-deep .pl-0 {
  padding-left: 0;
}
