<mat-card
  *ngIf="config.length > 1; else singleForm"
  [ngStyle]="{ display: config.length > 1 ? 'flex' : 'none' }"
  fxLayout="column"
  fxLayoutAlign="start start"
>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="stepper-nav-container">
    <ng-container *ngTemplateOutlet="formHeader"></ng-container>
    <span fxFlex></span>
    <div class="stepper-nav">
      <ng-container *ngFor="let _config of config; let i = index">
        <button
          (click)="move(i)"
          [ngClass]="activeIndex === i + 1 ? 'active' : (_config.config.form | status)"
          [class]="
            i === 0
              ? 'mat-raised-button-custom mat-step-button'
              : 'mat-line-custom mat-raised-button-custom mat-step-button'
          "
          mat-raised-button
          [matTooltip]="_config.shortName"
        >
          {{ i + 1 }}
        </button>
        <span class="vertical-label-orientation" (click)="move(i)"> {{ _config.shortName }} </span>
      </ng-container>
    </div>
    <span fxFlex></span>
    <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="isStepperAvailable">
      <button
        *ngIf="!isFirstStep()"
        (click)="move(stepper.selectedIndex - 1)"
        class="btn-space"
        color="primary"
        type="button"
        mat-raised-button
      >
        Back
      </button>
      <button
        *ngIf="!isLastStep()"
        (click)="move(stepper.selectedIndex + 1)"
        class="btn-space"
        color="primary"
        type="button"
        mat-raised-button
      >
        Next
      </button>
    </div>
  </div>
  <div *ngIf="title || subTitle" fxLayout="row" class="content-space" fxLayoutAlign="space-between start">
    <mat-divider class="mat-divider-nearmiss"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="stepper-content">
    <mat-vertical-stepper #stepper [linear]="isLinear" class="stepper-content">
      <mat-step *ngFor="let _config of config; let i = index" [stepControl]="_config.config.form">
        <app-mat-formly-form
          [id]="_config.id"
          [autoHeight]="autoHeight"
          [discard]="_config.discard"
          [legacyForm]="_config.legacyForm"
          [stepperIndex]="i"
          [containerClass]="containerClass"
          [form]="_config.config.form"
          [options]="_config.config.options"
          [fields]="_config.config.fields"
          [model]="_config.config.model"
          [onDiscard]="_config.onDiscard"
          [onSave]="_config.onSave"
          [onPartialSubmit]="_config.onPartialSave"
          [onModelChange]="_config.config.onModelChange"
          [maskUntouchedAsInvalid]="
            config[0].maskUntouchedAsInvalid != undefined ? config[0].maskUntouchedAsInvalid : true
          "
          [cache]="config[0].cache != undefined ? config[0].cache : true"
          [showErrorIfInvalid]="config[0].showErrorIfInvalid != undefined ? config[0].showErrorIfInvalid : true"
          (save)="onFormSave($event)"
        >
        </app-mat-formly-form>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</mat-card>

<ng-template #singleForm>
  <mat-card [class.mat-card-legacy-form-content]="config[0].legacyForm">
    <ng-container *ngTemplateOutlet="formHeader"></ng-container>
    <app-mat-formly-form
      [id]="config[0].id"
      [autoHeight]="autoHeight"
      [discard]="config[0].discard"
      [legacyForm]="config[0].legacyForm"
      [ngStyle]="{ display: config.length === 1 ? 'flex' : 'none' }"
      [containerClass]="containerClass"
      [form]="config[0].config.form"
      [options]="config[0].config.options"
      [fields]="config[0].config.fields"
      [model]="config[0].config.model"
      [onDiscard]="config[0].onDiscard"
      [onSave]="config[0].onSave"
      [onPartialSubmit]="config[0].onPartialSave"
      [onModelChange]="config[0].config.onModelChange"
      [maskUntouchedAsInvalid]="config[0].maskUntouchedAsInvalid != undefined ? config[0].maskUntouchedAsInvalid : true"
      [cache]="config[0].cache != undefined ? config[0].cache : true"
      [showErrorIfInvalid]="config[0].showErrorIfInvalid != undefined ? config[0].showErrorIfInvalid : true"
      (save)="onFormSave($event)"
    >
    </app-mat-formly-form>
  </mat-card>
</ng-template>

<ng-template #formHeader>
  <div fxLayout="column" *ngIf="title || subTitle">
    <label class="form-page-title" *ngIf="title">{{ title }}</label>
    <label class="form-page-subtitle" *ngIf="subTitle">{{ subTitle }}</label>
  </div>
</ng-template>
