<div *ngIf="this.flag">
  <mat-label mat-dialog-title class="form-page-title">Immediate Action Taken</mat-label>

  <div fxLayout="row" mat-dialog-content>
    <mat-form-field appearance="outline" fxFlex="100%">
      <mat-label>Immediate Action</mat-label>
      <textarea [(ngModel)]="data.natureOfAction" matInput rows="3"> </textarea>
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end end" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.natureOfAction" color="primary" cdkFocusInitial>Ok</button>
  </div>
</div>
<div *ngIf="!this.flag">
  <mat-label mat-dialog-title class="form-page-title">Action Comment</mat-label>

  <div fxLayout="row" mat-dialog-content>
    <mat-form-field appearance="outline" fxFlex="100%">
      <mat-label>Comment</mat-label>
      <textarea [(ngModel)]="data.natureOfAction" matInput rows="3"> </textarea>
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end end" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.natureOfAction" color="primary" cdkFocusInitial>Ok</button>
  </div>
</div>
