.progress-bar-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  text-align: center;
}

:host ::ng-deep {
  .progress-bar {
    height: 30px;
    border-radius: 8px;
  }
  .mat-progress-bar-buffer,
  .mat-progress-bar.mat-warn .mat-progress-bar-buffer {
    background-color: #e8edf2;
  }
}

.percent-value {
  position: absolute;
  padding: 10px;
  color: white;
  left: 0;
  right: 0;
}

:host ::ng-deep .mat-success .mat-progress-bar-fill::after {
  background: #35ba4d;
}

:host ::ng-deep .mat-warn .mat-progress-bar-fill::after {
  background: #f7ac49;
}

:host ::ng-deep .mat-danger .mat-progress-bar-fill::after {
  background: #f44336;
}

:host ::ng-deep .mat-primary .mat-progress-bar-fill::after {
  background: #bfe841;
}
