<!--<h2 class="from-title">Organization Update Form</h2>-->
<!-- <div class="mat-title mat-org-title">ORGANIZATION FORM</div> -->
<mat-toolbar class="table-heading" fxLayoutAlign="none start">
  <span>
    <mat-card-title class="mat-org-title">Update Organization</mat-card-title>
  </span>
  <span fxFlex></span>
  <span>
    <a class="btn-success" mat-stroked-button routerLink="/organization">
      <mat-icon>arrow_back_ios</mat-icon> Organization
    </a>
  </span>
</mat-toolbar>
<!--<h2 class="from-title mat-org-title">Update Organization</h2>-->
<div class="card-container">
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="organizationFormGroup">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <label class="form-page-title2">Overview</label>
          <label class="form-page-subtitle">BASIC DETAILS</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start organizer-divider">
          <mat-divider class="mat-divider-custom2"></mat-divider>
        </div>
        <br />
        <div class="organization-form1" fxLayout="row">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label color="primary">Name</mat-label>
            <input formControlName="name" matInput placeholder="Name" required />
            <mat-error
              *ngIf="organizationFormGroup.controls.name.invalid && organizationFormGroup.controls.name.touched"
            >
              <span translate>Name is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Domain</mat-label>
            <input formControlName="organisationDomain" matInput placeholder="Domain" required />
            <mat-error
              *ngIf="
                organizationFormGroup.controls.organisationDomain.invalid &&
                organizationFormGroup.controls.organisationDomain.touched
              "
            >
              <span translate>Domain is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <label class="form-page-subtitle">CONTACT DETAILS</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start organizer-divider">
          <mat-divider class="mat-divider-custom2"></mat-divider>
        </div>
        <br />

        <div class="organization-form1" fxLayout="row">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" required type="email" />
            <mat-error
              *ngIf="organizationFormGroup.controls.email.invalid && organizationFormGroup.controls.email.touched"
            >
              <mat-error *ngIf="organizationFormGroup.controls.email.errors.required">
                <span translate>Email is required</span>
              </mat-error>
            </mat-error>
            <mat-error
              *ngIf="organizationFormGroup.controls.email.invalid && organizationFormGroup.controls.email.touched"
            >
              <mat-error *ngIf="organizationFormGroup.controls.email.errors.pattern">
                <span translate>Invalid Email!</span>
              </mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Phone</mat-label>
            <input
              type="text"
              matInput
              ng2TelInput
              [title]="countryCode"
              [ng2TelInputOptions]="{ initialCountry: countrysCode }"
              (hasError)="onError($event)"
              (ng2TelOutput)="getNumber($event)"
              (intlTelInputObject)="telInputObject($event)"
              (countryChange)="onCountryChange($event)"
              formControlName="phone"
            />

            <mat-error
              *ngIf="organizationFormGroup.controls.phone.invalid && organizationFormGroup.controls.phone.touched"
            >
              <mat-error *ngIf="organizationFormGroup.controls.phone.errors.required">
                <span translate>Phone Number is required</span>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between start">
          <label class="form-page-subtitle">ADDRESS DETAILS</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start organizer-divider">
          <mat-divider class="mat-divider-custom2"></mat-divider>
        </div>
        <br />

        <div class="organization-form2" fxLayout="row">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Address Line 1</mat-label>
            <input formControlName="addressLine1" matInput placeholder="Address Line 1" required />
            <mat-error
              *ngIf="
                organizationFormGroup.controls.addressLine1.invalid &&
                organizationFormGroup.controls.addressLine1.touched
              "
            >
              <span translate>Address Line 1 is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="organization-form1" fxLayout="row">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Address Line 2</mat-label>
            <input formControlName="addressLine2" matInput placeholder="Address Line 2" />
            <!--<mat-error
              *ngIf="
                organizationFormGroup.controls.addressLine2.invalid &&
                organizationFormGroup.controls.addressLine2.touched
              "
            >
              <span translate>Address Line 2 is required</span>
            </mat-error>-->
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Address Line 3</mat-label>
            <input formControlName="addressLine3" matInput placeholder="Address Line 3" />
            <!--<mat-error
              *ngIf="
                organizationFormGroup.controls.addressLine3.invalid &&
                organizationFormGroup.controls.addressLine3.touched
              "
            >
              <span translate>Address Line 3 is required</span>
            </mat-error>-->
          </mat-form-field>
        </div>

        <div class="organization-form1" fxLayout="row">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="City" required />
            <mat-error
              *ngIf="organizationFormGroup.controls.city.invalid && organizationFormGroup.controls.city.touched"
            >
              <span translate>City is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>State</mat-label>
            <input formControlName="state" matInput placeholder="State" required />
            <mat-error
              *ngIf="organizationFormGroup.controls.state.invalid && organizationFormGroup.controls.state.touched"
            >
              <span translate>State is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="organization-form3" fxLayout="row">
          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>Country</mat-label>
            <input formControlName="country" matInput placeholder="Country" required />
            <mat-error
              *ngIf="organizationFormGroup.controls.country.invalid && organizationFormGroup.controls.country.touched"
            >
              <span translate>Country is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-field-bt-mg">
            <mat-label>ZipCode</mat-label>
            <input formControlName="zipcode" matInput placeholder="ZipCode" required />
            <mat-error
              *ngIf="organizationFormGroup.controls.zipcode.invalid && organizationFormGroup.controls.zipcode.touched"
            >
              <span translate>Zipcode is required</span>
            </mat-error>
          </mat-form-field>
          <div class="organization-active">
            <section class="example-section action-status">
              <mat-slide-toggle class="example-margin" [color]="color" [checked]="check" formControlName="isActive">
                Active
              </mat-slide-toggle>
            </section>

            <input hidden="true" matInput />
          </div>
        </div>

        <div class="button-section">
          <button class="delete-btn-org" layout-margin="" mat-button type="reset" (click)="overviewReset()">
            Discard
          </button>
          <button
            class="md-raised btn-field-bt-mg mat-button-custom save-btn-org"
            color="primary"
            layout-margin=""
            mat-raised-button
            type="submit"
          >
            Save Changes
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
