:host ::ng-deep .mat-card {
  background: none;
  height: 13vh;
  box-shadow: none;
}

.flex-row-style {
  place-content: center space-evenly;
  align-items: center;
}

:host ::ng-deep .success-button {
  background: #02a921;
  color: white;
  padding: 6px 40px;
  border-radius: 7px;
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 4px;
}

:host ::ng-deep .right-align-btn {
  text-align: center;
}

.heading-row {
  padding-left: 2.4rem;
  margin-bottom: -1rem;
  margin-top: 2rem;
}

.heading {
  font-weight: 600;
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
  color: #16569e;
  text-transform: uppercase;
}

.card-style {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-top: 2rem;
}

.details-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-right: 1.8rem;
  padding: 1.8rem;
}
