<mat-card class="container">
  <mat-card-content>
    <!-- <app-toolbar
    title="Closeout Status"
      subtitle="ALL CLOSEOUT STATUS"
       ></app-toolbar> -->
    <span></span>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="heading-row">
      <div fxFlex="28%" class="heading">Vessel</div>
      <div fxFlex="28%" class="heading">Inspection Type</div>
      <div fxFlex="25%" class="heading">Oil Majors</div>
      <div fxFlex></div>
    </div>
    <app-form [config]="formlyConfig" containerClass="mat-card"></app-form>
  </mat-card-content>
</mat-card>

<!-- <mat-card>
  <mat-card-content>
       <span></span>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="card-style">
      <div fxFlex class="details-card">
        It is possible to disable the entire select or individual options in the select by using the disabled property on the  or elements respectively.
      </div>
    </div>
  </mat-card-content>
</mat-card> -->
