<mat-card>
  <ng-container *ngTemplateOutlet="header"> </ng-container>
  <ng-container *ngTemplateOutlet="content"> </ng-container>
  <ng-container *ngTemplateOutlet="footer"> </ng-container>
</mat-card>
