// Themes for ag-grid
.ag-theme-material {
  height: inherit;

  .ag-header {
    background-color: #51baf3;
    color: #fff;
    font-size: 20px;
  }

  .ag-header:hover {
    background-color: #51baf3;
    color: #000;
    font-size: 20px;
  }

  .ag-header-cell-text {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  .ag-header-cell {
    background-color: #51baf3;
  }

  /* Group Header CSS Refer Plan in Planning and Approval Module */
  .ag-header-group-cell:hover {
    /* stylelint-disable */
    background-color: #24a1e5 !important;
    /* stylelint-enable */
  }

  .group-header-custom {
    background-color: #16569e;
    border-radius: 0;
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
  }

  .group-header-custom-light {
    background-color: #24a1e5;
    border-radius: 0;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
  }

  .border-right-1px {
    border-right: 1px solid white;
  }

  .border-left-1px {
    border-left: 1px solid white;
  }

  .border-right-1px-c2 {
    border-right: 1px solid #c0c7ce;
  }

  .border-left-1px-c2 {
    border-left: 1px solid #c0c7ce;
  }

  .no-border-top {
    border-top: none;
  }

  /* Group Header CSS Refer Plan in Planning and Approval Module */

  /* Custom CSS that can be applied to cellClass Property of a Grid Cell */
  .custom-line-height {
    line-height: 22px;
  }

  .custom-line-height-16px {
    line-height: 16px;
  }

  .bold-text {
    font-weight: 600;
    color: #414b57;
    text-transform: capitalize;
  }

  .danger-text {
    font-weight: 600;
    color: #ea7180;
  }

  /* Custom CSS that can be applied to cellClass Property of a Grid Cell */

  /* Group Header CSS    .ag-header-cell-text {
      color: #000;
    }
  }
  */

  .ag-header-cell:hover {
    /* stylelint-disable */
    background-color: #51baf3 !important;

    .ag-header-cell-text {
      color: white !important;
    }

    .ag-icon {
      color: white !important;
    }

    /* stylelint-enable */
  }

  .ag-root-wrapper {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    color: #23a9f4;
  }

  .ag-side-button {
    background-color: #fff;
    margin-top: 24px;
    height: 100px;
  }

  .ag-side-button-button.ag-side-button-button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: white;
    padding: 16px 0;
    width: 100%;
    margin: 0;
    min-height: 144px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border: none;
  }

  .ag-side-bar {
    background: linear-gradient(#51baf3 20%, white 50%);
  }

  .ag-column-select-header {
    background-color: #51baf3;
    color: #fff;
  }

  .ag-tool-panel-wrapper {
    overflow: hidden;
  }

  .ag-icon-custom-stats {
    background: transparent url("https://img.icons8.com/wired/64/000000/cargo-ship.png") no-repeat center;
    background-size: 16px 20px;
    height: 20px;
    opacity: 0.87;
    width: 16px;
    display: inline-block;
  }

  .ag-paging-panel {
    align-items: center;
    display: flex;
    justify-content: normal;
    color: black;
    font-weight: 500;
  }

  .ag-paging-page-summary-panel {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }

  .ag-icon-last::before {
    display: none;
  }

  .ag-icon-first::before {
    display: none;
  }

  .ag-cell-inline-editing {
    border-color: #16569e;
    border-color: var(--ag-input-focus-border-color, var(--ag-material-accent-color, #16569e));
    outline: 1px solid #16569e;
  }

  .ag-ltr .ag-group-contracted,
  .ag-theme-material .ag-ltr .ag-group-expanded,
  .ag-theme-material .ag-ltr .ag-row-drag,
  .ag-theme-material .ag-ltr .ag-selection-checkbox {
    margin-right: 5px;
  }
}
