.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}

.remove-btn {
  margin-bottom: 22px;
  background: #fb0606;
  color: #fff;
  height: 40px;
}

.warn {
  background-color: #fb0606;
  color: #fff;
}

.add-btn {
  background: #e4e8f0;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.badge {
  padding: 11px 15px;
  border-radius: 7px;

  &.badge-default {
    background: #8798ad;
    color: white;
  }

  &.badge-success {
    background: #1cbb52;
    color: white;
  }

  &.badge-danger {
    background: #f64e4e;
    color: white;
  }
  &.badge-flat {
    background: transparent;
    border: 1px solid #8798ad;
    color: #8798ad;
  }
}

.hidden {
  display: none;
}

.mat-ripple-element {
  display: none;
}

.pl-0 {
  padding-left: 0;
}
.confirmation-header {
  color: #9db8d6;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.confirmation-content {
  font-family: Roboto, sans-serif;
  padding: 1rem 0;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.position-relative {
  position: relative;
}

.display-flex,
.row {
  display: flex;
}
.flex-1,
.col-1 {
  flex: 1;
}
.flex-2,
.col-2 {
  flex: 2;
}
.flex-3,
.col-3 {
  flex: 3;
}
.flex-4,
.col-4 {
  flex: 4;
}

.fw-500 {
  font-weight: 500;
}

.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.full-width {
  width: 100%;
}
