<!-- <div class="container" *ngIf="!isOrganization && !isUpdateOrganization">
  <app-organization-table (parentFun)="parentFun()"></app-organization-table>
</div>
<div class="container" *ngIf="isOrganization && !isUpdateOrganization">
  <app-organization-form></app-organization-form>
</div>

<div class="container" *ngIf="isUpdateOrganization">
  <app-organization-update-form></app-organization-update-form>
</div> -->

<router-outlet></router-outlet>
