<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Update Port"
      subtitle=" UPDATE PORT"
      navigateButtonTitle="Port"
      buttonIcon="arrow_back_ios"
      (ngNavigateClick)="navigateBack()"
    ></app-toolbar>
    <app-form [config]="formlyConfig"> </app-form>
  </mat-card-content>
</mat-card>
