<!-- <div *ngIf="!isNewThirdParty" class="container">
  <app-third-party-sharing-table></app-third-party-sharing-table>
</div>
<div *ngIf="isNewThirdParty" class="container">
  <app-third-party-sharing-form></app-third-party-sharing-form>
</div> -->
<!--<app-third-party-sharing-filter ></app-third-party-sharing-filter>-->

<router-outlet></router-outlet>
