table {
  width: 100%;
}

.fleet-table .fleet-last-action {
  text-align: center;
}

.table-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 34px;
}

.table-page-title {
  font-size: 20px;
  font-weight: 600;
  color: #16569e;
  margin-left: 5px;
}

tr {
  height: 40px;
}

.mat-content {
  margin: 0 20px;
}

.mat-content-details {
  margin: 0 20px;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #51baf3;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}

.text-center {
  text-align: center;
}

.action-buttons {
  color: gray;
  border: unset;
  background: unset;
}

.fleets-section1 {
  display: inline-block;
}
.fleets-section2 {
  display: inline-block;
  box-sizing: border-box;
  float: right;
}

.mat-main-content {
  padding: 0 20px;
}

.fleet-mat-icons {
  color: gray;
  margin-right: -11px;
}

.btn-field-bt-mg {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
}

.btn-success {
  background-color: #02a921;
  color: #fff;
}

.fleet-heading {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.fleet-subtitle {
  color: #16569e;
  font-weight: bold;
  font-size: 12px;
}

.fleet-section1 {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  float: left;
}

/* Details page design */
.mat-label {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.mat-label-data {
  font-size: 14px;
  color: #16569e;
  margin: 5px;
}

.mat-card > .mat-card-content > .mat-divider-fleet-notification {
  border-top-width: 2px;
  border-top-color: #16569e;
  margin-left: 40px;
  width: 94%;
}

.mat-card-style {
  box-shadow: 2px 2px 2px transparent;
  background-color: transparent;
}

.iconbutton-custom {
  color: gray;
  margin-right: -11px;
}

.icons-fleet mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
.icons-fleet button {
  font-size: 20px;
}

.mat-header-row {
  height: 40px;
}
::ng-deep .mat-paginator-page-size-select {
  width: 35px;
}

.new-fleet-btn {
  margin-right: 24px;
}

.example-element-diagram {
  width: 100%;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 40px;
}
.mat-card-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #a7aeb3;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
.mat-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.col-header-color {
  background-color: #16569e;
}
.mrg-lft-exprt-btn {
  margin-left: 11px;
}
.mrg-lft-prp-btn {
  margin-left: 20px;
}
.cstm-style-ag-grid {
  width: 100%;
  height: inherit;
}
.msg {
  position: relative;
  right: 5px;
  top: 6px;
}

.container {
  background: transparent;
}

.btn2 {
  color: white;
  background: darkblue;
  border-radius: 8px;
  width: 85px;
  font-size: 14px;
}
.btn1 {
  color: white;
  background: grey;
  border-radius: 3px;
}
ag-cell-auto-height ag-cell-value ag-cell-focus {
  background-color: red;
}

.cstm-pading {
  background-color: darkblue;
  padding: 19px;
}

.cstm-label {
  color: white;
  font-size: 13px;
  font-weight: 500;
}
.cstm-label1 {
  font-size: 13px;
  font-weight: 500;
}
.cstm-btn {
  height: 35px;
  margin-top: 16px;
  margin-left: 32px;
  font-size: 13px;
  font-weight: 500;
}

.cstm-label2 {
  color: darkblue;
  font-size: 13px;
  font-weight: 500;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}
.new2 {
  border-top: 1px dashed #e9ecef;
  width: 87px;
  margin-left: 4px;
}

.new3 {
  border: 1px solid #e9ecef;
}
.cstm-hr {
  border: 1px solid;
  color: whitesmoke;
  margin-top: 10px;
  margin-left: -45px;
}
.cstm-row-border {
  border-top: 1px solid #e9ecef;
  padding-top: 16px;
  border-bottom: 1px solid #e9ecef;
}
.pic {
  width: 17px;
  border-radius: 15px;
}
.new-row {
  border-top: 1px solid #e9ecef;
  padding-top: 16px;
  padding-bottom: 16px;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
.modal-footer > :not(:last-child) {
  margin-right: 2.25rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
}
.modal-dialog {
  max-width: 543px;
  margin: 1.75rem auto;
}
.mdl-div-bg {
  background: #0b0a0a9c;
}
.mdl-body-pd {
  padding: 19px;
}
.task-icon-styl {
  font-size: 18px;
  position: absolute;
  top: 3px;
}
.cstm-div-style {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.mg-btm {
  margin-bottom: 15px;
}
.mg-top {
  margin-top: 15px;
}
.txt-brdr {
  border-radius: 4px;
}
.fnt-size {
  font-size: 23px;
}
.mg-lft {
  margin-left: -10px;
}
/// ag-grid css
.ag-theme-material .ag-header {
  background-color: #51baf3;
}
.ag-pivot-off .ag-header {
  background-color: #51baf3;
}

:host ::ng-deep .ag-group-value {
  font-weight: 500;
}

:host ::ng-deep .mat-progress-bar {
  height: 10px;
}

:host ::ng-deep .ag-header-cell[class*="month-"] {
  background-color: #378dcc;
  border-right: #5db2e5;
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

::ng-deep .ag-theme-material .ag-cell.month-cell {
  padding-left: 0;
  padding-right: 0;
}

.mat-table {
  background: transparent;
  box-shadow: none;
}

::ng-deep .mat-table .mat-header-cell {
  background: transparent;
  border: none;
}

.hform-hr {
  margin-left: -24px;
  margin-right: -24px;
  border-color: #4578b1;
}

::ng-deep .header-form .mat-form-field-label {
  color: #9db8d6;
}
::ng-deep .header-form .mat-form-field-underline {
  display: none;
}

::ng-deep .status > .mat-form-field-wrapper > .mat-form-field-flex {
  background-color: #708baa;
}

::ng-deep .ag-theme-material .ag-root-wrapper {
  border-radius: 0;
}

.history-remark {
  padding: 20px;
  margin: 0 -24px;
  border-bottom: 1px solid #c3cbd6;
  color: #8798ad;
}

.bg-dark {
  background-color: #24569e;
  color: #fff;
}

.spacer-full {
  flex: 1 1 auto;
}

.mat-radio-outer-circle {
  border: 1px solid #fff;
}

.text-muted {
  opacity: 0.5;
}

.ml-4 {
  margin-left: 2.5rem;
}

.inspection-group {
  height: auto;

  .section-tab {
    margin-top: 2rem;
    padding: 16px 24px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
    background-color: #24569e;
  }

  ag-grid-angular {
    height: auto;
  }
}
