<mat-card class="container">
  <mat-card-content>
    <app-toolbar
      title="Inspections"
      navigateButtonTitle="ADD NEW"
      (ngFilter)="onSubmit(0)"
      (ngNavigateClick)="onCreateForm()"
    ></app-toolbar>

    <div class="container inspection-group">
      <!-- Repeat the following section starts -->
      <div class="section-tab">VESSEL 61</div>

      <app-ag-grid
        class="ag-theme-material"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [rowSelection]="'multiple'"
        [pagination]="false"
        [paginationPageSize]="2"
        [animateRows]="true"
        [rowData]="rowData"
        [defaultColDef]="defaultColDef"
        [allowContextMenuWithControlKey]="true"
        [domLayout]="domLayout"
        [frameworkComponents]="frameworkComponents"
        [icons]="icons"
        [headerHeight]="38"
      >
      </app-ag-grid>
      <!-- Repeat the following section end -->

      <!-- Repeating for DEMO ONLY starts -->
      <div class="section-tab">VESSEL 61</div>

      <app-ag-grid
        class="ag-theme-material"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [rowSelection]="'multiple'"
        [pagination]="false"
        [paginationPageSize]="2"
        [animateRows]="true"
        [rowData]="rowData"
        [defaultColDef]="defaultColDef"
        [allowContextMenuWithControlKey]="true"
        [domLayout]="domLayout"
        [frameworkComponents]="frameworkComponents"
        [icons]="icons"
        [headerHeight]="38"
      >
      </app-ag-grid>
      <!-- Repeating for DEMO ONLY end -->
    </div>
  </mat-card-content>
</mat-card>
